<div class="left_nav" ng-class="{'left_nav_price_list':mainLeftSwitch.priceListFlag == true}">
    <div ng-if = "mainLeftSwitch.peopleListFlag" class="left_nav_box people_list ">
        <div class="search">
            <span ng-click="searchRecord()" class="ser_ion"></span>
            <input ng-model="param.queryField" type="text" placeholder="用户名或者手机号搜索">
            <span ng-click="cancelSearch()" class="cancel">取消</span>
        </div>
        <div class="list">
            <div ng-repeat="bigItem in info">
                <div ng-repeat="(key,value) in bigItem">
                    <div  class="letter">{{key}}</div>
                    <ul>
                        <li ng-repeat="item in value"  ng-click="selectSty(item.id,item.sysUserId,item.shopid)" ng-class="{'select_sty':param.selectSty == item.id}"  class="user_info">
                            <div class="user_img"></div>
                            <div class="user_mobile">
                                <span class="name">{{item.sysClerkName}}</span>
                                <span class="mobile"><i></i>{{item.phone}}</span>
                            </div>
                            <div class="user_more"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--价目表部分-->
    <div ng-if = "mainLeftSwitch.priceListFlag" class="left_nav_box price_list">
        <div class="price_list_box">
            <ul>
                <li ng-click="selectPriceType('xm')" ng-class="{'select_price_type':param.priceType == 'xm'}">
                    <i></i>
                    项目
                </li>
                <li ng-click="selectPriceType('cp')" ng-class="{'select_price_type':param.priceType == 'cp'}">
                    <i></i>
                    产品
                </li>
                <li ng-click="selectPriceType('tk')" ng-class="{'select_price_type':param.priceType == 'tk'}">
                    <i></i>
                    套卡
                </li>
                <li ng-click="selectPriceType('czk')" ng-class="{'select_price_type':param.priceType == 'czk'}">
                    <i></i>
                    充值卡
                </li>
            </ul>
        </div>

    </div>
    <!--内容部分-->
    <div ui-view style="height: 100%"></div>
</div>