<div ng-class="{'header_top_nor':!mainSwitch.headerBoxFlag,'header_bottom_nor':!mainSwitch.footerBoxFlag}" class="top_bottom">
    <div ng-if="mainSwitch.headerBoxFlag" class="header">

        <!--预约头部-->
        <div ng-if="mainSwitch.headerReservationAllFlag" class="header_box">
            <div ng-if = "mainSwitch.headerReservationFlag.headerReservationLeftFlag" class="header_reservation_left">

            </div>
            <div ng-if = "mainSwitch.headerReservationFlag.headerReservationMiddleFlag" class="header_reservation_middle">
                <div class=header_middle_box>
                    <div ng-click="switchType('day')" ng-class="{'tab_sty':param.tabSty == 'day'}" class="day">日预约</div>
                    <div ng-click="switchType('week')"ng-class="{'tab_sty':param.tabSty == 'week'}" class="week">周预约</div>
                </div>
            </div>
            <div ng-if = "mainSwitch.headerReservationFlag.headerReservationRightFlag" class="header_reservation_right">
                排班
            </div>
        </div>

        <!--收银头部/档案头部/我的头部-->
        <div ng-if="mainSwitch.headerCashAllFlag" class="header_box">
            <div class="header_cash_left">
                {{param.headerCash.leftContent}}
                <span class="addrecord">{{param.headerCash.leftAddContent}}</span>
            </div>
            <div  class="header_cash_right">
                <span ng-if = "mainSwitch.headerCashFlag.headerCashRightFlag.leftFlag" class="backone"><i></i>{{param.headerCash.backContent}}</span>
                <span ng-if = "mainSwitch.headerCashFlag.headerCashRightFlag.middleFlag" class="title">{{param.headerCash.title}}</span>
                <span ng-if = "mainSwitch.headerCashFlag.headerCashRightFlag.rightFlag" class="save">{{param.headerCash.leftTip}}</span>
            </div>
        </div>


        <!--登录头部-->
        <div ng-if="mainSwitch.headerLoginFlag" class="header_box">
            <div class="header_login">登录</div>
        </div>

        <!--价目表头部-->
        <div ng-if = "mainSwitch.headerPriceListAllFlag" class="header_box">
            <div ng-if = "!mainSwitch.headerPriceListBlackFlag" class="header_price_box">
                <span class="header_price_left"><i></i>{{param.headerPrice.backContent}}</span>
                <div class="header_price_right">{{param.headerPrice.title}}</div>
            </div>
            <div ng-if = "mainSwitch.headerPriceListBlackFlag" class="header_price_box">
                <div class="header_price_black_l">

                </div>
                <div class="header_price_black_r">
                    <div class="black_r_title">{{param.headerPrice.blackTitle}}</div>
                    <span class="black_r_search"><i></i>{{param.headerPrice.blackBackContent}}</span>
                </div>
            </div>
        </div>

    </div>



    <!--中心切换区域-->

    <div ui-view style="height: 100%"></div>
    <div ng-if = "mainSwitch.footerBoxFlag" class="footer">
        <div class="footer_box">
            <ul>
                <li ng-click="selectSty('yuyue')" ng-class="{'top_bottom_select':param.top_bottomSelect == 'yuyue'}"><span></span>预约</li>
                <li ng-click="selectSty('shouyin')" ng-class="{'top_bottom_select':param.top_bottomSelect == 'shouyin'}"><span></span>收银</li>
                <li ng-click="selectSty('kaoqin')" ng-class="{'top_bottom_select':param.top_bottomSelect == 'kaoqin'}"><span></span>考勤</li>
                <li ng-click="selectSty('jiamubiao')" ng-class="{'top_bottom_select':param.top_bottomSelect == 'jiamubiao'}"><span></span>价目表</li>
                <li ng-click="selectSty('wo')" ng-class="{'top_bottom_select':param.top_bottomSelect == 'wo'}"><span></span>我</li>
            </ul>
        </div>
    </div>
</div>