<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopUserConsumeRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopUserConsumeRecordDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="flow_id" property="flowId" jdbcType="VARCHAR" />
    <result column="flow_name" property="flowName" jdbcType="VARCHAR" />
    <result column="flow_no" property="flowNo" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="sys_user_name" property="sysUserName" jdbcType="VARCHAR" />
    <result column="consume_number" property="consumeNumber" jdbcType="INTEGER" />
    <result column="goods_type" property="goodsType" jdbcType="CHAR" />
    <result column="consume_type" property="consumeType" jdbcType="CHAR" />
    <result column="sys_boss_code" property="sysBossCode" jdbcType="VARCHAR" />
    <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR" />
    <result column="sys_shop_name" property="sysShopName" jdbcType="VARCHAR" />
    <result column="sys_clerk_id" property="sysClerkId" jdbcType="VARCHAR" />
    <result column="sys_clerk_name" property="sysClerkName" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="discount" property="discount" jdbcType="REAL" />
    <result column="time_discount" property="timeDiscount" jdbcType="REAL" />
    <result column="period_discount" property="periodDiscount" jdbcType="REAL" />
    <result column="product_discount" property="productDiscount" jdbcType="REAL" />
    <result column="oper_date" property="operDate" jdbcType="TIMESTAMP" />
    <result column="pay_type" property="payType" jdbcType="CHAR" />
    <result column="sign_url" property="signUrl" jdbcType="VARCHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, flow_id, flow_name, flow_no, sys_user_id, sys_user_name, consume_number, goods_type, 
    consume_type, sys_boss_code, sys_shop_id, sys_shop_name, sys_clerk_id, sys_clerk_name, 
    price, discount, time_discount, period_discount, product_discount, oper_date, pay_type, 
    sign_url, detail, status, create_by, create_date, update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_user_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_user_consume_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_user_consume_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordCriteria" >
    delete from shop_user_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordDTO" >
    insert into shop_user_consume_record (id, flow_id, flow_name, 
      flow_no, sys_user_id, sys_user_name, 
      consume_number, goods_type, consume_type, 
      sys_boss_code, sys_shop_id, sys_shop_name, 
      sys_clerk_id, sys_clerk_name, price, 
      discount, time_discount, period_discount, 
      product_discount, oper_date, pay_type, 
      sign_url, detail, status, 
      create_by, create_date, update_user, 
      update_date)
    values (#{id,jdbcType=VARCHAR}, #{flowId,jdbcType=VARCHAR}, #{flowName,jdbcType=VARCHAR}, 
      #{flowNo,jdbcType=VARCHAR}, #{sysUserId,jdbcType=VARCHAR}, #{sysUserName,jdbcType=VARCHAR}, 
      #{consumeNumber,jdbcType=INTEGER}, #{goodsType,jdbcType=CHAR}, #{consumeType,jdbcType=CHAR}, 
      #{sysBossCode,jdbcType=VARCHAR}, #{sysShopId,jdbcType=VARCHAR}, #{sysShopName,jdbcType=VARCHAR}, 
      #{sysClerkId,jdbcType=VARCHAR}, #{sysClerkName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{discount,jdbcType=REAL}, #{timeDiscount,jdbcType=REAL}, #{periodDiscount,jdbcType=REAL}, 
      #{productDiscount,jdbcType=REAL}, #{operDate,jdbcType=TIMESTAMP}, #{payType,jdbcType=CHAR}, 
      #{signUrl,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordDTO" >
    insert into shop_user_consume_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="flowId != null" >
        flow_id,
      </if>
      <if test="flowName != null" >
        flow_name,
      </if>
      <if test="flowNo != null" >
        flow_no,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="sysUserName != null" >
        sys_user_name,
      </if>
      <if test="consumeNumber != null" >
        consume_number,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="consumeType != null" >
        consume_type,
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code,
      </if>
      <if test="sysShopId != null" >
        sys_shop_id,
      </if>
      <if test="sysShopName != null" >
        sys_shop_name,
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id,
      </if>
      <if test="sysClerkName != null" >
        sys_clerk_name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="timeDiscount != null" >
        time_discount,
      </if>
      <if test="periodDiscount != null" >
        period_discount,
      </if>
      <if test="productDiscount != null" >
        product_discount,
      </if>
      <if test="operDate != null" >
        oper_date,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="signUrl != null" >
        sign_url,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="flowId != null" >
        #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="flowName != null" >
        #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null" >
        #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="consumeNumber != null" >
        #{consumeNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=CHAR},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=CHAR},
      </if>
      <if test="sysBossCode != null" >
        #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null" >
        #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=REAL},
      </if>
      <if test="timeDiscount != null" >
        #{timeDiscount,jdbcType=REAL},
      </if>
      <if test="periodDiscount != null" >
        #{periodDiscount,jdbcType=REAL},
      </if>
      <if test="productDiscount != null" >
        #{productDiscount,jdbcType=REAL},
      </if>
      <if test="operDate != null" >
        #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=CHAR},
      </if>
      <if test="signUrl != null" >
        #{signUrl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordCriteria" resultType="java.lang.Integer" >
    select count(1) from shop_user_consume_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update shop_user_consume_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.flowId != null" >
        flow_id = #{record.flowId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowName != null" >
        flow_name = #{record.flowName,jdbcType=VARCHAR},
      </if>
      <if test="record.flowNo != null" >
        flow_no = #{record.flowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserId != null" >
        sys_user_id = #{record.sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserName != null" >
        sys_user_name = #{record.sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeNumber != null" >
        consume_number = #{record.consumeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=CHAR},
      </if>
      <if test="record.consumeType != null" >
        consume_type = #{record.consumeType,jdbcType=CHAR},
      </if>
      <if test="record.sysBossCode != null" >
        sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null" >
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopName != null" >
        sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkId != null" >
        sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkName != null" >
        sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.discount != null" >
        discount = #{record.discount,jdbcType=REAL},
      </if>
      <if test="record.timeDiscount != null" >
        time_discount = #{record.timeDiscount,jdbcType=REAL},
      </if>
      <if test="record.periodDiscount != null" >
        period_discount = #{record.periodDiscount,jdbcType=REAL},
      </if>
      <if test="record.productDiscount != null" >
        product_discount = #{record.productDiscount,jdbcType=REAL},
      </if>
      <if test="record.operDate != null" >
        oper_date = #{record.operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=CHAR},
      </if>
      <if test="record.signUrl != null" >
        sign_url = #{record.signUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update shop_user_consume_record
    set id = #{record.id,jdbcType=VARCHAR},
      flow_id = #{record.flowId,jdbcType=VARCHAR},
      flow_name = #{record.flowName,jdbcType=VARCHAR},
      flow_no = #{record.flowNo,jdbcType=VARCHAR},
      sys_user_id = #{record.sysUserId,jdbcType=VARCHAR},
      sys_user_name = #{record.sysUserName,jdbcType=VARCHAR},
      consume_number = #{record.consumeNumber,jdbcType=INTEGER},
      goods_type = #{record.goodsType,jdbcType=CHAR},
      consume_type = #{record.consumeType,jdbcType=CHAR},
      sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      discount = #{record.discount,jdbcType=REAL},
      time_discount = #{record.timeDiscount,jdbcType=REAL},
      period_discount = #{record.periodDiscount,jdbcType=REAL},
      product_discount = #{record.productDiscount,jdbcType=REAL},
      oper_date = #{record.operDate,jdbcType=TIMESTAMP},
      pay_type = #{record.payType,jdbcType=CHAR},
      sign_url = #{record.signUrl,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordDTO" >
    update shop_user_consume_record
    <set >
      <if test="flowId != null" >
        flow_id = #{flowId,jdbcType=VARCHAR},
      </if>
      <if test="flowName != null" >
        flow_name = #{flowName,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        flow_no = #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null" >
        sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="consumeNumber != null" >
        consume_number = #{consumeNumber,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=CHAR},
      </if>
      <if test="consumeType != null" >
        consume_type = #{consumeType,jdbcType=CHAR},
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null" >
        sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=REAL},
      </if>
      <if test="timeDiscount != null" >
        time_discount = #{timeDiscount,jdbcType=REAL},
      </if>
      <if test="periodDiscount != null" >
        period_discount = #{periodDiscount,jdbcType=REAL},
      </if>
      <if test="productDiscount != null" >
        product_discount = #{productDiscount,jdbcType=REAL},
      </if>
      <if test="operDate != null" >
        oper_date = #{operDate,jdbcType=TIMESTAMP},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="signUrl != null" >
        sign_url = #{signUrl,jdbcType=VARCHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopUserConsumeRecordDTO" >
    update shop_user_consume_record
    set flow_id = #{flowId,jdbcType=VARCHAR},
      flow_name = #{flowName,jdbcType=VARCHAR},
      flow_no = #{flowNo,jdbcType=VARCHAR},
      sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      consume_number = #{consumeNumber,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=CHAR},
      consume_type = #{consumeType,jdbcType=CHAR},
      sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=REAL},
      time_discount = #{timeDiscount,jdbcType=REAL},
      period_discount = #{periodDiscount,jdbcType=REAL},
      product_discount = #{productDiscount,jdbcType=REAL},
      oper_date = #{operDate,jdbcType=TIMESTAMP},
      pay_type = #{payType,jdbcType=CHAR},
      sign_url = #{signUrl,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>