<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.beauty.core.mapper.ShopCustomerArchivesMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopCustomerArchivesDTO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="sys_shop_id" jdbcType="VARCHAR" property="sysShopId" />
    <result column="sys_shop_name" jdbcType="VARCHAR" property="sysShopName" />
    <result column="sys_clerk_id" jdbcType="VARCHAR" property="sysClerkId" />
    <result column="sys_clerk_name" jdbcType="VARCHAR" property="sysClerkName" />
    <result column="image_rul" jdbcType="VARCHAR" property="imageRul" />
    <result column="sys__customer_name" jdbcType="VARCHAR" property="sysCustomerName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sys_customer_id" jdbcType="VARCHAR" property="sysCustomerId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="constellation" jdbcType="VARCHAR" property="constellation" />
    <result column="blood_type" jdbcType="VARCHAR" property="bloodType" />
    <result column="height" jdbcType="REAL" property="height" />
    <result column="weight" jdbcType="REAL" property="weight" />
    <result column="sys_customer_type" jdbcType="VARCHAR" property="sysCustomerType" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sys_shop_id, sys_shop_name, sys_clerk_id, sys_clerk_name, image_rul, sys__customer_name, 
    phone, sys_customer_id, sex, birthday, age, constellation, blood_type, height, weight, 
    sys_customer_type, channel, detail, create_by, create_date, update_user, update_date
  </sql>
  <select id="selectByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_customer_archives
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0">
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_customer_archives
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shop_customer_archives
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesCriteria">
    delete from shop_customer_archives
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesDTO">
    insert into shop_customer_archives (id, sys_shop_id, sys_shop_name, 
      sys_clerk_id, sys_clerk_name, image_rul, 
      sys__customer_name, phone, sys_customer_id, 
      sex, birthday, age, 
      constellation, blood_type, height, 
      weight, sys_customer_type, channel, 
      detail, create_by, create_date,
      update_user, update_date)
    values (#{id,jdbcType=VARCHAR}, #{sysShopId,jdbcType=VARCHAR}, #{sysShopName,jdbcType=VARCHAR}, 
      #{sysClerkId,jdbcType=VARCHAR}, #{sysClerkName,jdbcType=VARCHAR}, #{imageRul,jdbcType=VARCHAR}, 
      #{sysCustomerName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sysCustomerId,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{birthday,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{constellation,jdbcType=VARCHAR}, #{bloodType,jdbcType=VARCHAR}, #{height,jdbcType=REAL}, 
      #{weight,jdbcType=REAL}, #{sysCustomerType,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, 
      #{detail,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
      #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesDTO">
    insert into shop_customer_archives
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysShopId != null">
        sys_shop_id,
      </if>
      <if test="sysShopName != null">
        sys_shop_name,
      </if>
      <if test="sysClerkId != null">
        sys_clerk_id,
      </if>
      <if test="sysClerkName != null">
        sys_clerk_name,
      </if>
      <if test="imageRul != null">
        image_rul,
      </if>
      <if test="sysCustomerName != null">
        sys__customer_name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="sysCustomerId != null">
        sys_customer_id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="constellation != null">
        constellation,
      </if>
      <if test="bloodType != null">
        blood_type,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="sysCustomerType != null">
        sys_customer_type,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null">
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null">
        #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null">
        #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null">
        #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="imageRul != null">
        #{imageRul,jdbcType=VARCHAR},
      </if>
      <if test="sysCustomerName != null">
        #{sysCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sysCustomerId != null">
        #{sysCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="constellation != null">
        #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=REAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=REAL},
      </if>
      <if test="sysCustomerType != null">
        #{sysCustomerType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesCriteria" resultType="java.lang.Integer">
    select count(1) from shop_customer_archives
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update shop_customer_archives
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null">
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopName != null">
        sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkId != null">
        sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkName != null">
        sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="record.imageRul != null">
        image_rul = #{record.imageRul,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCustomerName != null">
        sys__customer_name = #{record.sysCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCustomerId != null">
        sys_customer_id = #{record.sysCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null">
        sex = #{record.sex,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null">
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null">
        age = #{record.age,jdbcType=INTEGER},
      </if>
      <if test="record.constellation != null">
        constellation = #{record.constellation,jdbcType=VARCHAR},
      </if>
      <if test="record.bloodType != null">
        blood_type = #{record.bloodType,jdbcType=VARCHAR},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=REAL},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=REAL},
      </if>
      <if test="record.sysCustomerType != null">
        sys_customer_type = #{record.sysCustomerType,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null">
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update shop_customer_archives
    set id = #{record.id,jdbcType=VARCHAR},
      sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      image_rul = #{record.imageRul,jdbcType=VARCHAR},
      sys__customer_name = #{record.sysCustomerName,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      sys_customer_id = #{record.sysCustomerId,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=INTEGER},
      constellation = #{record.constellation,jdbcType=VARCHAR},
      blood_type = #{record.bloodType,jdbcType=VARCHAR},
      height = #{record.height,jdbcType=REAL},
      weight = #{record.weight,jdbcType=REAL},
      sys_customer_type = #{record.sysCustomerType,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesDTO">
    update shop_customer_archives
    <set>
      <if test="sysShopId != null">
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null">
        sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null">
        sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null">
        sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="imageRul != null">
        image_rul = #{imageRul,jdbcType=VARCHAR},
      </if>
      <if test="sysCustomerName != null">
        sys__customer_name = #{sysCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sysCustomerId != null">
        sys_customer_id = #{sysCustomerId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="constellation != null">
        constellation = #{constellation,jdbcType=VARCHAR},
      </if>
      <if test="bloodType != null">
        blood_type = #{bloodType,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=REAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=REAL},
      </if>
      <if test="sysCustomerType != null">
        sys_customer_type = #{sysCustomerType,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopCustomerArchivesDTO">
    update shop_customer_archives
    set sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      image_rul = #{imageRul,jdbcType=VARCHAR},
      sys__customer_name = #{sysCustomerName,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sys_customer_id = #{sysCustomerId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      constellation = #{constellation,jdbcType=VARCHAR},
      blood_type = #{bloodType,jdbcType=VARCHAR},
      height = #{height,jdbcType=REAL},
      weight = #{weight,jdbcType=REAL},
      sys_customer_type = #{sysCustomerType,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

</mapper>