<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopClerkWorkRecordMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopClerkWorkRecordDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="consume_record_id" property="consumeRecordId" jdbcType="VARCHAR"/>
    <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR" />
    <result column="sys_clerk_id" property="sysClerkId" jdbcType="VARCHAR" />
    <result column="flow_no" property="flowNo" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="goods_type" property="goodsType" jdbcType="CHAR" />
    <result column="consume_type" property="consumeType" jdbcType="CHAR" />
    <result column="pay_type" property="payType" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, consume_record_id, sys_shop_id, sys_clerk_id, flow_no, price, goods_type, consume_type,
    pay_type, create_by, update_user, create_date, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_clerk_work_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_clerk_work_record
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_clerk_work_record
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordCriteria" >
    delete from shop_clerk_work_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordDTO" >
    insert into shop_clerk_work_record (id, consume_record_id, sys_shop_id,
    sys_clerk_id, flow_no, price,
    goods_type, consume_type, pay_type,
    create_by, update_user, create_date,
    update_date)
    values (#{id,jdbcType=VARCHAR}, #{consumeRecordId,jdbcType=VARCHAR}, #{sysShopId,jdbcType=VARCHAR},
    #{sysClerkId,jdbcType=VARCHAR}, #{flowNo,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
    #{goodsType,jdbcType=CHAR}, #{consumeType,jdbcType=CHAR}, #{payType,jdbcType=CHAR},
    #{createBy,jdbcType=VARCHAR}, #{updateUser,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
    #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordDTO" >
    insert into shop_clerk_work_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="consumeRecordId != null">
        consume_record_id,
      </if>
      <if test="sysShopId != null" >
        sys_shop_id,
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id,
      </if>
      <if test="flowNo != null" >
        flow_no,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="goodsType != null" >
        goods_type,
      </if>
      <if test="consumeType != null" >
        consume_type,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="consumeRecordId != null">
        #{consumeRecordId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null" >
        #{goodsType,jdbcType=CHAR},
      </if>
      <if test="consumeType != null" >
        #{consumeType,jdbcType=CHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordCriteria" resultType="java.lang.Integer" >
    select count(1) from shop_clerk_work_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update shop_clerk_work_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.consumeRecordId != null">
        consume_record_id = #{record.consumeRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null" >
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkId != null" >
        sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowNo != null" >
        flow_no = #{record.flowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsType != null" >
        goods_type = #{record.goodsType,jdbcType=CHAR},
      </if>
      <if test="record.consumeType != null" >
        consume_type = #{record.consumeType,jdbcType=CHAR},
      </if>
      <if test="record.payType != null" >
        pay_type = #{record.payType,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update shop_clerk_work_record
    set id = #{record.id,jdbcType=VARCHAR},
    consume_record_id = #{record.consumeRecordId,jdbcType=VARCHAR},
      sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      flow_no = #{record.flowNo,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      goods_type = #{record.goodsType,jdbcType=CHAR},
      consume_type = #{record.consumeType,jdbcType=CHAR},
      pay_type = #{record.payType,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordDTO" >
    update shop_clerk_work_record
    <set >
      <if test="consumeRecordId != null">
        consume_record_id = #{consumeRecordId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        flow_no = #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsType != null" >
        goods_type = #{goodsType,jdbcType=CHAR},
      </if>
      <if test="consumeType != null" >
        consume_type = #{consumeType,jdbcType=CHAR},
      </if>
      <if test="payType != null" >
        pay_type = #{payType,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopClerkWorkRecordDTO" >
    update shop_clerk_work_record
    set consume_record_id = #{consumeRecordId,jdbcType=VARCHAR},
    sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      flow_no = #{flowNo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      goods_type = #{goodsType,jdbcType=CHAR},
      consume_type = #{consumeType,jdbcType=CHAR},
      pay_type = #{payType,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_user = #{updateUser,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>