<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopStockMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopStockDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="shop_boss_id" property="shopBossId" jdbcType="VARCHAR" />
    <result column="shop_stock_record_id" property="shopStockRecordId" jdbcType="VARCHAR" />
    <result column="shop_store_id" property="shopStoreId" jdbcType="VARCHAR" />
    <result column="flow_no" property="flowNo" jdbcType="VARCHAR" />
    <result column="out_stock_number" property="outStockNumber" jdbcType="INTEGER" />
    <result column="stock_number" property="stockNumber" jdbcType="INTEGER" />
    <result column="shop_proc_id" property="shopProcId" jdbcType="VARCHAR" />
    <result column="shop_proc_name" property="shopProcName" jdbcType="VARCHAR" />
    <result column="product_date" property="productDate" jdbcType="TIMESTAMP" />
    <result column="stock_price" property="stockPrice" jdbcType="DECIMAL" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_boss_id, shop_stock_record_id, shop_store_id, flow_no, out_stock_number, 
    stock_number, shop_proc_id, shop_proc_name, product_date, stock_price, create_by, 
    create_date, update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.ShopStockCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_stock
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_stock
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopStockCriteria" >
    delete from shop_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopStockDTO" >
    insert into shop_stock (id, shop_boss_id, shop_stock_record_id, 
      shop_store_id, flow_no, out_stock_number, 
      stock_number, shop_proc_id, shop_proc_name, 
      product_date, stock_price, create_by, 
      create_date, update_user, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{shopBossId,jdbcType=VARCHAR}, #{shopStockRecordId,jdbcType=VARCHAR}, 
      #{shopStoreId,jdbcType=VARCHAR}, #{flowNo,jdbcType=VARCHAR}, #{outStockNumber,jdbcType=INTEGER}, 
      #{stockNumber,jdbcType=INTEGER}, #{shopProcId,jdbcType=VARCHAR}, #{shopProcName,jdbcType=VARCHAR}, 
      #{productDate,jdbcType=TIMESTAMP}, #{stockPrice,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopStockDTO" >
    insert into shop_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopBossId != null" >
        shop_boss_id,
      </if>
      <if test="shopStockRecordId != null" >
        shop_stock_record_id,
      </if>
      <if test="shopStoreId != null" >
        shop_store_id,
      </if>
      <if test="flowNo != null" >
        flow_no,
      </if>
      <if test="outStockNumber != null" >
        out_stock_number,
      </if>
      <if test="stockNumber != null" >
        stock_number,
      </if>
      <if test="shopProcId != null" >
        shop_proc_id,
      </if>
      <if test="shopProcName != null" >
        shop_proc_name,
      </if>
      <if test="productDate != null" >
        product_date,
      </if>
      <if test="stockPrice != null" >
        stock_price,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shopBossId != null" >
        #{shopBossId,jdbcType=VARCHAR},
      </if>
      <if test="shopStockRecordId != null" >
        #{shopStockRecordId,jdbcType=VARCHAR},
      </if>
      <if test="shopStoreId != null" >
        #{shopStoreId,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="outStockNumber != null" >
        #{outStockNumber,jdbcType=INTEGER},
      </if>
      <if test="stockNumber != null" >
        #{stockNumber,jdbcType=INTEGER},
      </if>
      <if test="shopProcId != null" >
        #{shopProcId,jdbcType=VARCHAR},
      </if>
      <if test="shopProcName != null" >
        #{shopProcName,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockPrice != null" >
        #{stockPrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopStockCriteria" resultType="java.lang.Integer" >
    select count(1) from shop_stock
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update shop_stock
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.shopBossId != null" >
        shop_boss_id = #{record.shopBossId,jdbcType=VARCHAR},
      </if>
      <if test="record.shopStockRecordId != null" >
        shop_stock_record_id = #{record.shopStockRecordId,jdbcType=VARCHAR},
      </if>
      <if test="record.shopStoreId != null" >
        shop_store_id = #{record.shopStoreId,jdbcType=VARCHAR},
      </if>
      <if test="record.flowNo != null" >
        flow_no = #{record.flowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.outStockNumber != null" >
        out_stock_number = #{record.outStockNumber,jdbcType=INTEGER},
      </if>
      <if test="record.stockNumber != null" >
        stock_number = #{record.stockNumber,jdbcType=INTEGER},
      </if>
      <if test="record.shopProcId != null" >
        shop_proc_id = #{record.shopProcId,jdbcType=VARCHAR},
      </if>
      <if test="record.shopProcName != null" >
        shop_proc_name = #{record.shopProcName,jdbcType=VARCHAR},
      </if>
      <if test="record.productDate != null" >
        product_date = #{record.productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.stockPrice != null" >
        stock_price = #{record.stockPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update shop_stock
    set id = #{record.id,jdbcType=VARCHAR},
      shop_boss_id = #{record.shopBossId,jdbcType=VARCHAR},
      shop_stock_record_id = #{record.shopStockRecordId,jdbcType=VARCHAR},
      shop_store_id = #{record.shopStoreId,jdbcType=VARCHAR},
      flow_no = #{record.flowNo,jdbcType=VARCHAR},
      out_stock_number = #{record.outStockNumber,jdbcType=INTEGER},
      stock_number = #{record.stockNumber,jdbcType=INTEGER},
      shop_proc_id = #{record.shopProcId,jdbcType=VARCHAR},
      shop_proc_name = #{record.shopProcName,jdbcType=VARCHAR},
      product_date = #{record.productDate,jdbcType=TIMESTAMP},
      stock_price = #{record.stockPrice,jdbcType=DECIMAL},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopStockDTO" >
    update shop_stock
    <set >
      <if test="shopBossId != null" >
        shop_boss_id = #{shopBossId,jdbcType=VARCHAR},
      </if>
      <if test="shopStockRecordId != null" >
        shop_stock_record_id = #{shopStockRecordId,jdbcType=VARCHAR},
      </if>
      <if test="shopStoreId != null" >
        shop_store_id = #{shopStoreId,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null" >
        flow_no = #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="outStockNumber != null" >
        out_stock_number = #{outStockNumber,jdbcType=INTEGER},
      </if>
      <if test="stockNumber != null" >
        stock_number = #{stockNumber,jdbcType=INTEGER},
      </if>
      <if test="shopProcId != null" >
        shop_proc_id = #{shopProcId,jdbcType=VARCHAR},
      </if>
      <if test="shopProcName != null" >
        shop_proc_name = #{shopProcName,jdbcType=VARCHAR},
      </if>
      <if test="productDate != null" >
        product_date = #{productDate,jdbcType=TIMESTAMP},
      </if>
      <if test="stockPrice != null" >
        stock_price = #{stockPrice,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopStockDTO" >
    update shop_stock
    set shop_boss_id = #{shopBossId,jdbcType=VARCHAR},
      shop_stock_record_id = #{shopStockRecordId,jdbcType=VARCHAR},
      shop_store_id = #{shopStoreId,jdbcType=VARCHAR},
      flow_no = #{flowNo,jdbcType=VARCHAR},
      out_stock_number = #{outStockNumber,jdbcType=INTEGER},
      stock_number = #{stockNumber,jdbcType=INTEGER},
      shop_proc_id = #{shopProcId,jdbcType=VARCHAR},
      shop_proc_name = #{shopProcName,jdbcType=VARCHAR},
      product_date = #{productDate,jdbcType=TIMESTAMP},
      stock_price = #{stockPrice,jdbcType=DECIMAL},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>