<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopAppointServiceMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopAppointServiceDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="shop_project_id" property="shopProjectId" jdbcType="VARCHAR" />
    <result column="shop_project_name" property="shopProjectName" jdbcType="VARCHAR" />
    <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR" />
    <result column="sys_shop_name" property="sysShopName" jdbcType="VARCHAR" />
    <result column="sys_clerk_id" property="sysClerkId" jdbcType="VARCHAR" />
    <result column="sys_clerk_name" property="sysClerkName" jdbcType="VARCHAR" />
    <result column="sys_boss_code" property="sysBossCode" jdbcType="VARCHAR" />
    <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP" />
    <result column="appoint_end_time" property="appointEndTime" jdbcType="TIMESTAMP" />
    <result column="appoint_period" property="appointPeriod" jdbcType="INTEGER" />
    <result column="appoint_period_detail" property="appointPeriodDetail" jdbcType="VARCHAR" />
    <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
    <result column="sys_user_name" property="sysUserName" jdbcType="VARCHAR" />
    <result column="sys_user_phone" property="sysUserPhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="appointment_cancle_date" property="appointmentCancleDate" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, shop_project_id, shop_project_name, sys_shop_id, sys_shop_name, sys_clerk_id, 
    sys_clerk_name, sys_boss_code, appoint_start_time, appoint_end_time, appoint_period, 
    appoint_period_detail, sys_user_id, sys_user_name, sys_user_phone, status, detail, 
    appointment_cancle_date, create_by, create_date, update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_appoint_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_appoint_service
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_appoint_service
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceCriteria" >
    delete from shop_appoint_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO" >
    insert into shop_appoint_service (id, shop_project_id, shop_project_name, 
      sys_shop_id, sys_shop_name, sys_clerk_id, 
      sys_clerk_name, sys_boss_code, appoint_start_time, 
      appoint_end_time, appoint_period, appoint_period_detail, 
      sys_user_id, sys_user_name, sys_user_phone, 
      status, detail, appointment_cancle_date, 
      create_by, create_date, update_user, 
      update_date)
    values (#{id,jdbcType=VARCHAR}, #{shopProjectId,jdbcType=VARCHAR}, #{shopProjectName,jdbcType=VARCHAR}, 
      #{sysShopId,jdbcType=VARCHAR}, #{sysShopName,jdbcType=VARCHAR}, #{sysClerkId,jdbcType=VARCHAR}, 
      #{sysClerkName,jdbcType=VARCHAR}, #{sysBossCode,jdbcType=VARCHAR}, #{appointStartTime,jdbcType=TIMESTAMP}, 
      #{appointEndTime,jdbcType=TIMESTAMP}, #{appointPeriod,jdbcType=INTEGER}, #{appointPeriodDetail,jdbcType=VARCHAR}, 
      #{sysUserId,jdbcType=VARCHAR}, #{sysUserName,jdbcType=VARCHAR}, #{sysUserPhone,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{detail,jdbcType=VARCHAR}, #{appointmentCancleDate,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO" >
    insert into shop_appoint_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopProjectId != null" >
        shop_project_id,
      </if>
      <if test="shopProjectName != null" >
        shop_project_name,
      </if>
      <if test="sysShopId != null" >
        sys_shop_id,
      </if>
      <if test="sysShopName != null" >
        sys_shop_name,
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id,
      </if>
      <if test="sysClerkName != null" >
        sys_clerk_name,
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code,
      </if>
      <if test="appointStartTime != null" >
        appoint_start_time,
      </if>
      <if test="appointEndTime != null" >
        appoint_end_time,
      </if>
      <if test="appointPeriod != null" >
        appoint_period,
      </if>
      <if test="appointPeriodDetail != null" >
        appoint_period_detail,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="sysUserName != null" >
        sys_user_name,
      </if>
      <if test="sysUserPhone != null" >
        sys_user_phone,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="appointmentCancleDate != null" >
        appointment_cancle_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="shopProjectId != null" >
        #{shopProjectId,jdbcType=VARCHAR},
      </if>
      <if test="shopProjectName != null" >
        #{shopProjectName,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null" >
        #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="sysBossCode != null" >
        #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null" >
        #{appointStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointEndTime != null" >
        #{appointEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointPeriod != null" >
        #{appointPeriod,jdbcType=INTEGER},
      </if>
      <if test="appointPeriodDetail != null" >
        #{appointPeriodDetail,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null" >
        #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserPhone != null" >
        #{sysUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="appointmentCancleDate != null" >
        #{appointmentCancleDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceCriteria" resultType="java.lang.Integer" >
    select count(1) from shop_appoint_service
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update shop_appoint_service
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.shopProjectId != null" >
        shop_project_id = #{record.shopProjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.shopProjectName != null" >
        shop_project_name = #{record.shopProjectName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null" >
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopName != null" >
        sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkId != null" >
        sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkName != null" >
        sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBossCode != null" >
        sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="record.appointStartTime != null" >
        appoint_start_time = #{record.appointStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appointEndTime != null" >
        appoint_end_time = #{record.appointEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appointPeriod != null" >
        appoint_period = #{record.appointPeriod,jdbcType=INTEGER},
      </if>
      <if test="record.appointPeriodDetail != null" >
        appoint_period_detail = #{record.appointPeriodDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserId != null" >
        sys_user_id = #{record.sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserName != null" >
        sys_user_name = #{record.sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysUserPhone != null" >
        sys_user_phone = #{record.sysUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.appointmentCancleDate != null" >
        appointment_cancle_date = #{record.appointmentCancleDate,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update shop_appoint_service
    set id = #{record.id,jdbcType=VARCHAR},
      shop_project_id = #{record.shopProjectId,jdbcType=VARCHAR},
      shop_project_name = #{record.shopProjectName,jdbcType=VARCHAR},
      sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      appoint_start_time = #{record.appointStartTime,jdbcType=TIMESTAMP},
      appoint_end_time = #{record.appointEndTime,jdbcType=TIMESTAMP},
      appoint_period = #{record.appointPeriod,jdbcType=INTEGER},
      appoint_period_detail = #{record.appointPeriodDetail,jdbcType=VARCHAR},
      sys_user_id = #{record.sysUserId,jdbcType=VARCHAR},
      sys_user_name = #{record.sysUserName,jdbcType=VARCHAR},
      sys_user_phone = #{record.sysUserPhone,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=CHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      appointment_cancle_date = #{record.appointmentCancleDate,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO" >
    update shop_appoint_service
    <set >
      <if test="shopProjectId != null" >
        shop_project_id = #{shopProjectId,jdbcType=VARCHAR},
      </if>
      <if test="shopProjectName != null" >
        shop_project_name = #{shopProjectName,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null" >
        sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="appointStartTime != null" >
        appoint_start_time = #{appointStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointEndTime != null" >
        appoint_end_time = #{appointEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appointPeriod != null" >
        appoint_period = #{appointPeriod,jdbcType=INTEGER},
      </if>
      <if test="appointPeriodDetail != null" >
        appoint_period_detail = #{appointPeriodDetail,jdbcType=VARCHAR},
      </if>
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      </if>
      <if test="sysUserName != null" >
        sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      </if>
      <if test="sysUserPhone != null" >
        sys_user_phone = #{sysUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="appointmentCancleDate != null" >
        appointment_cancle_date = #{appointmentCancleDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO" >
    update shop_appoint_service
    set shop_project_id = #{shopProjectId,jdbcType=VARCHAR},
      shop_project_name = #{shopProjectName,jdbcType=VARCHAR},
      sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      appoint_start_time = #{appointStartTime,jdbcType=TIMESTAMP},
      appoint_end_time = #{appointEndTime,jdbcType=TIMESTAMP},
      appoint_period = #{appointPeriod,jdbcType=INTEGER},
      appoint_period_detail = #{appointPeriodDetail,jdbcType=VARCHAR},
      sys_user_id = #{sysUserId,jdbcType=VARCHAR},
      sys_user_name = #{sysUserName,jdbcType=VARCHAR},
      sys_user_phone = #{sysUserPhone,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      detail = #{detail,jdbcType=VARCHAR},
      appointment_cancle_date = #{appointmentCancleDate,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>