<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopProjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopProjectInfo">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR"/>
    <result column="sys_boss_id" property="sysBossId" jdbcType="VARCHAR"/>
    <result column="project_name" property="projectName" jdbcType="VARCHAR"/>
    <result column="project_type_one_name" property="projectTypeOneName" jdbcType="VARCHAR"/>
    <result column="project_type_two_name" property="projectTypeTwoName" jdbcType="VARCHAR"/>
    <result column="project_type_one_id" property="projectTypeOneId" jdbcType="VARCHAR"/>
    <result column="project_type_two_id" property="projectTypeTwoId" jdbcType="VARCHAR"/>
    <result column="product_type" property="productType" jdbcType="CHAR"/>
    <result column="use_style" property="useStyle" jdbcType="CHAR"/>
    <result column="card_type" property="cardType" jdbcType="CHAR"/>
    <result column="project_url" property="projectUrl" jdbcType="VARCHAR"/>
    <result column="project_duration" property="projectDuration" jdbcType="INTEGER"/>
    <result column="market_price" property="marketPrice" jdbcType="DECIMAL"/>
    <result column="discount_price" property="discountPrice" jdbcType="DECIMAL"/>
    <result column="service_times" property="serviceTimes" jdbcType="INTEGER"/>
    <result column="visit_date_time" property="visitDateTime" jdbcType="INTEGER"/>
    <result column="once_price" property="oncePrice" jdbcType="DECIMAL"/>
    <result column="function_intr" property="functionIntr" jdbcType="VARCHAR"/>
    <result column="is_display" property="isDisplay" jdbcType="CHAR"/>
    <result column="status" property="status" jdbcType="CHAR"/>
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sys_shop_id, sys_boss_id, project_name, project_type_one_name, project_type_two_name,
    project_type_one_id, project_type_two_id, product_type, use_style, card_type, project_url,
    project_duration, market_price, discount_price, service_times, visit_date_time, once_price,
    function_intr, is_display, status, create_by, create_date, update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap"
          parameterType="com.wisdom.beauty.api.dto.ShopProjectInfoCriteria">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_project_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from shop_project_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shop_project_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfoCriteria">
    delete from shop_project_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfo">
    insert into shop_project_info (id, sys_shop_id, sys_boss_id,
    project_name, project_type_one_name, project_type_two_name,
    project_type_one_id, project_type_two_id, product_type,
    use_style, card_type, project_url,
    project_duration, market_price, discount_price,
    service_times, visit_date_time, once_price,
    function_intr, is_display, status,
    create_by, create_date, update_user,
    update_date)
    values (#{id,jdbcType=VARCHAR}, #{sysShopId,jdbcType=VARCHAR}, #{sysBossId,jdbcType=VARCHAR},
    #{projectName,jdbcType=VARCHAR}, #{projectTypeOneName,jdbcType=VARCHAR}, #{projectTypeTwoName,jdbcType=VARCHAR},
    #{projectTypeOneId,jdbcType=VARCHAR}, #{projectTypeTwoId,jdbcType=VARCHAR}, #{productType,jdbcType=CHAR},
    #{useStyle,jdbcType=CHAR}, #{cardType,jdbcType=CHAR}, #{projectUrl,jdbcType=VARCHAR},
    #{projectDuration,jdbcType=INTEGER}, #{marketPrice,jdbcType=DECIMAL}, #{discountPrice,jdbcType=DECIMAL},
    #{serviceTimes,jdbcType=INTEGER}, #{visitDateTime,jdbcType=INTEGER}, #{oncePrice,jdbcType=DECIMAL},
    #{functionIntr,jdbcType=VARCHAR}, #{isDisplay,jdbcType=CHAR}, #{status,jdbcType=CHAR},
    #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
    #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfo">
    insert into shop_project_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysShopId != null">
        sys_shop_id,
      </if>
      <if test="sysBossId != null">
        sys_boss_id,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="projectTypeOneName != null">
        project_type_one_name,
      </if>
      <if test="projectTypeTwoName != null">
        project_type_two_name,
      </if>
      <if test="projectTypeOneId != null">
        project_type_one_id,
      </if>
      <if test="projectTypeTwoId != null">
        project_type_two_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="useStyle != null">
        use_style,
      </if>
      <if test="cardType != null">
        card_type,
      </if>
      <if test="projectUrl != null">
        project_url,
      </if>
      <if test="projectDuration != null">
        project_duration,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="serviceTimes != null">
        service_times,
      </if>
      <if test="visitDateTime != null">
        visit_date_time,
      </if>
      <if test="oncePrice != null">
        once_price,
      </if>
      <if test="functionIntr != null">
        function_intr,
      </if>
      <if test="isDisplay != null">
        is_display,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null">
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysBossId != null">
        #{sysBossId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeOneName != null">
        #{projectTypeOneName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeTwoName != null">
        #{projectTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeOneId != null">
        #{projectTypeOneId,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeTwoId != null">
        #{projectTypeTwoId,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=CHAR},
      </if>
      <if test="useStyle != null">
        #{useStyle,jdbcType=CHAR},
      </if>
      <if test="cardType != null">
        #{cardType,jdbcType=CHAR},
      </if>
      <if test="projectUrl != null">
        #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectDuration != null">
        #{projectDuration,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceTimes != null">
        #{serviceTimes,jdbcType=INTEGER},
      </if>
      <if test="visitDateTime != null">
        #{visitDateTime,jdbcType=INTEGER},
      </if>
      <if test="oncePrice != null">
        #{oncePrice,jdbcType=DECIMAL},
      </if>
      <if test="functionIntr != null">
        #{functionIntr,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null">
        #{isDisplay,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfoCriteria"
          resultType="java.lang.Integer">
    select count(1) from shop_project_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update shop_project_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null">
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBossId != null">
        sys_boss_id = #{record.sysBossId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectName != null">
        project_name = #{record.projectName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTypeOneName != null">
        project_type_one_name = #{record.projectTypeOneName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTypeTwoName != null">
        project_type_two_name = #{record.projectTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTypeOneId != null">
        project_type_one_id = #{record.projectTypeOneId,jdbcType=VARCHAR},
      </if>
      <if test="record.projectTypeTwoId != null">
        project_type_two_id = #{record.projectTypeTwoId,jdbcType=VARCHAR},
      </if>
      <if test="record.productType != null">
        product_type = #{record.productType,jdbcType=CHAR},
      </if>
      <if test="record.useStyle != null">
        use_style = #{record.useStyle,jdbcType=CHAR},
      </if>
      <if test="record.cardType != null">
        card_type = #{record.cardType,jdbcType=CHAR},
      </if>
      <if test="record.projectUrl != null">
        project_url = #{record.projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.projectDuration != null">
        project_duration = #{record.projectDuration,jdbcType=INTEGER},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.discountPrice != null">
        discount_price = #{record.discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceTimes != null">
        service_times = #{record.serviceTimes,jdbcType=INTEGER},
      </if>
      <if test="record.visitDateTime != null">
        visit_date_time = #{record.visitDateTime,jdbcType=INTEGER},
      </if>
      <if test="record.oncePrice != null">
        once_price = #{record.oncePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.functionIntr != null">
        function_intr = #{record.functionIntr,jdbcType=VARCHAR},
      </if>
      <if test="record.isDisplay != null">
        is_display = #{record.isDisplay,jdbcType=CHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update shop_project_info
    set id = #{record.id,jdbcType=VARCHAR},
    sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
    sys_boss_id = #{record.sysBossId,jdbcType=VARCHAR},
      project_name = #{record.projectName,jdbcType=VARCHAR},
      project_type_one_name = #{record.projectTypeOneName,jdbcType=VARCHAR},
      project_type_two_name = #{record.projectTypeTwoName,jdbcType=VARCHAR},
      project_type_one_id = #{record.projectTypeOneId,jdbcType=VARCHAR},
      project_type_two_id = #{record.projectTypeTwoId,jdbcType=VARCHAR},
      product_type = #{record.productType,jdbcType=CHAR},
    use_style = #{record.useStyle,jdbcType=CHAR},
      card_type = #{record.cardType,jdbcType=CHAR},
      project_url = #{record.projectUrl,jdbcType=VARCHAR},
      project_duration = #{record.projectDuration,jdbcType=INTEGER},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      discount_price = #{record.discountPrice,jdbcType=DECIMAL},
    service_times = #{record.serviceTimes,jdbcType=INTEGER},
      visit_date_time = #{record.visitDateTime,jdbcType=INTEGER},
      once_price = #{record.oncePrice,jdbcType=DECIMAL},
      function_intr = #{record.functionIntr,jdbcType=VARCHAR},
      is_display = #{record.isDisplay,jdbcType=CHAR},
      status = #{record.status,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfo">
    update shop_project_info
    <set>
      <if test="sysShopId != null">
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysBossId != null">
        sys_boss_id = #{sysBossId,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeOneName != null">
        project_type_one_name = #{projectTypeOneName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeTwoName != null">
        project_type_two_name = #{projectTypeTwoName,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeOneId != null">
        project_type_one_id = #{projectTypeOneId,jdbcType=VARCHAR},
      </if>
      <if test="projectTypeTwoId != null">
        project_type_two_id = #{projectTypeTwoId,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=CHAR},
      </if>
      <if test="useStyle != null">
        use_style = #{useStyle,jdbcType=CHAR},
      </if>
      <if test="cardType != null">
        card_type = #{cardType,jdbcType=CHAR},
      </if>
      <if test="projectUrl != null">
        project_url = #{projectUrl,jdbcType=VARCHAR},
      </if>
      <if test="projectDuration != null">
        project_duration = #{projectDuration,jdbcType=INTEGER},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=DECIMAL},
      </if>
      <if test="serviceTimes != null">
        service_times = #{serviceTimes,jdbcType=INTEGER},
      </if>
      <if test="visitDateTime != null">
        visit_date_time = #{visitDateTime,jdbcType=INTEGER},
      </if>
      <if test="oncePrice != null">
        once_price = #{oncePrice,jdbcType=DECIMAL},
      </if>
      <if test="functionIntr != null">
        function_intr = #{functionIntr,jdbcType=VARCHAR},
      </if>
      <if test="isDisplay != null">
        is_display = #{isDisplay,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopProjectInfo">
    update shop_project_info
    set sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
    sys_boss_id = #{sysBossId,jdbcType=VARCHAR},
    project_name = #{projectName,jdbcType=VARCHAR},
      project_type_one_name = #{projectTypeOneName,jdbcType=VARCHAR},
      project_type_two_name = #{projectTypeTwoName,jdbcType=VARCHAR},
      project_type_one_id = #{projectTypeOneId,jdbcType=VARCHAR},
      project_type_two_id = #{projectTypeTwoId,jdbcType=VARCHAR},
      product_type = #{productType,jdbcType=CHAR},
    use_style = #{useStyle,jdbcType=CHAR},
      card_type = #{cardType,jdbcType=CHAR},
      project_url = #{projectUrl,jdbcType=VARCHAR},
      project_duration = #{projectDuration,jdbcType=INTEGER},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      discount_price = #{discountPrice,jdbcType=DECIMAL},
    service_times = #{serviceTimes,jdbcType=INTEGER},
      visit_date_time = #{visitDateTime,jdbcType=INTEGER},
      once_price = #{oncePrice,jdbcType=DECIMAL},
      function_intr = #{functionIntr,jdbcType=VARCHAR},
      is_display = #{isDisplay,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>