<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ShopSummaryMapper" >
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopSummaryDTO" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sys_clerk_name" property="sysClerkName" jdbcType="VARCHAR" />
    <result column="sys_clerk_id" property="sysClerkId" jdbcType="VARCHAR" />
    <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR" />
    <result column="sys_shop_name" property="sysShopName" jdbcType="VARCHAR" />
    <result column="sys_boss_code" property="sysBossCode" jdbcType="VARCHAR" />
    <result column="sys_boss_name" property="sysBossName" jdbcType="VARCHAR" />
    <result column="today_summary" property="todaySummary" jdbcType="VARCHAR" />
    <result column="tomorrow_summary" property="tomorrowSummary" jdbcType="VARCHAR" />
    <result column="content_summary" property="contentSummary" jdbcType="VARCHAR" />
    <result column="summary_type" property="summaryType" jdbcType="CHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sys_clerk_name, sys_clerk_id, sys_shop_id, sys_shop_name, sys_boss_code, sys_boss_name, 
    today_summary, tomorrow_summary, content_summary, summary_type, create_by, create_date, 
    update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.ShopSummaryCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from shop_summary
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from shop_summary
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopSummaryCriteria" >
    delete from shop_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.ShopSummaryDTO" >
    insert into shop_summary (id, sys_clerk_name, sys_clerk_id, 
      sys_shop_id, sys_shop_name, sys_boss_code, 
      sys_boss_name, today_summary, tomorrow_summary, 
      content_summary, summary_type, create_by, 
      create_date, update_user, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{sysClerkName,jdbcType=VARCHAR}, #{sysClerkId,jdbcType=VARCHAR}, 
      #{sysShopId,jdbcType=VARCHAR}, #{sysShopName,jdbcType=VARCHAR}, #{sysBossCode,jdbcType=VARCHAR}, 
      #{sysBossName,jdbcType=VARCHAR}, #{todaySummary,jdbcType=VARCHAR}, #{tomorrowSummary,jdbcType=VARCHAR}, 
      #{contentSummary,jdbcType=VARCHAR}, #{summaryType,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.ShopSummaryDTO" >
    insert into shop_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysClerkName != null" >
        sys_clerk_name,
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id,
      </if>
      <if test="sysShopId != null" >
        sys_shop_id,
      </if>
      <if test="sysShopName != null" >
        sys_shop_name,
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code,
      </if>
      <if test="sysBossName != null" >
        sys_boss_name,
      </if>
      <if test="todaySummary != null" >
        today_summary,
      </if>
      <if test="tomorrowSummary != null" >
        tomorrow_summary,
      </if>
      <if test="contentSummary != null" >
        content_summary,
      </if>
      <if test="summaryType != null" >
        summary_type,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateUser != null" >
        update_user,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkName != null" >
        #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysBossCode != null" >
        #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="sysBossName != null" >
        #{sysBossName,jdbcType=VARCHAR},
      </if>
      <if test="todaySummary != null" >
        #{todaySummary,jdbcType=VARCHAR},
      </if>
      <if test="tomorrowSummary != null" >
        #{tomorrowSummary,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="summaryType != null" >
        #{summaryType,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.ShopSummaryCriteria" resultType="java.lang.Integer" >
    select count(1) from shop_summary
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map" >
    update shop_summary
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkName != null" >
        sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysClerkId != null" >
        sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopId != null" >
        sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysShopName != null" >
        sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBossCode != null" >
        sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysBossName != null" >
        sys_boss_name = #{record.sysBossName,jdbcType=VARCHAR},
      </if>
      <if test="record.todaySummary != null" >
        today_summary = #{record.todaySummary,jdbcType=VARCHAR},
      </if>
      <if test="record.tomorrowSummary != null" >
        tomorrow_summary = #{record.tomorrowSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.contentSummary != null" >
        content_summary = #{record.contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="record.summaryType != null" >
        summary_type = #{record.summaryType,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null" >
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map" >
    update shop_summary
    set id = #{record.id,jdbcType=VARCHAR},
      sys_clerk_name = #{record.sysClerkName,jdbcType=VARCHAR},
      sys_clerk_id = #{record.sysClerkId,jdbcType=VARCHAR},
      sys_shop_id = #{record.sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{record.sysShopName,jdbcType=VARCHAR},
      sys_boss_code = #{record.sysBossCode,jdbcType=VARCHAR},
      sys_boss_name = #{record.sysBossName,jdbcType=VARCHAR},
      today_summary = #{record.todaySummary,jdbcType=VARCHAR},
      tomorrow_summary = #{record.tomorrowSummary,jdbcType=VARCHAR},
      content_summary = #{record.contentSummary,jdbcType=VARCHAR},
      summary_type = #{record.summaryType,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.ShopSummaryDTO" >
    update shop_summary
    <set >
      <if test="sysClerkName != null" >
        sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      </if>
      <if test="sysClerkId != null" >
        sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopId != null" >
        sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      </if>
      <if test="sysShopName != null" >
        sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      </if>
      <if test="sysBossCode != null" >
        sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      </if>
      <if test="sysBossName != null" >
        sys_boss_name = #{sysBossName,jdbcType=VARCHAR},
      </if>
      <if test="todaySummary != null" >
        today_summary = #{todaySummary,jdbcType=VARCHAR},
      </if>
      <if test="tomorrowSummary != null" >
        tomorrow_summary = #{tomorrowSummary,jdbcType=VARCHAR},
      </if>
      <if test="contentSummary != null" >
        content_summary = #{contentSummary,jdbcType=VARCHAR},
      </if>
      <if test="summaryType != null" >
        summary_type = #{summaryType,jdbcType=CHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.ShopSummaryDTO" >
    update shop_summary
    set sys_clerk_name = #{sysClerkName,jdbcType=VARCHAR},
      sys_clerk_id = #{sysClerkId,jdbcType=VARCHAR},
      sys_shop_id = #{sysShopId,jdbcType=VARCHAR},
      sys_shop_name = #{sysShopName,jdbcType=VARCHAR},
      sys_boss_code = #{sysBossCode,jdbcType=VARCHAR},
      sys_boss_name = #{sysBossName,jdbcType=VARCHAR},
      today_summary = #{todaySummary,jdbcType=VARCHAR},
      tomorrow_summary = #{tomorrowSummary,jdbcType=VARCHAR},
      content_summary = #{contentSummary,jdbcType=VARCHAR},
      summary_type = #{summaryType,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>