<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.SysShopMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.SysShopDTO">
    <id column="id" property="id" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="shop_image_url" property="shopImageUrl" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="province" property="province" jdbcType="VARCHAR"/>
    <result column="city" property="city" jdbcType="VARCHAR"/>
    <result column="address" property="address" jdbcType="VARCHAR"/>
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR"/>
    <result column="id_card_front_url" property="idCardFrontUrl" jdbcType="VARCHAR"/>
    <result column="id_card_back_url" property="idCardBackUrl" jdbcType="VARCHAR"/>
    <result column="open_account_license_url" property="openAccountLicenseUrl" jdbcType="VARCHAR"/>
    <result column="on_service_status" property="onServiceStatus" jdbcType="CHAR"/>
    <result column="detail" property="detail" jdbcType="VARCHAR"/>
    <result column="area" property="area" jdbcType="REAL"/>
    <result column="open_door_date" property="openDoorDate" jdbcType="VARCHAR"/>
    <result column="close_door_date" property="closeDoorDate" jdbcType="VARCHAR"/>
    <result column="shop_id" property="shopId" jdbcType="CHAR"/>
    <result column="qr_code_url" property="qrCodeUrl" jdbcType="VARCHAR"/>
    <result column="parents_id" property="parentsId" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="CHAR"/>
    <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" suffix=")" prefixOverrides="and">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, shop_image_url, phone, province, city, address, business_license_url, id_card_front_url,
    id_card_back_url, open_account_license_url, on_service_status, detail, area, open_door_date,
    close_door_date, shop_id, qr_code_url, parents_id, type, create_by, create_date,
    update_user, update_date
  </sql>
  <select id="selectByCriteria" resultMap="BaseResultMap" parameterType="com.wisdom.beauty.api.dto.SysShopCriteria">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0">
      limit ${limitStart},${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select 
    <include refid="Base_Column_List" />
    from sys_shop
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_shop
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.wisdom.beauty.api.dto.SysShopCriteria">
    delete from sys_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wisdom.beauty.api.dto.SysShopDTO">
    insert into sys_shop (id, name, shop_image_url, 
      phone, province, city, 
      address, business_license_url, id_card_front_url,
    id_card_back_url, open_account_license_url, on_service_status,
    detail, area, open_door_date,
    close_door_date, shop_id, qr_code_url,
    parents_id, type, create_by,
    create_date, update_user, update_date
    )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{shopImageUrl,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, #{idCardFrontUrl,jdbcType=VARCHAR},
    #{idCardBackUrl,jdbcType=VARCHAR}, #{openAccountLicenseUrl,jdbcType=VARCHAR}, #{onServiceStatus,jdbcType=CHAR},
    #{detail,jdbcType=VARCHAR}, #{area,jdbcType=REAL}, #{openDoorDate,jdbcType=VARCHAR},
    #{closeDoorDate,jdbcType=VARCHAR}, #{shopId,jdbcType=CHAR}, #{qrCodeUrl,jdbcType=VARCHAR},
    #{parentsId,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, #{createBy,jdbcType=VARCHAR},
    #{createDate,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateDate,jdbcType=TIMESTAMP}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.wisdom.beauty.api.dto.SysShopDTO">
    insert into sys_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="shopImageUrl != null">
        shop_image_url,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="businessLicenseUrl != null">
        business_license_url,
      </if>
      <if test="idCardFrontUrl != null">
        id_card_front_url,
      </if>
      <if test="idCardBackUrl != null">
        id_card_back_url,
      </if>
      <if test="openAccountLicenseUrl != null">
        open_account_license_url,
      </if>
      <if test="onServiceStatus != null">
        on_service_status,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="openDoorDate != null">
        open_door_date,
      </if>
      <if test="closeDoorDate != null">
        close_door_date,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="qrCodeUrl != null">
        qr_code_url,
      </if>
      <if test="parentsId != null">
        parents_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shopImageUrl != null">
        #{shopImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontUrl != null">
        #{idCardFrontUrl,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackUrl != null">
        #{idCardBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="openAccountLicenseUrl != null">
        #{openAccountLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="onServiceStatus != null">
        #{onServiceStatus,jdbcType=CHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=REAL},
      </if>
      <if test="openDoorDate != null">
        #{openDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="closeDoorDate != null">
        #{closeDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=CHAR},
      </if>
      <if test="qrCodeUrl != null">
        #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentsId != null">
        #{parentsId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.wisdom.beauty.api.dto.SysShopCriteria" resultType="java.lang.Integer">
    select count(1) from sys_shop
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    update sys_shop
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.shopImageUrl != null">
        shop_image_url = #{record.shopImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null">
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null">
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseUrl != null">
        business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardFrontUrl != null">
        id_card_front_url = #{record.idCardFrontUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardBackUrl != null">
        id_card_back_url = #{record.idCardBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.openAccountLicenseUrl != null">
        open_account_license_url = #{record.openAccountLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.onServiceStatus != null">
        on_service_status = #{record.onServiceStatus,jdbcType=CHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.area != null">
        area = #{record.area,jdbcType=REAL},
      </if>
      <if test="record.openDoorDate != null">
        open_door_date = #{record.openDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="record.closeDoorDate != null">
        close_door_date = #{record.closeDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null">
        shop_id = #{record.shopId,jdbcType=CHAR},
      </if>
      <if test="record.qrCodeUrl != null">
        qr_code_url = #{record.qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.parentsId != null">
        parents_id = #{record.parentsId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=CHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUser != null">
        update_user = #{record.updateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    update sys_shop
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      shop_image_url = #{record.shopImageUrl,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      id_card_front_url = #{record.idCardFrontUrl,jdbcType=VARCHAR},
      id_card_back_url = #{record.idCardBackUrl,jdbcType=VARCHAR},
      open_account_license_url = #{record.openAccountLicenseUrl,jdbcType=VARCHAR},
      on_service_status = #{record.onServiceStatus,jdbcType=CHAR},
      detail = #{record.detail,jdbcType=VARCHAR},
      area = #{record.area,jdbcType=REAL},
      open_door_date = #{record.openDoorDate,jdbcType=VARCHAR},
      close_door_date = #{record.closeDoorDate,jdbcType=VARCHAR},
    shop_id = #{record.shopId,jdbcType=CHAR},
    qr_code_url = #{record.qrCodeUrl,jdbcType=VARCHAR},
    parents_id = #{record.parentsId,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=CHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_user = #{record.updateUser,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wisdom.beauty.api.dto.SysShopDTO">
    update sys_shop
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shopImageUrl != null">
        shop_image_url = #{shopImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null">
        business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="idCardFrontUrl != null">
        id_card_front_url = #{idCardFrontUrl,jdbcType=VARCHAR},
      </if>
      <if test="idCardBackUrl != null">
        id_card_back_url = #{idCardBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="openAccountLicenseUrl != null">
        open_account_license_url = #{openAccountLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="onServiceStatus != null">
        on_service_status = #{onServiceStatus,jdbcType=CHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=REAL},
      </if>
      <if test="openDoorDate != null">
        open_door_date = #{openDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="closeDoorDate != null">
        close_door_date = #{closeDoorDate,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=CHAR},
      </if>
      <if test="qrCodeUrl != null">
        qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentsId != null">
        parents_id = #{parentsId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wisdom.beauty.api.dto.SysShopDTO">
    update sys_shop
    set name = #{name,jdbcType=VARCHAR},
      shop_image_url = #{shopImageUrl,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      business_license_url = #{businessLicenseUrl,jdbcType=VARCHAR},
      id_card_front_url = #{idCardFrontUrl,jdbcType=VARCHAR},
      id_card_back_url = #{idCardBackUrl,jdbcType=VARCHAR},
      open_account_license_url = #{openAccountLicenseUrl,jdbcType=VARCHAR},
      on_service_status = #{onServiceStatus,jdbcType=CHAR},
      detail = #{detail,jdbcType=VARCHAR},
      area = #{area,jdbcType=REAL},
      open_door_date = #{openDoorDate,jdbcType=VARCHAR},
      close_door_date = #{closeDoorDate,jdbcType=VARCHAR},
    shop_id = #{shopId,jdbcType=CHAR},
    qr_code_url = #{qrCodeUrl,jdbcType=VARCHAR},
    parents_id = #{parentsId,jdbcType=VARCHAR},
    type = #{type,jdbcType=CHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_user = #{updateUser,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>