<ion-view style="background:white">
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
        <div class="tabs" style="margin-top:-45px">
            <a ng-class="{true:'tab-item active',false:'tab-item'}[param.type=='onGoing']" ng-click="selectAppointProject('onGoing')">
                进行中
            </a>
            <a ng-class="{true:'tab-item active',false:'tab-item'}[param.type=='finish']" ng-click="selectAppointProject('finish')">
                已结束
            </a>
        </div>
    </div>
    <ion-content style="margin-top:60px">
        <ion-item ng-repeat="item in param.appointProjectList">
            <div ng-if="param.type=='onGoing'">
                <h1>{{item.appointStartTime|date:"yyyy-MM-dd HH:MM:ss"}}</h1>
                <p class="item-note"><i class="ion ion-clock"></i><span>&nbsp;{{item.appointPeriod}}分钟</span></p>
                <p style="margin-top:10px">{{item.shopProjectName}}</p>
                <p style="margin-top:10px">{{item.sysClerkName}}</p>
                <p style="margin-top:10px">{{item.sysShopName}}</p>
            </div>
            <div  ng-if="param.type=='finish'">
                <h1>{{item.appointStartTime|date:"yyyy-MM-dd HH:MM:ss"}}</h1>
                <p class="item-note"><span style="color: red">已结束</span></p>
                <p style="margin-top:10px">{{item.shopProjectName}}</p>
                <p style="margin-top:10px">{{item.sysClerkName}}</p>
                <p style="margin-top:10px">{{item.sysShopName}}</p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>