<ion-view style="background:white">
    <div class="bar bar-header" style="background:pink">
        <h1 class="title">预约详情</h1>
    </div>
    <div>
        <center style="margin-top:60px">
            <img ng-src="http://thirdwx.qlogo.cn/mmopen/PiajxSqBRaELSSzKXCOZ23bySrbZZtQksBQ0I5YOic6uiaOhMISX37ibTk9O2tekJL4MbZ26rjfNwziaPg7xpJmPuicosQGn4hEzw4iaRSUNfxRTEQ/132">
            <p style="color:black;font-size:15px">徐然然</p>
            <div style="margin-top:-15px">
                <i class="ion ion-star" style="color:#ffc900;font-size:20px" ng-repeat="item in [1,2,3]"></i>
            </div>
            <p style="color:#e42112;font-size:15px;margin-top:10px">今天11:30</p>
            <p style="color:black;font-size:15px;margin-top:10px">共计120分钟</p>
            <p style="color:black;font-size:15px;margin-top:10px">冰光面部细胞护理，小气泡</p>
            <p style="color:#e42112;font-size:15px;margin-top:40px">捎话</p>
        </center>
    </div>
</ion-view>