<ion-view style="background:white">
    <br>
    <ion-content style="margin-top:20px">
        <ion-list>
            <div class="item item-divider">
                店内项目
            </div>
            <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8]">
                <img style="border-radius: 79px;
                                width: 25px;
                                position: absolute;
                                margin-left: 15px;
                                margin-top: 5px;"
                        ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
                <div style="margin-left:60px">
                    <h style="font-weight:600;">巧克力焕肤</h>
                    <br>
                    <p style="margin-top:10px">30分钟</p>
                </div>
            </ion-item>
            <br><br><br><br>
        </ion-list>
    </ion-content>
    <<div class="tabs"
          style="background:#e66;color:white"
          ng-click="chooseProject()">
        <a class="tab-item" style="font-size:20px">
            确认
        </a>
    </div>
</ion-view>