<ion-view style="background: #f2f5f9">
    <ion-content>
        <ion-item ng-repeat="item in param.clerkList">
            <img style="border-radius:79px;width:25px;position: absolute;margin-top: 6px"
                 ng-src="{{item.clerkImg}}">
            <img style="border-radius:79px;width:40px;position: absolute;margin-left: 35px"
                    ng-src="{{item.clerkImg}}">
            <div style="margin-left:85px">
                <h style="font-weight:600;">{{item.clerkName}}</h>
                <p style="margin-top:18px">
                    满意度  <span style="color: red">{{item.clerkProgressStyle.width}}</span>
                </p>
            </div>
            <div class="progress" style="width:40%;position:absolute;margin-left:168px;margin-top:-12px;height:10px">
                <span class="red" ng-style="item.clerkProgressStyle"></span>
            </div>
        </ion-item>
    </ion-content>
    <<div class="tabs"
          style="background:red;color:white"
          ng-click="chooseProject()">
        <a class="tab-item" style="font-size:20px">
            确认
        </a>
    </div>
</ion-view>