<ion-view style="background:lightgrey">
    <center>
        <div class="item item-body" style="margin-top:75px;width:80%;border-radius:15px">
            <h style="font-size:15px;color: red">---------&nbsp;绑定美容院&nbsp;---------</h>
            <img class="full-image"
                 style=""
                 ng-src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQER8DwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAyeHZNS2xUbFVleGoxUFZYWXhxY20AAgT5rtRaAwQAjScA">
            <p>
                二维码提供给您所在的美容院操作绑定
            </p>
            <p>
                绑定后可以在本程序预约和查看项目
            </p>
        </div>
    </center>
</ion-view>