<ion-view style="background:white">
    <ion-scroll style="height:100%">
        <ion-refresher
                pulling-text="下拉加载更多项目..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <div class="item item-divider">
                店内项目
            </div>
            <ion-item ng-repeat="item in param.shopProjectList">
                <div  ng-click="chooseProject(item.id)">
                    <i class="icon ion-ios-checkmark-outline" style="color:deeppink;font-size:30px;position:absolute" ng-if="shopAppointInfo.shopProjectIds.indexOf(item.id)==-1"></i>
                    <i class="icon icon ion-ios-checkmark" style="color:deeppink;font-size:30px;position:absolute" ng-if="shopAppointInfo.shopProjectIds.indexOf(item.id)!=-1"></i>
                </div>

                <div style="margin-left:60px">
                    <h style="font-weight:600;">{{item.projectName}}</h>
                    <br>
                    <p style="margin-top:10px">{{item.projectDuration}}分钟</p>
                </div>
                <i style="float:right;font-size: 0.3rem;margin-top: -24px" class="ion ion-ios-arrow-right" ng-click="goDetails(item.id);event.stopPropagation()" ></i>
            </ion-item>
        </ion-list>
    </ion-scroll>
    <div class="tabs"
          style="background:#e66;color:white;z-index: 1000;"
          ng-click="confirmProject()">
        <a class="tab-item" style="font-size:20px">
            确认
        </a>
    </div>
</ion-view>