<ion-view style="background: #f2f5f9">
    <div class="bar bar-header" style="background:pink">
        <h1 class="title">预约</h1>
    </div>
    <ion-content>
        <div class="list" style="padding-top:46px">
            <label class="item item-input item-select">
                <div class="input-label">
                    选择项目
                </div>
                <select>
                    <option>巧克力焕肤（60分钟）</option>
                    <option selected>冰部面部细胞护理（90分钟）</option>
                    <option>巧克力焕肤（60分钟）</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    选择美容师
                </div>
                <select>
                    <option>苗向阳</option>
                    <option selected>徐然然</option>
                    <option>陈桂红</option>
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>