<ion-view style="background: #f2f5f9">
    <div class="bar bar-header" style="background:pink">
        <h1 class="title">选择美容店内的项目</h1>
    </div>
    <ion-content>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'A'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'B'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'C'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'D'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'E'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'F'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'G'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'H'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'I'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'J'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'I'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'J'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'I'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'J'">冰光面部细胞护理</ion-radio>
            <ion-radio ng-model="choice" ng-value="'I'">巧克力焕肤</ion-radio>
            <ion-radio ng-model="choice" ng-value="'J'">冰光面部细胞护理</ion-radio>
        </ion-list>
    </ion-content>
    <<div class="tabs" style="background:red;color:black" ng-click="chooseProject()">
        <a class="tab-item" style="font-size:20px">
            确认
        </a>
    </div>
</ion-view>