<ion-view style="background: #f2f5f9">
    <div class="bar bar-header" style="background:pink">
        <h1 class="title">预约</h1>
    </div>
    <ion-content>
        <div class="list" style="padding-top:46px">
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-briefcase" style="color: pink"></i>
                <span style="color: black">选择项目</span>
                <span class="item-note">冰光面部细胞护理</span>
                <i class="icon ion-arrow-down-b" style="color:black;font-size:20px"></i>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-person-stalker" style="color: pink"></i>
                <span style="color: black">选择美容师</span>
                <span class="item-note">苗向阳</span>
                <i class="icon ion-arrow-down-b" style="color:black;font-size:20px"></i>
            </a>
        </div>
    </ion-content>
</ion-view>