<ion-view style="background:#f8f8f8">
    <ion-content>
        <div class="item">
            <p class="item-note" style="color: red">切换店铺</p>
            <center>
                <img style="border-radius:70px;margin-top:20px"
                        ng-src="http://thirdwx.qlogo.cn/mmopen/Q3auHgzwzM7icKgzsE7ndzop1IZNQDB4kkUpAy9DGmFcIiaV8s8BbxXHib66Vb6xqiaqNMtQl4MRtic0PPjicOWDAgKTFV8pfrAgzHYeHh9JssaDE/132">
                <p style="margin-top:15px">
                    <i class="icon ion-iphone"></i>&nbsp;13308510741
                    &nbsp;|&nbsp;
                    <i class="icon ion-home"></i>&nbsp;美容院分店
                </p>
            </center>
        </div>
        <ion-item>
            <img style="width: 25px; position: absolute;margin-left:15px"
                 ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
            <i class="ion ion-ios-arrow-forward item-note" style="margin-top:5px"></i>
            <div style="margin-left:60px;margin-top: 5px">
                <h>我的二维码</h>
            </div>
        </ion-item>
        <ion-item>
            <img style="width: 25px; position: absolute;margin-left: 15px"
                 ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
            <i class="ion ion-ios-arrow-forward item-note" style="margin-top:5px"></i>
            <div style="margin-left:60px;margin-top: 5px">
                <h>疗程卡</h>
            </div>
        </ion-item>
        <ion-item>
            <img style="width: 25px; position: absolute;margin-left: 15px"
                 ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
            <i class="ion ion-ios-arrow-forward item-note" style="margin-top:5px"></i>
            <div style="margin-left:60px;margin-top: 5px">
                <h>划卡记录</h>
            </div>
        </ion-item>
        <ion-item>
            <img style="width: 25px; position: absolute;margin-left: 15px"
                 ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
            <i class="ion ion-ios-arrow-forward item-note" style="margin-top:5px"></i>
            <div style="margin-left:60px;margin-top: 5px">
                <h>我的预约</h>
            </div>
        </ion-item>
    </ion-content>
    <div class="tabs" style="background:white;color:black">
        <a class="tab-item">
            预约
        </a>
        <a class="tab-item">
            评价
        </a>
        <a class="tab-item">
            我的
        </a>
    </div>
</ion-view>