<ion-view style="background: #f2f5f9">
    <div class="bar bar-header" style="background:pink">
        <h1 class="title">预约</h1>
    </div>
    <ion-content>
        <div class="row" style="padding-top:46px;height:150px">
            <div class="col col-50" style="background: white;color:black;margin-left:-1px" ng-click="chooseProject()">
                <p style="text-align: center">
                    <i class="icon ion-briefcase" style="color: pink;font-size: 20px"></i>
                    &nbsp;&nbsp;
                    <span style="color: pink">选择项目</span>
                    &nbsp;&nbsp;
                    <i class="icon ion-arrow-down-b" style="color:grey;font-size:20px"></i>
                </p>
                <p style="text-align:center;margin-top: 15px;font-size: 15px;">冰光面部细胞护理</p>
            </div>
            <div class="col col-50" style="background:white;color:black;margin-left: 2px" ng-click="chooseClerk()">
                <p style="text-align: center">
                    <i class="icon ion-person-stalker" style="color: pink;font-size: 20px"></i>
                    &nbsp;&nbsp;
                    <span style="color: pink">选择美容师</span>
                    &nbsp;&nbsp;
                    <i class="icon ion-arrow-down-b" style="color:grey;font-size:20px"></i>
                </p>
                <p style="text-align:center;margin-top: 15px;font-size: 15px;">
                    <img style="width: 30px;
                                  height: 30px;
                                  border-radius: 20px 20px 20px 20px;
                                  position: absolute;
                                  margin-left: 5.5%;
                                  margin-top: -5px;"
                         ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">
                    <span>苗向阳</span>
                </p>
            </div>
        </div>
        <div class="row" style="background: white;color:black;margin-top:1px;text-align: center">
            <div class="col" style="width:11%"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">今天</span></div>
            <div class="col" style="width:11%"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">明天</span></div>
            <div class="col" style="width:11%"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">后天</span></div>
            <div class="col" style="width:11%"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">04/04</span></div>
            <div class="col" style="width:11%"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">04/05</span></div>
            <div class="col"><span style="color: black;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: white;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;">04/06</span></div>
            <div class="col" style="width:11%"><span style="color: white;
                                            line-height: 29px;
                                            font-size: 10px;
                                            background: #f00;
                                            display: inline-block;
                                            height: 30px;
                                            width: 40px;
                                            border-radius: 20px 20px 20px 20px;">04/07</span></div>
        </div>
        <div style="margin-top:0px;background:pink;color:transparent;font-size:1px;height:2px">123</div>
        <div class="row" ng-repeat="item in param.timeDate"
             style="background:white;color:black;font-size:10px;
                      text-align:center;margin-left:40px;width:90%">
            <div class="col" ng-repeat="item1 in item">
                <span style="text-decoration:line-through;color: grey">{{item1}}</span>
            </div>
        </div>
        <div class="row" style="background:white;color:black;width:45px;margin-top:-184px;height:184px;">
            <div class="col">
                <br>
                <i class="icon ion-ios-partlysunny" style="color: pink;font-size: 20px"></i>
                <br><br>
                <i class="icon ion-ios-sunny" style="color: pink;font-size: 20px"></i>
                <br><br>
                <i class="icon ion-ios-cloudy-night" style="color: pink;font-size: 20px"></i>
            </div>
        </div>
        <div class="list">
            <a class="item item-icon-left" href="#">
                <i class="icon ion-chatbubble-working" style="color:pink"></i>
                <span style="color: black">捎话</span>
                <span class="item-note">给美容师捎句话&nbsp;></span>
            </a>
        </div>
        <center>
            <button class="button button-assertive"
                    style="width:90%;border-radius:20px">发送预约</button>
        </center>
    </ion-content>
    <div class="tabs" style="background:white;color:black">
        <a class="tab-item">
            预约
        </a>
        <a class="tab-item">
            评价
        </a>
        <a class="tab-item">
            我的
        </a>
    </div>
</ion-view>