<ion-view style="background:white">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in param.projectCardList">
                <div ng-click="chooseProjectCard(item.sysShopProjectId)">
                    <h>{{item.sysShopProjectName}}</h>
                    <i class="icon ion-chevron-right item-note"></i>
                    <p class="item-note">
                        <span style="color: red">{{item.sysShopProjectSurplusTimes}}</span>
                        /{{item.sysShopProjectInitTimes}}&nbsp;&nbsp;&nbsp;&nbsp;
                    </p>
                </div>
            </ion-item>
            <br><br><br><br>
        </ion-list>
        <!--<center>-->
            <!--<img style="width:50%;margin-top: 40%"-->
                 <!--ng-src="https://mximage.oss-cn-beijing.aliyuncs.com/viewPicture/%E7%A9%BA%E7%8A%B6%E6%80%81%E5%9B%BE%403x.png">-->
            <!--<h style="color:black;font-size:16px">小主，您这里什么都没有</h>-->
        <!--</center>-->
    </ion-content>
</ion-view>