
*.xml
project/wisdom-project/src/main/resources/.DS_Store
project/wisdom-project/src/main/resources/static/reception/receptionIndex.html
project/wisdom-project/src/main/resources/static/reception/.DS_Store
project/wisdom-project/src/main/resources/static/.DS_Store
project/wisdom-project/src/main/resources/static/reception/itemList/cashier/.DS_Store
