<ion-view>
    <style>
        .redPacket_box {
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 10;
        }

        .redPacket {
            position: relative;
            width: 65%;
        <!-- height: 12 %;
        --> overflow: hidden;
            margin: auto;
            margin-top: 40%
        }

        .redPacket img {
            display: block;
            width: 100%;
            height: 100%;
        }

        .redPacket .daynum {
            position: absolute;
            bottom: 44%;
            left: 46%;
            color: #fff;
            font-size: 12px;
        }

        .redPacket .close {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            /*background-color: #ffffff;*/
            position: absolute;
            top: 64px;
            right: 32px;
        }

        .redPacket .close1 {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            /*background-color: #ffffff;*/
            position: absolute;
            top: 0px;
            right: 1px;
        }

        .open {
            position: absolute;
            top: 13%;
            left: 20%;
            width: 60%;
            height: 210px;
            /*background-color: #ffffff;*/
        }

        .message {
            position: absolute;
            bottom: 142px;
            padding: 0 40px;
            font-size: 16px;
            text-align: center;
            width: 100%;
        }

        .yelColor {
            color: #FAC632;
        }


        .tab_sty{
            height: 52px;
            line-height: 41px;
            width: 100%;
        }
        .tab_sty ul{
            width: 165%;
        }
        .tab_sty .tab_header{
            height: 100%;
            width: 100%;
            overflow-x: scroll;
            overflow-y: hidden;
            margin-top: 16px;

        }
        .tab_sty .tab_header ul{
            height: 100%;
        }
        .tab_sty .tab_header ul li{
            height: 42px;
            width:16%;
            text-align: center;
            border-radius: 4px;
            float: left;
            margin-right: 1px;
            font-size: 14px;
            position: relative;
        }
        .tab_sty .tab_header ul li .bigsize{
            font-size: 20px;
        }
        .tab_sty .tab_header ul li e{
            width: 0;
            height: 0;
            border-width: 10px 10px 0;
            border-style: solid;
            position: absolute;
            left: 40%;
            bottom: -10px;
        }
        .tab_sty ul li:nth-child(1) e{border-color: #EAE6E6 transparent transparent;}
        .tab_sty ul li:nth-child(2) e{border-color: #FF8D8D transparent transparent;}
        .tab_sty ul li:nth-child(3) e{border-color: #FFD38A transparent transparent;}
        .tab_sty ul li:nth-child(4) e{border-color: #A0EAD9 transparent transparent;}
        .tab_sty ul li:nth-child(5) e{border-color: #9ECAFD transparent transparent;}
        .tab_sty ul li:nth-child(6) e{border-color: #D9D6D6  transparent transparent;}

        .tab_sty ul li:nth-child(1){background-color: #EAE6E6}
        .tab_sty ul li:nth-child(2){background-color: #FF8D8D}
        .tab_sty ul li:nth-child(3){background-color: #FFD38A}
        .tab_sty ul li:nth-child(4){background-color: #A0EAD9}
        .tab_sty ul li:nth-child(5){background-color: #9ECAFD}
        .tab_sty ul li:nth-child(6){background-color: #D9D6D6}
        .tab_sty .bigsize{

        }
        .tab_sty .tab_conetnt .priceArea{
            width: 100%;
            margin-bottom: 20px;
        }
        .footColor{color: #4A4A4A;}

        /*轮播样式*/
        @-webkit-keyframes middle {
            0% {
                top: 300px;
            }
            100% {
                top: -1300px;
            }
        }

        @-webkit-keyframes move {
            0% {
                left: 600px;
            }
            100% {
                left: -5650px;
            }
        }
        #wraps{ width:800px;height:100px; position:absolute;margin:100px auto;top: -135px;overflow:hidden;left: 50px}
        #list{ position:absolute;left:0;top:40px;margin:0;padding:0; -webkit-animation:50s move infinite linear; width:1500%;height:100%;}
        #list li{ list-style:none;width:370px;height:150px; color:#4A4A4A; font:14px Arial; text-align:center; float:left;white-space: nowrap;}
        #list li span{color: #f66667;}
        #wraps:hover #list{ -webkit-animation-play-state:paused;}
        @keyframes moveup {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(-100%);
            }
        }
        .box {
            animation: moveup 15s linear infinite;
        }

        .box {
            margin: 0;
        }

        .box li {
            line-height: 30px;
        }

    </style>
    <ion-content overflow-scroll="true" style="bottom: 48px">
        <!--轮播图部分-->
        <a style="background: #FC4B4B;height: 36px;line-height: 36px;font-size: 16px;font-family: PingFangSC-Regular;text-align: center"
           href="https://mp.weixin.qq.com/s/B8f8hmCWz3T2xUwpRvz-iQ">一个可以分享赚钱的韩品直购的美妆商城</a>
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=4000 show-pager="false">
            <ion-slide ng-repeat="item in param.bannerList">
                <div class="box" style="height:3.98rem;width: 7.50rem">
                    <a ng-href="{{item.forward}}" ng-click="clickCarousel(item.id)"> <img ng-src="{{item.uri}}"
                                                                                          style="height:3.98rem;width:7.50rem"/></a>
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="wrap">
            <div>
                <div style="position: absolute;left: 0px;top: 220px;background-color: #EAE6E6;width: 100%;height:32px" >
                    <img src="images/laba.jpg" alt=""style="width: 18px;height: 17px;margin-left: 10px;margin-top: 7px">
                    <div id="wraps">
                        <ul id="list">
                            <li ng-repeat="item in rankingsList">
                                恭喜<span>{{item.mobile}}</span>店主获得
                                <span>{{item.amount}}</span>元返利
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--新人专享-->
        <div style="width: 100%;height: 68px;position:relative;">
            <img src="images/newPeople.png" style="width: 123px;height:32px;position:absolute;top:50%;left:50%;margin-top: -12px;
    margin-left: -61.5px;">
        </div>
        <div style="height:136px;width:7.50rem;margin-bottom: 16px" ng-repeat="item in param.productList"
            ng-if="item.productPrefecture=='1'">
           <img ng-src="{{item.firstUrl}}" ng-click="enterDetails(item.productId)"
                style="width: 7.5rem;height: 136px;"/>
       </div>
       <!--活动专区-->
        <div style="width: 100%;height: 68px;position:relative;">
            <img src="images/huodong.png" style="width: 123px;height:32px;position:absolute;top:50%;left:50%;margin-top: -12px;
    margin-left: -61.5px;">
        </div>
        <div style="height:136px;width:7.50rem" ng-repeat="item in  param.productList"
             ng-if="item.productPrefecture=='2'">
            <img ng-src="{{item.firstUrl}}" ng-click="enterDetails(item.productId)"
                 style="width: 7.5rem;height: 136px"/>
        </div>
        <!--tab切换-->
        <div class="tab_sty">
            <div  class="tab_header">
                <ul>
                    <li ng-click="checkPrice('all')" class=""><e ng-show="shopHomeParam=='all'"></e><i style="font-size: 14px;font-family:PingFang-SC-Bold;color: #4A4A4A;letter-spacing: 0.42px;">全部商品</i></li>
                    <li ng-click="checkPrice(99)" class=""><e  ng-show="shopHomeParam==99"></e><i class="bigsize">99</i>元专区</li>
                    <li ng-click="checkPrice(199)" class=""><e  ng-show="shopHomeParam==199"></e><i class="bigsize">199</i>元专区</li>
                    <li ng-click="checkPrice(299)" class=""><e  ng-show="shopHomeParam==299"></e><i class="bigsize">299</i>元专区</li>
                    <li ng-click="checkPrice(399)" class=""><e  ng-show="shopHomeParam==399"></e><i class="bigsize">399</i>元专区</li>
                    <li ng-click="checkPrice(499)" class=""><e  ng-show="shopHomeParam==499"></e><i class="bigsize">499</i>元专区</li>
                </ul>
            </div>
            <div class="tab_conetnt">
                <div class="priceArea ">
                    <div  class="row row-wrap">
                        <!--单个分区-->
                        <div ng-if="!allProductFlag" ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in repeatList">
                            <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                            <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px">
                                <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                <span style="float: right;margin-right: 5px;color: #9B9B9B;font-size: 12px;font-family: PingFangSC-Regular;">销量 {{item.productDetail.productSalesVolume}}</span>
                                <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                            </p>
                        </div>
                        <!--点击全部按钮-->
                        <!--99-->
                        <div style="width: 100%" class="row row-wrap" ng-if="allProductFlag" >
                          <div style="width: 100%;height: 50px;line-height: 50px;margin-bottom: 4px;margin-top: 18px;">
                              <img src="images/99.png" style="width: 225px;margin: 0 auto">
                          </div>
                            <div   ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in onePriductList" >
                                <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                                <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px;">
                                    <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                    <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                    <span style="float: right;margin-right: 5px;color: #9B9B9B;font-family: PingFangSC-Regular;font-size: 12px;">销量 {{item.productDetail.productSalesVolume}}</span>
                                <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                                </p>
                            </div>
                        </div>
                        <!--199-->
                        <div style="width: 100%" class="row row-wrap" ng-if="allProductFlag">
                            <div style="width: 100%;height: 50px;line-height: 50px;margin-bottom: 4px;margin-top: 13.5px;">
                                <img src="images/199.png" style="width: 227px;margin: 0 auto">
                            </div>
                        <div   ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in twoPriductList" >
                            <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                            <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px;">
                                <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                <span style="float: right;margin-right: 5px;color: #9B9B9B;font-family: PingFangSC-Regular;font-size: 12px;">销量 {{item.productDetail.productSalesVolume}}</span>
                            <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                            </p>
                        </div>
                        </div>

                        <!--299-->
                        <div style="width: 100%" class="row row-wrap" ng-if="allProductFlag">
                            <div style="width: 100%;height: 50px;line-height: 50px;margin-bottom: 4px;margin-top: 13.5px;">
                                <img src="images/299.png" style="width: 227px;margin: 0 auto">
                            </div>
                            <div   ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in threePriductList" >
                                <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                                <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px;">
                                    <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                    <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                    <span style="float: right;margin-right: 5px;color: #9B9B9B;font-family: PingFangSC-Regular;font-size: 12px;">销量 {{item.productDetail.productSalesVolume}}</span>
                                <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                                </p>
                            </div>
                        </div>
                        <!--399-->
                        <div style="width: 100%" class="row row-wrap" ng-if="allProductFlag">
                            <div style="width: 100%;height: 50px;line-height: 50px;margin-bottom: 4px;margin-top: 13.5px;">
                                <img src="images/399.png" style="width: 227px;margin: 0 auto">
                            </div>
                            <div   ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in fourPriductList" >
                                <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                                <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px;">
                                    <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                    <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                    <span style="float: right;margin-right: 5px;color: #9B9B9B;font-family: PingFangSC-Regular;font-size: 12px;">销量 {{item.productDetail.productSalesVolume}}</span>
                                <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                                </p>
                            </div>
                        </div>

                        <!--499-->
                        <div style="width: 100%" class="row row-wrap" ng-if="allProductFlag">
                            <div style="width: 100%;height: 50px;line-height: 50px;margin-bottom: 4px;margin-top: 13.5px;">
                                <img src="images/499.png" style="width: 227px;margin: 0 auto">
                            </div>
                            <div ng-if="allProductFlag" ng-click="enterDetails(item.productId)" class="col col-50" ng-repeat="item in fivePriductList" >
                                <img class="full-image" ng-src="{{item.firstUrl}}"style="height: 168px">
                                <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;margin-top: 10px;">
                                    <span  style="width: 100%; display: inline-block ;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;margin-bottom: 6px;font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 16px;">{{item.productName}}</span>

                                    <span style="font-family: PingFangSC-Regular;font-size: 16px;color: #FF6666;letter-spacing: 0;">￥{{item.price}}</span>
                                    <span style="float: right;margin-right: 5px;color: #9B9B9B;font-family: PingFangSC-Regular;font-size: 12px;">销量 {{item.productDetail.productSalesVolume}}</span>
                                <p style="font-family: PingFangSC-Regular;font-size: 12px;color: #9B9B9B;line-height: 17px;margin-top: 5px">零售价 <del>￥{{item.productDetail.productMarketPrice}}</del></p>
                                </p>
                            </div>
                        </div>


                    </div>
              </div>
           </div>
        </div>
        </div>
    </ion-content>
    <!--ionic 底部切换在安卓手机出现兼容问题 所以改变成div形式-->
    <div style="width: 100%;background: #DBDBDB ;position: absolute;left: 0px;bottom: 0px;right: 0px;height: 48px;">
        <ul style="display: flex;flex-wrap: wrap;justify-content: space-between;font-size: 14px">
            <li style="text-align: center;width: 25%;height: 48px" class="footColor" ng-class="{'footActive':param.checkType==0}" ng-click="checkBg(0)" ui-sref="shopHome">
                <i class=" icon ion-ios-home-outline"  style="font-size: 24px;display: inline-block;margin-top: 5px" class="footColor"></i>
                <p style="margin-top: 1px;font-size: 12px">首页</p>
            </li>
            <li style="text-align: center;width: 25%;height: 48px"  ng-class="{'footActive':param.checkType==1}" ng-click="checkBg(1)" class="footColor" ui-sref="shareHome">
                <i class=" icon ion-ios-redo-outline" style="font-size: 24px;display: inline-block;margin-top: 5px"></i>
                <p style="margin-top: 1px;font-size: 12px">分享赚钱</p>
            </li>
            <li style="text-align: center;width: 25%;height: 48px"  ng-class="{'footActive':param.checkType==2}" ng-click="checkBg(2)" class="footColor" ui-sref="buyCart">
                <i class=" icon ion-ios-cart-outline" style="font-size: 24px;display: inline-block;margin-top: 5px"></i>
                <p style="margin-top: 1px;font-size: 12px">购物车</p>
            </li>
            <li style="text-align: center;width: 25%;height: 48px"  ng-class="{'footActive':param.checkType==3}" ng-click="checkBg(3)" class="footColor" ui-sref="orderManagement({type:'all'})">
                <i class=" icon ion-ios-list-outline" style="font-size: 24px;display: inline-block;margin-top: 5px"></i>
                <p style="margin-top: 1px;font-size: 12px">我的订单</p>
            </li>
        </ul>
    </div>
    <!--进首页弹出页面-->
    <div class="redPacket_box" ng-if="param.redPackerBox">
        <div class="redPacket">
            <img src="images/huo.jpg" alt="">
            <span ng-click="redPackerClose()" class="close1"></span>
        </div>
    </div>
</ion-view>
