<ion-view style="background: #f2f5f9">
    <style>
        .redPacket_box{
            background-color: rgba(0,0,0,0.42);
            position: absolute;
            top: 0px;
            right: 0px;
            left: 0px;
            bottom: 0px;
            z-index: 10;
        }
        .redPacket{
            position: relative;
            /*width: 235px;*/
            /*height: 400px;*/
            overflow: hidden;
            margin: 150px auto;
        }
        .redPacket img{
            display: block;
            width: 100%;
            height: 100%;
        }
        .redPacket .daynum{
            position: absolute;
            bottom: 44%;
            left: 46%;
            color: #fff;
            font-size: 12px;
        }
        .redPacket .close{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            /*background-color: #ffffff;*/
            position: absolute;
            top: 64px;
            right: 32px;
        }
        .redPacket .close1{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            /*background-color: #ffffff;*/
            position: absolute;
            top: 15px;
            right: 32px;
        }
        .open{
            position: absolute;
            top: 13%;
            left: 20%;
            width: 60%;
            height: 210px;
            /*background-color: #ffffff;*/
        }
        .message{
            position: absolute;
            bottom: 142px;
            padding: 0 40px;
            font-size: 16px;
            text-align: center;
            width: 100%;
        }
        .yelColor{
            color: #FAC632;
        }
    </style>
    <ion-content>
        <!--轮播图部分-->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=4000 show-pager="false">
        <ion-slide ng-repeat="item in param.bannerList">
            <div class="box" style="height:3.98rem;width: 7.50rem">
                <a ng-href="{{item.forward}}" ng-click="clickCarousel(item.id)"> <img ng-src="{{item.uri}}" style="height:3.98rem;width:7.50rem"/></a>
            </div>
        </ion-slide>
    </ion-slide-box>
        <!--商品部分-->
        <div style="margin-top: 20px;height:5.16rem;width:7.50rem" ng-repeat="item in param.productList" ng-if="item.productId==param.promoteProductId" >
            <img ng-src="{{item.firstUrl}}" ng-click="goPromoteProduct(item.productId)" style="width: 7.5rem;height: 5.30rem"/>
        </div>
        <div>
            <div  style="position: relative;" ng-repeat="item in param.product2List">
                <!--<div style="width:2rem;height: 1rem;color: #333333;margin-bottom: 30px;position: absolute;top:20px;left:50%;margin-left:-1rem;text-align: center;font-size: 16px">{{item.name}}元专区</div>-->
                <!--<div class="col col-50"  ng-repeat="item2 in item.data">-->
                <div ng-repeat="item2 in item.data" style="margin-top: 20px;">
                    <div  ng-click="enterDetails(item2.productId)" ng-if="item2.productId!=param.promoteProductId" style="position: relative">
                        <img class="full-image" ng-src="{{item2.firstUrl}}">
                        <div ng-if="item2.productId=='MXT99-02'" style="position: absolute;top: 13px;right: 15px;font-size: 14px;color:#f05a24 ;font-family: 微软雅黑" id="timeResult">特惠价结束仅剩 <span style="font-size: 18px;color: #333333">{{param.timeContent}}</span>天</div>
                        <!--<h1 style="font-size:0.26rem;font-weight: bold;color: #333333;">{{item2.productName}}</h1>-->
                        <!--<p style="font-size:0.24rem;color: #666666">-->
                        <!--{{item2.description}}-->
                        <!--</p>-->
                    </div>
                    <!--<p>-->
                    <!--<a class="subdued" style="color: #ff4a59;font-size:0.32rem;margin-top: 0.26rem;font-weight:bold;">￥{{item2.price}}</a>-->
                    <!--<a  class="subdued" style="float:right;margin-top:-20px;margin-right: 0.22rem;margin-bottom: 0.2rem"><img src="images/shopHome/shoppingcart.png" style="width: 0.52rem;height: 0.52rem;"></a>-->
                    <!--</p>-->
                    <!--</div>-->
                    <!--<div  ng-repeat="item2 in item.data">-->
                    <!--<div ui-sref="offlineProductDetail({productId:item2.productId})">-->
                    <!--<img class="full-image" ng-src="{{item2.firstUrl}}">-->
                    <!--&lt;!&ndash;<h1 style="font-size:0.26rem;font-weight: bold;color: #333333;">{{item2.productName}}</h1>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p style="font-size:0.24rem;color: #666666">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{item2.description}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!---->
        <div ng-if="param.redPackerFlagOne" class="redPacket_box">
            <div class="redPacket">
                <img  src="images/redPacket2.png" alt="">
                <span class="daynum" ng-if="param.bonusLeftDay>0">第<i class="yelColor">{{param.bonusLeftDay}}</i>天</span>
                <span ng-click="redPackerClose()" class="close"></span>
                <span ng-click="redPackerOpen()" class="open"></span>
            </div>
        </div>
        <div ng-if="param.redPackerFlagTwo" class="redPacket_box">
            <div class="redPacket">
                <img  src="images/redPacket1.png" alt="">
                <span ng-click="redPackerClose()" class="close1"></span>
                <div class="message">
                    <span>你的宝箱里有<i class="yelColor">{{param.bonusValue}}元</i>现金
                    </span>
                </div>
            </div>
        </div>

        <div class="redPacket_box">
            <div class="redPacket">
                <img  src="images/huodong.jpg" alt="">
                <span ng-click="redPackerClose()" class="close1"></span>
            </div>
        </div>

    </ion-content>
</ion-view>