<ion-view class="bg">
    <ion-content>
       <div class="list">
           <li class="item"><span class="fs16">名称<span class="colff66">*</span></span><span class="fr">汉方美业</span></li>
           <li class="item"><span class="fs16">图片</span><img src="" style="width: 126px;height: 79px;float: right"></li>
       </div>
        <div class="list">
            <li class="item"><span class="fs16">客服电话<span class="colff66">*</span></span><span class="fr">7708801314520</span></li>
            <li class="item"><span class="fs16">省市区<span class="colff66">*</span></span><span class="fr">北京 东城区 <i class="ion ion-ios-arrow-right ml5"></i></span></li>
            <li class="item" style="position: relative"><span class="fs16">总部地址<span class="colff66">*</span></span><span></span><input type="text" placeholder="请输入你的地址"  class="fr col66 tr mr20"><img
                    src="images/mine/postionb.png"style="width: 13px;height: 18px;position: absolute;top: 25px;right: 10px;"></li>
        </div>
        <div class="list">
           <li class="item"><img src="images/mine/threeFoot.png" style="width: 6px;height: 10px;display: inline-block"><span class="fs14 ml10">证件信息</span></li>
        <li class="item item-toggle">
            上门服务
            <label class="toggle toggle-assertive">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </li>
        <li class="row bgfff">
            <div class=" col col-20 fs15 col33 mt20">
                简介
            </div>
            <div class="col col-80">
                   <textarea style="height:76px;width:250px;font-size: 0.3rem;color: #333333;padding: 20px;border: 1px solid #CACACA;
border-radius: 4px;"></textarea>
            </div>
        </li>
        </div>
        <div class="tc">
            <button style="width:165px;height:44px;border-radius:0.46rem;color: #FFFFFF;background: #ff6666;font-size: 0.34rem"
                    class="button " >保存</button>
        </div>
    </ion-content>
</ion-view>