<ion-view class="bg">
    <ion-content>
        <div class="list" ng-repeat="item in [1,2,3,4,5]" ui-sref="editorCard">
            <ion-item  class="row" >
                <div class="col col-20" style="line-height: 49px;">
                    <p style="height:64px;width:82px;background: gainsboro"></p >
                </div>
                <div class="col col-80 ml20" >
                    <p class="fs15" style="color: #333333!important;"><span>金卡</span></p >
                    <p class="fs15" style="color: #333333!important;">市场价格：¥680.00</p >
                    <p class=" fs13" style="color: #ff6666!important;">优惠价格：¥580.00/30次</p >
                </div>
            </ion-item>
            <p class="item fs12" style="color: #999999">有效期：长期有效</p>
        </div>
    </ion-content>
</ion-view>
