<ion-view class="bg">
    <ion-content style="margin-bottom: 45px">
      <div class="list fs15">
          <li class="item"><span class="col33 mt20 disp">头像</span><img src="" style="width: 80px;height: 80px;" class="fr mr20"></li>
          <li class="item"><span class="col33">名字 <span class="colff66">*</span></span><span class="col66 fr mr20">美业邦</span></li>
          <li class="item"><span class="col33">性别 </span><span class="col66 fr mr20">女 <i class="ion ion-ios-arrow-right fs17"></i></span></li>
          <li class="item"><span class="col33 ">手机号码</span><span class="col66 fr mr20">13301658056</span></li>
          <li class="item"><span class="col33 ">所在院名</span><span class="col66 fr mr20">汉方美业</span></li>
          <li class="item"><span class="col33 ">所在店名</span><span class="col66 fr mr20">汉方美业</span></li>
          <li class="item"><span class="col33 ">我的职务</span><span class="col66 fr mr20">院长</span></li>
          <li class="item"><span class="col33 ">我的特长</span><span class="col66 fr mr20">0</span></li>
          <li class="item"><span class="col33 ">我的微信</span><span class="col66 fr mr20" >13301658056</span></li>
          <label class="item item-input">
              <span class="input-label">我的QQ</span>
              <input type="text" placeholder="请输入我的QQ" class="tr">
          </label>
          <label class="item item-input">
              <span class="input-label">我的地址</span>
              <input type="text" placeholder="请输入我的地址" class="tr" >
          </label>
      </div>
        <div style="text-align: center">
            <button style="width:158px;height:39px;border-radius:0.46rem;color: #FFFFFF;background: #ff6666;font-size: 17px"
                    class="button ">保存</button>
        </div>
    </ion-content>
</ion-view>