<ion-view>
    <ion-content class="partialFiles bgf6" ng-click="all()">
        <div>

            <ion-list>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">姓名</span>
                    </p>
                    <p>
                        <span class="mr10">
                            {{mployeesDtails.name}}
                        </span>

                    </p>
                </ion-item>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">手机号</span>
                    </p>
                    <p>
                        <span class="mr10">
                            {{mployeesDtails.mobile}}
                        </span>

                    </p>
                </ion-item>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">所在分店</span>
                    </p>
                    <p ng-click="shop(); $event.stopPropagation()">
                        <span class="fa15 col333 mr10">{{mployeesDtails.sysShopName}}</span>
                    </p>
                </ion-item>
            </ion-list>
            <ul class="list">
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">店员</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="param.managerStatus">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">前台</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="param.fontDeskStatus">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">美容师</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" checked="checked" ng-model="param.beauticianStatus"  >
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <p style="width:165px;height:44px;margin:auto;background: #FF6666;box-shadow: 0 4px 4px 0 rgba(255,102,102,0.24);border-radius: 100px;line-height: 44px;margin-top:100px;" class="center colfff " ng-click="save()">保存</p>
        </div>
    </ion-content>
</ion-view>