<ion-view class="bg">
    <ion-header>
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
            <div class="tabs" style="top:0" >
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='project']"
                   ng-click="chooseTab('all')">
                    <span style="font-size:0.35rem">项目</span><img src="images/Stock/hitCard.png" class="trianglePic">
                </a>
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='product']"
                   ng-click="chooseTab('0')">
                    <span style="font-size:0.35rem">产品</span><img src="images/Stock/hitCard.png" class="trianglePic">
                </a>
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='card']"
                   ng-click="chooseTab('1')">
                    <span style="font-size:0.35rem">套卡</span>
                </a>
                <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='rechargeableCard']"
                   ng-click="chooseTab('4')">
                    <span style="font-size:0.35rem">充值卡</span>
                </a>
            </div>
        </div>
    </ion-header>
    <ion-content style="margin-top: 40px">
        <ion-item  class=" bgfff row"style="width: 96%;margin: 20px auto 0;border-radius: 6px;" >
            <div class="col col-20">
                <p style="height:70px;width:75px;background: gainsboro;margin-top: 5px"></p >
            </div>

            <div class="col col-80 ml10" >
                <p style="font-size: 15px"><span>雪痕</span></p >
                <p class="fs12 col88">编号：</p >
                <p class="fs12 col88"><span>单位：件</span><span class="ml5">规格：1000g</span></p>
            </div>
        </ion-item>
    </ion-content>
</ion-view>