<ion-view class="bg">
    <ion-content>
        <div class="list">
            <ion-item  class="row" ng-repeat="item in [1,2,3,4,5]">
                <div class="col col-30" style="line-height: 49px;">
                    <p style="height:89px;width:106px;background: gainsboro;"></p >
                </div>

                <div class="col col-40 ml10" >
                    <p class="fs15" style="color: #333333!important;"><span>白金卡</span></p >
                    <p class="fs15" style="color: #FF6666!important; "><span class="fs11">面额：</span><span class="fs14">10000.00</span></p >
                    <p class=" fs11" style="color: #333333!important;">折扣：单次1.0折</p >
                </div>
                <div class="col col-30">
                    <i class=" ion ion-ios-arrow-right fr" style="margin-top: 40px"></i>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
