<ion-view class="bg">
    <ion-content>
      <div class="list">
          <li class="item tc"><span>美容分店</span><img src="images/mine/drop-down.png" style="width: 15px;height: 10px;display: inline-block;margin-left: 10px"></li>
          <li class="item item-toggle">
              开启排班功能
              <label class="toggle toggle-assertive">
                  <input type="checkbox">
                  <div class="track">
                      <div class="handle"></div>
                  </div>
              </label>
          </li>
      </div>
        <div class="list">
            <li class="item item-toggle">
                早班
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item"><span>上班10:00</span><span class="fr mr10">下班时间18:00</span></li>
            <li class="item item-toggle">
                中班
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item"><span>上班10:00</span><span class="fr mr10">下班时间18:00</span></li>
            <li class="item item-toggle">
                晚班
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item"><span>上班09:30</span><span class="fr mr10">下班时间21:30</span></li>
            <li class="item item-toggle">
                全班
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
            <li class="item"><span>上班09:30</span><span class="fr mr10">下班时间21:00</span></li>
        </div>
    </ion-content>
</ion-view>
