<ion-view class="bg">
    <ion-content>
        <div class="list">
            <p class="item" ng-click="basicSettingGo()"><img src="images/mine/Data.png" style="width: 21px;height: 20px;display: inline-block"><span class="ml10 fs15 col33 bold">基础资料设置</span><i style="float:right;font-size: 22px" class="ion ion-ios-arrow-right"></i></p>
            <p class="item" ng-click="systemSetupGo()"><img src="images/mine/System.png" style="width: 21px;height: 20px;display: inline-block"><span class="ml10 fs15 col33 bold">系统设置</span><i style="float:right;font-size: 22px" class="ion ion-ios-arrow-right"></i></p>
        </div>
    </ion-content>
</ion-view>