<ion-view>
    <ioon-content class="partialFiles bgf6" >
        <div ng-repeat="item in treatment.detailLevel" class= "bgfff mb10">
            <p class="pd15 bbl fs16 h60 LH60">{{item.levelOneDetail.projectTypeName}}</p>
            <div class="list">
                <li class="item pd15 h50 fs15" ng-repeat="(key,val) in item.levelTwoDetail" ng-click="selTreatment(val.projectTypeTwoId)">
                    <p >
                        <i class="icon ion-android-radio-button-off" class="col888" style="color:#FF6666;font-size:20px;"   ng-if="param.periodList.indexOf(val.projectTypeTwoId)==-1"></i>
                        <i class="icon icon ion-ios-checkmark" style="color:#FF6666;font-size:20px;"  ng-if="param.periodList.indexOf(val.projectTypeTwoId)!=-1"></i>
                       {{key}}
                    </p>

                </li>
            </div>
        </div>
    </ioon-content>
    <div class="tabs" style="padding-top: 0px;background: #ff6666;color: #ffffff;" ng-click="save()">
        保存
    </div>
</ion-view>