<div class="addRecordDetail">
    <div ng-if = "!responseData.openSelectFlag" class="addRecordDetail_box">
        <div class="addRecordDetail_header">
            <div class="addRecordDetail_header_box">
                头像
                <div class="addRecordDetail_logo">
                    <img ng-src="{{responseData.imageUrl}}" alt="">
                </div>
            </div>
        </div>
        <div class="addRecordDetail_content">
            <div class="addRecordDetail_content_box">
                <ul>
                    <li>
                        <label for="">姓名 <i>*</i></label>
                        <input ng-model="responseData.sysUserName" type="text" placeholder="请输入顾客姓名">
                    </li>

                    <li>
                        <label for="">手机 <i>*</i></label>
                        <input ng-model="responseData.phone" type="text" placeholder="请输入顾客手机号">
                    </li>

                    <li ng-click="openSelect('sex','性别')">
                        <label for="">性别 </label>
                        {{responseData.sex}}
                        <span> > </span>
                    </li>

                    <li>
                        <label for="">生日 </label>
                        {{responseData.selectContentBirthday}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">年龄 </label>
                        {{shopUserArchivesDTO.age}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">星座 </label>
                        {{shopUserArchivesDTO.constellation}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">血型 </label>
                        {{shopUserArchivesDTO.bloodType}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">身高 </label>
                        {{responseData.height}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">来源渠道 </label>
                        {{responseData.selectContentSource}}
                        <span> > </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if = "responseData.openSelectFlag" class="addRecordDetail_select">
        <div ng-if="responseData.select_type == 'blood'" class="sex select_public">
            <ul>
                <li ng-click="selectFn('sex','未知')">未知 <i></i> </li>
                <li ng-click="selectFn('sex','A')">A <i></i> </li>
                <li ng-click="selectFn('sex','B')">B <i></i> </li>
                <li ng-click="selectFn('sex','AB')">AB <i></i> </li>
                <li ng-click="selectFn('sex','O')">O <i></i> </li>
            </ul>
        </div>
        <div ng-if="responseData.select_type == 'sex'" class="sex select_public">
            <ul>
                <li ng-click="selectFn('sex','男')">男 <i></i> </li>
                <li ng-click="selectFn('sex','女')">女 <i></i> </li>
            </ul>
        </div>
        <div ng-if="responseData.select_type == 'birthday'" class="birthday"></div>
        <div ng-if="responseData.select_type == 'age'" class="age"></div>
        <div ng-if="responseData.select_type == 'constellation'" class="constellation"></div>
        <div ng-if="responseData.select_type == 'blood'" class="blood"></div>
        <div ng-if="responseData.select_type == 'height'" class="height"></div>
        <div ng-if="responseData.select_type == 'source'" class="source"></div>
    </div>
</div>