<div class="addRecord">
    <div ng-if = "!param.openSelectFlag" class="addRecord_box">
        <div class="addRecord_header">
            <div class="addRecord_header_box">
                头像
                <div class="addRecord_logo">
                    <img ng-src="{{param.imgSrc}}" alt="">
                    <input onchange="angular.element(this).scope().img_upload(this.files)" type="file">
                </div>
            </div>
        </div>
        <div class="addRecord_content">
            <div class="addRecord_content_box">
                <ul>
                    <li>
                        <label for="">姓名 <i>*</i></label>
                        <input ng-model="param.selectContentName" type="text" placeholder="请输入顾客姓名">
                    </li>

                    <li>
                        <label for="">手机 <i>*</i></label>
                        <input ng-model="param.selectContentPhone" type="text" placeholder="请输入顾客手机号">
                    </li>

                    <li ng-click="openSelect('sex','性别')">
                        <label for="">性别 </label>
                        {{param.selectContentSex}}
                        <span> > </span>
                    </li>

                    <li>
                        <label for="">生日 </label>
                        <input ng-model="param.selectContentBirthday" type="text" placeholder="请输入顾客生日">
                    </li>
                    <li>
                        <label for="">年龄 </label>
                        <input ng-model="param.selectContentAge" type="text" placeholder="请输入顾客年龄">
                    </li>
                    <li>
                        <label for="">星座 </label>
                        <input ng-model="param.selectContentConstellation" type="text" placeholder="请输入顾客生日">
                    </li>
                    <li ng-click="openSelect('bloodType','血型')">
                        <label for="">血型 </label>
                        {{param.selectContentBlood}}
                        <span> > </span>
                    </li>
                    <li>
                        <label for="">身高 </label>
                        <input ng-model="param.selectContentHeight" type="text" placeholder="请输入顾客身高">
                    </li>

                    <li ng-click="openSelect('channel','渠道')">
                        <label for="">来源渠道 </label>
                        <!--{{param.selectContentChannel}}-->
                        <span ng-if="param.selectContentChannel == '0' ">美团</span>
                        <span ng-if="param.selectContentChannel == '1' ">大众点评</span>
                        <span ng-if="param.selectContentChannel == '2' ">百度糯米</span>
                        <span ng-if="param.selectContentChannel == '3' ">朋友推荐</span>
                        <span ng-if="param.selectContentChannel == '4' ">高德地图</span>
                        <span ng-if="param.selectContentChannel == '5' ">自己过来</span>
                        <span> > </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if = "param.openSelectFlag" class="addRecord_select">
        <div ng-if="param.select_type == 'sex'" class="sex select_public">
            <ul>
                <li ng-click="selectFn('sex','男')">男 <i></i> </li>
                <li ng-click="selectFn('sex','女')">女 <i></i> </li>

            </ul>
        </div>
        <div ng-if="param.select_type == 'bloodType'" class="sex select_public">
            <ul>
                <li ng-click="selectFn('bloodType','未知')">未知 <i></i> </li>
                <li ng-click="selectFn('bloodType','A')">A <i></i> </li>
                <li ng-click="selectFn('bloodType','B')">B <i></i> </li>
                <li ng-click="selectFn('bloodType','AB')">AB <i></i> </li>
                <li ng-click="selectFn('bloodType','O')">O <i></i> </li>
            </ul>
        </div>
        <div ng-if="param.select_type == 'channel'" class="sex select_public">
            <ul>
                <!--0 美团  1大众点评  2 百度糯米 3 朋友推荐 4 高德地图  5 自己过来-->
                <li ng-click="selectFn('channel','0')">美团 <i></i> </li>
                <li ng-click="selectFn('channel','1')">大众点评 <i></i> </li>
                <li ng-click="selectFn('channel','2')">百度糯米 <i></i> </li>
                <li ng-click="selectFn('channel','3')">朋友推荐 <i></i> </li>
                <li ng-click="selectFn('channel','4')">高德地图 <i></i> </li>
                <li ng-click="selectFn('channel','5')">自己过来 <i></i> </li>
            </ul>
        </div>

        <div ng-if="param.select_type == 'birthday'" class="birthday"></div>
        <div ng-if="param.select_type == 'age'" class="age"></div>
        <div ng-if="param.select_type == 'constellation'" class="constellation"></div>
        <div ng-if="param.select_type == 'blood'" class="blood"></div>
        <div ng-if="param.select_type == 'height'" class="height"></div>
        <div ng-if="param.select_type == 'source'" class="source"></div>
    </div>
</div>