<home-top params="option"></home-top>
<div class="details">
    <div class="details_top">
        <div class="details_img">
            <div class="pc-slide">
                <div class="view">
                    <div class="swiper-container">
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>
                        <div class="swiper-wrapper">
                            <div ng-repeat="item in goodDetails.productDetail.listPic" class="swiper-slide">
                                <a>
                                    <img ng-src="{{item}}" style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <!--<div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b2.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b3.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b4.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b5.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b6.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <a class="arrow-left" href="#"></a>
                    <a class="arrow-right" href="#"></a>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div ng-repeat="item in goodDetails.productDetail.listPic" class="swiper-slide active-nav">
                                <img ng-src="{{item}}" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <!--<div class="swiper-slide">
                                <img src="images/details_img/s2.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s3.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s4.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s5.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide slide6">
                                <img src="images/details_img/s6.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details_text">
            <div class="goods_name">
                <p>{{goodDetails.productName}}</p>
                <span>{{goodDetails.description}}</span>
            </div>

            <div class="price">
                售价<span>￥{{goodDetails.price}}</span>
            </div>

            <div class="tax">
                税费：<span>预估￥0，实际税费请以提交订单为准</span>
            </div>
            <div class="freight">
                运费：<span>￥0</span>
            </div>
            <div class="num">
                数量：<span ng-click="reducenum()">-</span><input type="text" ng-blur = "verifyNum()" ng-model="params.goodsNum"><span ng-click="addnum()">+</span>
            </div>
            <div class="pay">
                <ul>
                    <li ng-click="goPay()">立即购买</li>
                    <li ng-click="addBuyCart()">加入购物车</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="details_bootom">
        <img ng-repeat="item in goodDetails.productDetail.detailPic" ng-src="{{item}}" alt="">
    </div>

</div>