<home-top></home-top>
<div class="details">
    <div class="details_top">
        <div class="details_img">
            <div class="pc-slide">
                <div class="view">
                    <div class="swiper-container">
                        <a class="arrow-left" href="#"></a>
                        <a class="arrow-right" href="#"></a>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b1.jpg" style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b2.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b3.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b4.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b5.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a>
                                    <img src="images/details_img/b6.jpg"style="display: block;width: 100%;height: 100%" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="preview">
                    <a class="arrow-left" href="#"></a>
                    <a class="arrow-right" href="#"></a>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide active-nav">
                                <img src="images/details_img/s1.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s2.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s3.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s4.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/details_img/s5.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                            <div class="swiper-slide slide6">
                                <img src="images/details_img/s6.jpg" alt="" style="display: block;width: 100%;height: 100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="details_text">
            <div class="goods_name">
                <p>Apple iPhone X (A1865) 64GB 深空灰色 移动联通电信4G手机</p>
                <span>多特海伦是一款专为过敏体质的朋友设计， 不含任何化学物质，纯天然过敏肌肤可用</span>
            </div>

            <div class="price">
                售价<span>￥698.00</span>
            </div>

            <div class="tax">
                税费：<span>预估￥11.9，实际税费请以提交订单为准</span>
            </div>
            <div class="freight">
                运费：<span>￥18</span>
            </div>
            <div class="num">
                数量：<span>-</span><input type="text"><span>+</span>
            </div>
            <div class="pay">
                <ul>
                    <li>立即购买</li>
                    <li>加入购物车</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="details_bootom">
        <img src="https://img10.360buyimg.com/imgzone/jfs/t18493/37/635247604/42841/b751e11f/5a9cfa70Nd0637367.jpg" alt="">
    </div>

</div>