<home-top params="option"></home-top>
<div class="goodsList">
        <div class="class_list">
            <ul>
                <li ng-click="checkBrand()" ng-class='{"check_brand":itemFlag == ""}'>所有产品</li>
                <li ng-click="checkBrand(item)" ng-repeat="item in brandLiat" ng-class='{"check_brand":itemFlag == item}'>{{item}}</li>
            </ul>
        </div>
        <div class="goods_list">
            <ul>
                <li ng-repeat="item in option.dataList" >
                    <div ng-click="goDetail(item.productId)" class="img">
                        <img ng-src="{{item.firstUrl}}" alt="{{item.productName}}">
                    </div>
                    <div class="text">
                        <div class="price">
                            <span>￥{{item.price}}</span>
                            <i ng-if="item.type == 'special'">韩国</i>
                            <i ng-if="item.type != 'special'">其他</i>
                        </div>
                        <div class="goods_name">
                            <span>{{item.productName}}</span>
                        </div>
                        <div class="add_shop">
                            <i ng-click="addShopCart(item.productId)"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <tm-pagination conf="paginationConf"></tm-pagination>

</div>

<div ng-if="authentication_flag" class="float_box">
    <img src="images/loading.gif" alt="" class="authentication_img">
</div>
