<div class="home">
    <div class="shortcut">
        <div class="shortcut_box">
            <ul>
                <li>
                    <a href="">唯美度跨境购欢迎您~</a>
                    <a href="">登录</a>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">我的订单</a>
                    <a href="">客户服务</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <img src="images/mall_img/logo.png" alt="">
        </div>
        <div class="search">
            <div class="search_box">
                <input type="text" placeholder="请搜索商品">
                <div><img src="images/mall_img/search.png" alt=""></div>
            </div>
        </div>
        <div class="settleup">
            <div>
                <i></i>购物车
            </div>
        </div>
    </div>
    <div ui-view class="main"></div>
</div>