<div class="home">
    <div class="shortcut">
        <div class="shortcut_box">
            <ul>
                <li>
                    <a href="">唯美度跨境购欢迎您~</a>
                    <a href="">登录</a>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">我的订单</a>
                    <a href="">客户服务</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="logo">
            <img src="images/mall_img/logo.png" alt="">
        </div>
        <div class="search">
            <div class="search_box">
                <input type="text" placeholder="请搜索商品">
                <div><img src="images/mall_img/search.png" alt=""></div>
            </div>
        </div>
        <div class="settleup">
            <div>
                <i></i>购物车
            </div>
        </div>
    </div>
    <!--<div ui-view class="main"></div>-->


    <div class="main">
        <div class="details">
            <div class="details_top">
                <div class="details_img">
                    <div class="img_big">
                        <ul>
                            <li><img src="//img13.360buyimg.com/n1/s450x450_jfs/t10675/253/1344769770/66891/92d54ca4/59df2e7fN86c99a27.jpg" alt=""></li>
                        </ul>
                    </div>
                    <div class="img_small">
                        <ul>
                            <li><img src="" alt=""></li>
                        </ul>
                    </div>
                </div>
                <div class="details_text">
                    <div class="goods_name">
                        <p>Apple iPhone X (A1865) 64GB 深空灰色 移动联通电信4G手机</p>
                        <span>多特海伦是一款专为过敏体质的朋友设计， 不含任何化学物质，纯天然过敏肌肤可用</span>
                    </div>

                    <div class="price">
                        售价<span>￥698.00</span>
                    </div>

                    <div class="tax">
                        税费：<span>预估￥11.9，实际税费请以提交订单为准</span>
                    </div>
                    <div class="freight">
                        运费：<span>￥18</span>
                    </div>
                    <div class="num">
                        数量：<span>-</span><input type="text"><span>+</span>
                    </div>
                    <div class="pay">
                        <ul>
                            <li>立即购买</li>
                            <li>加入购物车</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="details_bootom">
                <img src="https://img10.360buyimg.com/imgzone/jfs/t18493/37/635247604/42841/b751e11f/5a9cfa70Nd0637367.jpg" alt="">
            </div>

        </div>
    </div>
</div>