<home-top params="option"></home-top>
<div class="orderSubmit">
    <div class="address">
        <p>填写收货地址</p>
        <ul>
            <li>
                <i>*</i>
                <label for="">所在地区</label>

                <input type="text">
            </li>
            <li>
                <i>*</i>
                <label for="">详细地址</label>

                <input type="text">
            </li>
            <li>
                <i>*</i>
                <label for="">收货人</label>
                <input type="text">
            </li>
            <li>
                <i>*</i>
                <label for="">手机号</label>
                <input type="text">
            </li>

        </ul>
    </div>
    <div class="order_info">
        <p>确认订单信息</p>
        <div class="goods_box">
            <div class="header">
                <ul>
                    <li>
                        商品信息
                    </li>
                </ul>
            </div>
            <div class="content">
                <ul>

                </ul>
            </div>
        </div>
    </div>
</div>