<home-top params="option"></home-top>
<div class="orderList">
    <div class="header">
        <ul>
            <li>商品</li>
            <li>售价(元)</li>
            <li>数量</li>
            <li>订单状态</li>
        </ul>
    </div>
    <div class="content">
        <p>订单号：1982968687</p>
        <div ng-repeat="item in [1,2,4]" class="goods_box">
            <ul>
                <li>
                    <span class="check"></span>
                    <img src="//img13.360buyimg.com/n5/s54x54_jfs/t10675/253/1344769770/66891/92d54ca4/59df2e7fN86c99a27.jpg" alt="">
                </li>
                <li>
                    商品名称商品名称商品名称商品名称商品名称多特海伦修复精华液150ml
                </li>
                <li>
                    <del>¥999.00</del>
                    <br>
                    <span>¥899.00</span>
                </li>
                <li>
                    <span>-</span><input type="text"><span>+</span>
                </li>
                <li>
                    <span>待支付</span>
                </li>
                <li>
                    <span>去结算</span>
                </li>
            </ul>
        </div>
    </div>
</div>