<home-top params="option"></home-top>
<div class="orderSubmit">
    <div class="address">
        <p>填写收货地址</p>
        <ul>
            <li>
                <i>*</i>
                <label for="">所在地区</label>

                <input type="text" ng-model="params.userAddressInfo.userCityAddress">
            </li>
            <li>
                <i>*</i>
                <label for="">详细地址</label>

                <input type="text" ng-model="params.userAddressInfo.userDetailAddress">
            </li>
            <li>
                <i>*</i>
                <label for="">收货人</label>
                <input type="text" ng-model="params.userAddressInfo.userNameAddress">
            </li>
            <li>
                <i>*</i>
                <label for="">手机号</label>
                <input type="text" ng-model="params.userAddressInfo.userPhoneAddress">
            </li>
        </ul>
    </div>
    <div class="order_info">
        <p>确认订单信息</p>
        <div class="goods_box" >
            <div class="content">
                <div class="goods_top">
                    <ul>
                        <li>商品信息</li>
                        <li>数量</li>
                        <li>金额(元)</li>
                    </ul>
                </div>
                <div class="goods_info" ng-repeat="item in needPayList.needPayOrderList">
                    <ul>
                        <li>
                            <img ng-src="{{item.productFirstUrl}}" alt="{{item.productName}}">
                            {{item.productName}}
                        </li>
                        <li>
                            {{item.productNum}}
                        </li>
                        <li>
                            ¥{{item.productPrice}}
                        </li>
                    </ul>
                </div>
                <div class="goods_bottom">
                    <ul>
                        <li>
                            <label for="">商品应付总计：</label>
                            <span>￥899.00</span>
                        </li>
                        <li>
                            <label for="">运费：</label>
                            <span>￥0.00</span>
                        </li>
                        <li>
                            <label for="">应付金额：</label>
                            <span>￥899.00</span>
                        </li>
                        <li>
                            <div ng-click="showAuthentication()">提交订单</div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="authentication_flag" class="float_box">
    <div class="authentication">
        <p>实名认证</p>
        <div class="user_info">
            <p>友情提示:根据海关要求，订购人实名信息需与支付账号实名信息一致！</p>
            <ul>
                <li>
                    <label for="">订购人姓名：</label>
                    <input type="text" ng-model="params.name">
                </li>
                <li>
                    <label for="">身份证号码：</label>
                    <input type="text" ng-model="params.cardNo">
                </li>
                <li>
                    <div ng-click="cheackUser()">确定</div>
                </li>
            </ul>
        </div>
    </div>
</div>