<home-top params="option"></home-top>
<div class="orderList">
    <div class="header">
        <ul>
            <li>商品</li>
            <li>售价(元)</li>
            <li>数量</li>
            <li>订单状态</li>
        </ul>
    </div>
    <div class="content">
        <div ng-repeat="item in orderList" class="goods_box" ng-if="item.status != 3&&item.status != 6">
            <ul>
                <!--<li>订单号：{{item.businessOrderId}}</li>-->
                <li>
                    <!--<span class="check"></span>-->
                    <img ng-src="{{item.businessProductFirstUrl}}" alt="{{item.businessProductName}}">
                </li>
                <li>
                    {{item.businessProductName}}
                </li>
                <li>
                    <!--<del>¥999.00</del>-->
                    <!--<br>-->
                    <span>¥{{item.businessProductPrice}}</span>
                </li>
                <li>
                   {{item.businessProductNum}}
                </li>
                <li  ng-if="item.status == '0'">
                    <span>待支付</span>
                </li>
                <li   ng-if="item.status == '1'">
                    <span>已付款</span>
                </li>
                <li>
                    <span ng-if="item.status == '0'" ng-click="goPay(item)">去支付</span>
                    <!--<span ng-if="item.status == '0'">去支付</span>-->
                </li>
            </ul>
        </div>
    </div>
</div>