
<home-top params="option"></home-top>

<div class="shoppingCart">
    <div class="header">
        <ul>
            <li>
                <span ng-click="checkAll()" ng-class="{'checkAll':params.checkAllFlag == true}"></span>
                全选
            </li>
            <li>
                商品名称
            </li>
            <li>
                单价
            </li>
            <li>
                数量
            </li>
            <li>小计(元)</li>
            <li>操作</li>
        </ul>
    </div>
    <div class="content">
        <div class="content_top">
            <div ng-repeat="item in cartList" class="goods_box">
                <ul>
                    <li>
                        <span ng-click="checkOne(item)" ng-class="{'check':item.checkFlag}"></span>
                        <img ng-src="{{item.businessProductFirstUrl}}" alt="{{item.businessProductName}}">
                    </li>
                    <li>
                        {{item.businessProductName}}
                    </li>
                    <li>
                        <!--<del>¥999.00</del>-->
                        <!--</br>-->
                        <span>¥{{item.businessProductPrice}}</span>
                    </li>
                    <li>
                        <span ng-click="reducenum(item)">-</span><input ng-blur = "verifyNum(item)" ng-model="item.businessProductNum" type="text"><span ng-click="addnum(item)">+</span>
                    </li>
                    <li>
                        <span>¥{{item.businessProductPrice}}</span>
                    </li>
                    <li ng-click="delete(item)">

                        删除
                    </li>
                </ul>
            </div>
        </div>
        <div class="content_bottom">
            <ul>
                <li>
                    <!--<span class="check"></span>
                    全选-->
                </li>

                <li>
                    已选择商品 <span id="goodsnum">{{params.listLen}}</span> 件
                </li>

                <li>
                    <i>总价</i>(不含运费)： <span>¥899.00 </span>
                </li>

                <li>
                    去结算
                </li>
            </ul>
        </div>
    </div>
</div>