<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.business.mapper.transaction.PayRecordMapper">

    <resultMap id="PayRecordResultMap" type="com.wisdom.common.dto.account.PayRecordDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="FLOAT" />
        <result column="pay_type" property="payType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="invoice" property="invoice" jdbcType="VARCHAR" />

        <result column="nickname" property="nickName" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="identify_number" property="identifyNumber" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="BusinessOrderResultMap" type="com.wisdom.common.dto.transaction.BusinessOrderDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="order_id" property="businessOrderId" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="VARCHAR" />
        <result column="user_order_address_id" property="userOrderAddressId" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="pay_date" property="payDate" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="VARCHAR" />
        <result column="user_name" property="userNameAddress" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhoneAddress" jdbcType="VARCHAR" />
        <result column="userAddress" property="userAddress" jdbcType="VARCHAR" />
        <result column="product_id" property="businessProductId" jdbcType="VARCHAR" />
        <result column="name" property="businessProductName" jdbcType="VARCHAR" />
        <result column="brand" property="productBrand" jdbcType="VARCHAR" />
        <result column="product_spec" property="productSpec" jdbcType="VARCHAR" />
        <result column="price" property="businessProductPrice" jdbcType="VARCHAR" />
        <result column="product_num" property="businessProductNum" jdbcType="VARCHAR" />
        <result column="waybill_number" property="waybillNumber" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_BusinessOrder_list">
        o.id,o.sys_user_id,o.order_id,o.type,o.status,o.create_date,o.update_date,o.user_order_address_id
    </sql>

    <!-- 创建账户信息 -->
    <insert id="insertPayRecord">
        INSERT INTO pay_record(
        id,
        sys_user_id,
        out_trade_no,
        transaction_id,
        order_id,
        amount,
        pay_type,
        status,
        pay_date,
        openid,
        invoice
        ) VALUES (
        #{id},
        #{sysUserId},
        #{outTradeNo},
        #{transactionId},
        #{orderId},
        #{amount},
        #{payType},
        #{status},
        #{payDate},
        #{openid},
        #{invoice}
        )
    </insert>

    <select id="getUserPayRecordList" resultMap="PayRecordResultMap">
        select * from pay_record WHERE
        1=1
        <if test="sysUserId!= ''and sysUserId!=null">
            and sys_user_id=#{sysUserId}
        </if>
        <if test="outTradeNo!= ''and outTradeNo!=null">
            and out_trade_no=#{outTradeNo}
        </if>
        <if test="transactionId!= ''and transactionId!=null">
            and transaction_id=#{transactionId}
        </if>
        <if test="orderId!= ''and orderId!=null">
            and order_id=#{orderId}
        </if>
        <if test="status!= ''and status!=null">
            and status=#{status}
        </if>
        <if test="openid!= ''and openid!=null">
            and openid=#{openid}
        </if>
        <if test="invoice!= ''and invoice!=null">
            and invoice=#{invoice}
        </if>
    </select>

    <update id="updatePayRecordStatus">
        UPDATE pay_record SET
        status=#{status}
        WHERE
        id = #{id}
    </update>

    <!--根据条件查询账单信息count-->
    <select id="queryPayRecordCountByParameters" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM pay_record p,business_order o,sys_user u
        WHERE 1=1 AND p.order_id = o.order_id AND o.sys_user_id= u.id AND p.status = '1'
        <if test='timeType == "1" '>
            AND p.pay_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test='timeType == "2" '>
            AND o.update_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="param != null and param != ''">
            AND (u.mobile = #{param} OR p.order_id=#{param})
        </if>
    </select>

    <!--根据条件查询账单信息-->
    <select id="queryPayRecordsByParameters" resultMap="PayRecordResultMap">
        SELECT
        p.id,p.sys_user_id,p.order_id,p.out_trade_no,p.transaction_id,p.amount,p.pay_type,p.status,p.pay_date,p.status,p.openid,p.invoice,
        o.update_date,u.nickname,u.user_type,u.mobile,u.identify_number
        FROM pay_record p,business_order o,sys_user u
        WHERE 1=1 AND p.order_id = o.order_id AND o.sys_user_id= u.id AND p.status = '1'
        <if test='timeType == "1" '>
            AND p.pay_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test='timeType == "2" '>
            AND o.update_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="param != null and param != ''">
            AND (u.mobile = #{param} OR p.order_id=#{param})
        </if>
        ORDER BY p.pay_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>

    <select id="getUserPayRecordListByDate" resultMap="PayRecordResultMap">
        select pr.* from pay_record pr, business_order bor where
        pr.sys_user_id=#{userId}
        AND
        pr.order_id=bor.order_id
        and bor.type="offline"
        AND pr.pay_date BETWEEN #{startDate} and #{endDate}
    </select>

    <select id="getSellNumByProductId" resultType="string">
        SELECT IFNULL(SUM(product_num),0)
        from pay_record p,order_product_relation o
        WHERE p.`status` = '1' AND o.business_order_id = p.order_id
        AND o.business_product_id = #{productId}
    </select>

    <!--根据支付表中的TransactionId查询用户信息-->
    <select id="queryUserInfoByTransactionId"
            resultMap="PayRecordResultMap">
        SELECT
        p.id,p.sys_user_id,p.order_id,p.out_trade_no,p.transaction_id,p.amount,p.pay_type,p.status,p.pay_date,p.status,p.openid,p.invoice
        ,u.nickname,u.user_type,u.mobile
        FROM pay_record p,sys_user u
        WHERE p.sys_user_id =u.id
        AND p.transaction_id = #{transactionId}
    </select>
    <!--根据支付表中的TransactionId查询订单信息-->
    <select id="queryOrderInfoByTransactionId"
            resultMap="BusinessOrderResultMap">
        SELECT
        <include refid="Base_BusinessOrder_list"/>,p.pay_date,p.amount
        FROM pay_record p,business_order o
        WHERE p.order_id =o.order_id AND p.status = '1'
        AND p.transaction_id = #{transactionId}
    </select>

    <!--根据支付表中的orderId查询订单信息-->
    <select id="findOrderInfoForSpecial"
            resultType="com.wisdom.common.dto.account.PayRecordDTO">
        select
            pay.amount,
            pay.order_id,
            pay.transaction_id,
            pay.pay_date,
            pay.pay_type
        from
            pay_record pay
        where
            pay.order_id=#{orderId}
            AND pay.status='1'
    </select>


    <select id="findTransactionIdList" resultType="java.lang.String">
        select
            DISTINCT transaction_id
        from
            pay_record
        <where>
            <if test="sysUserId!= ''and sysUserId!=null">
                and sys_user_id=#{sysUserId}
            </if>
            <if test="outTradeNo!= ''and outTradeNo!=null">
                and out_trade_no=#{outTradeNo}
            </if>
            <if test="transactionId!= ''and transactionId!=null">
                and transaction_id=#{transactionId}
            </if>
            <if test="orderId!= ''and orderId!=null">
                and order_id=#{orderId}
            </if>
            <if test="status!= ''and status!=null">
                and status=#{status}
            </if>
            <if test="openid!= ''and openid!=null">
                and openid=#{openid}
            </if>
            <if test="invoice!= ''and invoice!=null">
                and invoice=#{invoice}
            </if>
        </where>
        ORDER BY pay_date
    </select>
</mapper>