<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.business.mapper.transaction.UserOrderAddressMapper">

    <resultMap id="UserOrderAddressResultMap" type="com.wisdom.common.dto.system.UserOrderAddressDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="detail_address" property="detailAddress" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="OrderAddressRelationResultMap" type="com.wisdom.common.dto.transaction.OrderAddressRelationDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="business_order_id" property="businessOrderId" jdbcType="VARCHAR" />
        <result column="user_order_address_id" property="userOrderAddressId" jdbcType="VARCHAR" />
        <result column="user_name_address" property="userNameAddress" jdbcType="VARCHAR" />
        <result column="user_phone_address" property="userPhoneAddress" jdbcType="VARCHAR" />
        <result column="user_identifyNumber_address" property="userIdentifyNumberAddress" jdbcType="VARCHAR" />
        <result column="user_province_address" property="userProvinceAddress" jdbcType="VARCHAR" />
        <result column="user_city_address" property="userCityAddress" jdbcType="VARCHAR" />
        <result column="user_detail_address" property="userDetailAddress" jdbcType="VARCHAR" />
        <result column="create_date" property="addressCreateDate" jdbcType="VARCHAR" />
        <result column="update_date" property="addressUpdateDate" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getUserOrderAddress"
            resultMap="UserOrderAddressResultMap">
        select * from
        user_order_address
        where
        1=1
        <if test="userId != null and userId != ''">
            AND sys_user_id=#{userId}
        </if>
        AND del_flag!='1'
    </select>

    <select id="getUserOrderAddressByOrderId"
            resultMap="UserOrderAddressResultMap">
        select uoa.* from business_order bor, user_order_address uoa
        where bor.user_order_address_id=uoa.id
        AND
        1=1
        <if test="orderId != null and orderId != ''">
           AND bor.order_id=#{orderId}
        </if>
    </select>

    <select id="findUserAddressById"
            resultMap="UserOrderAddressResultMap">
        select * from
        user_order_address
        where
        id=#{addressId}
    </select>

    <update id="deleteUserAddress">
        UPDATE user_order_address
        SET
        del_flag='1'
        WHERE
        id=#{addressId}
    </update>

    <insert id="addUserAddress"
            parameterType="com.wisdom.common.dto.system.UserOrderAddressDTO">
        INSERT INTO user_order_address(
        id,sys_user_id,user_name,user_phone,province,city,detail_address,status,del_flag) values
        (#{id},#{sysUserId},#{userName},#{userPhone},#{province},#{city},#{detailAddress},#{status},#{delFlag});
    </insert>

    <update id="updateUserAddress"
            parameterType="com.wisdom.common.dto.system.UserOrderAddressDTO">
        UPDATE user_order_address SET
        sys_user_id=#{sysUserId},
        user_name=#{userName},
        user_phone=#{userPhone},
        province=#{province},
        city=#{city},
        detail_address=#{detailAddress},
        status=#{status}
        WHERE id=#{id};
    </update>

    <insert id="addOrderAddressRelation"
            parameterType="com.wisdom.common.dto.transaction.OrderAddressRelationDTO">
        INSERT INTO order_address_relation(
        id,
        business_order_id,
        user_order_address_id,
        user_name_address,
        user_phone_address,
        user_identifyNumber_address,
        user_province_address,
        user_city_address,
        user_detail_address,
        create_date,
        update_date
        ) values
        (
        #{id},
        #{businessOrderId},
        #{userOrderAddressId},
        #{userNameAddress},
        #{userPhoneAddress},
        #{userIdentifyNumberAddress},
        #{userProvinceAddress},
        #{userCityAddress},
        #{userDetailAddress},
        #{addressCreateDate},
        #{addressUpdateDate});
    </insert>
    <select id="getOrderAddressRelationByOrderId"
            resultMap="OrderAddressRelationResultMap">
        select * from
        order_address_relation
        where
        business_order_id=#{orderId}
    </select>
    <update id="updateOrderAddressRelationByOrderId"
            parameterType="com.wisdom.common.dto.transaction.OrderAddressRelationDTO">
        UPDATE order_address_relation SET
        user_order_address_id=#{userOrderAddressId},
        user_name_address=#{userNameAddress},
        user_phone_address=#{userPhoneAddress},
        user_identifyNumber_address=#{userIdentifyNumberAddress},
        user_province_address=#{userProvinceAddress},
        user_city_address=#{userCityAddress},
        user_detail_address=#{userDetailAddress},
        update_date=#{addressUpdateDate}
        WHERE business_order_id=#{businessOrderId};
    </update>
</mapper>