<div class="fs32 cardRecords" style="overflow-y: scroll;height:100%;">
    <div>
        <p class="h30 ml10">
            基础信息
        </p>
        <ion-list>
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">时间</p>
                <p class="mr10 col888">
                    {{dataInfo.createDate | date:'yyyy-MM-dd HH:mm:ss'}}
                </p>
            </ion-item>
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">顾客</p>
                <p class="mr10 col888">
                    {{dataInfo.sysUserName}}
                </p>
            </ion-item>

            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">操作门店</p>
                <p class="mr10 col888">
                    {{dataInfo.sysShopName}}
                </p>
            </ion-item>
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">前台</p>
                <p class="mr10 col888">
                    {{dataInfo.sysClerkName}}
                </p>
            </ion-item>
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">类型</p>
                <p class="mr10 col888" >
                    充值
                </p>

            </ion-item>
        </ion-list>
    </div>
    <div>
        <p class="h50 ml10">商品信息</p>
        <ion-list >
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10">卡名称</p>
                <p class="mr10">
                    {{dataInfo.flowName}}
                </p>
            </ion-item>
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml20">充值金额</p>
                <p class="mr10 col888">
                    {{dataInfo.price}}
                </p>
            </ion-item>
            <ion-item  class="  fs30" >
                <div class="bgfff">
                    <p class="ml20 h50 bbl ">折扣</p>
                    <div class="ml30 ">
                        <p class="sb">
                            <span>单次</span>
                            <span class="mr10" ng-if="dataInfo.timeDiscount != 1">{{dataInfo.timeDiscount*10}}折</span>
                            <span class="mr10" ng-if="dataInfo.timeDiscount == 1">无折扣</span>
                        </p>
                        <p class="sb">
                            <span>疗程卡</span>
                            <span class="mr10" ng-if="dataInfo.periodDiscount != 1"> {{dataInfo.periodDiscount*10}}折</span>
                            <span class="mr10" ng-if="dataInfo.periodDiscount == 1">无折扣</span>
                        </p>
                        <p class="sb">
                            <span>产品</span>
                            <span class="mr10" ng-if="dataInfo.productDiscount != 1">{{dataInfo.productDiscount*10}}折</span>
                            <span class="mr10" ng-if="dataInfo.productDiscount == 1">无折扣</span>
                        </p>
                    </div>
                </div>

            </ion-item>

        </ion-list>
    </div>

    <div class="mt20">
        <opn-list >
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10"> 总金额</p>
                <p class="mr10 col888">
                    ￥ {{dataInfo.price}}
                </p>
            </ion-item>
        </opn-list>
    </div>
    <p class="h50 ml10">支付明细</p>
    <div>
        <opn-list class="fs30">
            <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                <p class="ml10" ng-if="payType == '0'"> 微信</p>
                <p class="ml10" ng-if="payType == '1'"> 支付宝</p>
                <p class="ml10" ng-if="payType == '2'"> 现金</p>
                <p class="mr10 col888">
                    ￥ {{dataInfo.price}}
                </p>
            </ion-item>
        </opn-list>
    </div>
    <p class="h50 ml10 ">顾客签字</p>
    <div style="background: #fff;height:156px;">
        <img ng-src="{{dataInfo.signUrl}}" style="height:156px;">
    </div>

    <p class="h50 ml10 ">备注</p>
    <textarea style="height:80px;width:100%;margin-bottom: 50px;" class="bgfff">
 {{dataInfo.detail}}
     </textarea>

</div>