.guide .box{
    width:85%;margin:10px auto ;background: #fff;border-radius: 0.1rem;
}
.guide .title{padding-top:10px;}
.guide .picAera{overflow-y: scroll;height:5.5rem;}
.guide .footer{border-top: solid #ded4d4 1px;}