<div class="modificationData">
    <div ng-if = "!param.openSexFlag" class="modificationData_box">
        <div class="modificationData_header">
            <div class="modificationData_header_box">
                头像
                <div class="modificationData_logo">
                    <img ng-src="{{param.imgSrc}}" alt="">
                    <input onchange="angular.element(this).scope().img_upload(this.files)" type="file">
                </div>
            </div>
        </div>
        <div class="modificationData_content">
            <div class="modificationData_content_box">
                <ul>
                    <li>
                        <label for="">姓名 <i>*</i></label>
                        <input ng-model="userInfoDataMod.name" type="text" readonly placeholder="请输入顾客姓名">
                    </li>
                    <li>
                        <label for="">性别 <i>*</i></label>
                        <input ng-click="selectSex(userInfoDataMod.sex)" ng-model="userInfoDataMod.sex" type="text" readonly placeholder="">
                    </li>
                </ul>
            </div>
        </div>
        <div class="modificationData_content">
            <div class="modificationData_content_box">
                <ul>
                    <li>
                        <label for="">所在店名 </label>
                        <input ng-model="userInfoDataMod.sysShopName"  type="text" placeholder="美容院" readonly>
                    </li>
                    <li>
                        <label for="">我的职务 </label>
                        <input  type="text" placeholder="美容师,前台">
                    </li>
                    <li>
                        <label for="">工作年限 </label>
                        <input  type="text" placeholder="请输入顾客姓名">
                    </li>
                    <li>
                        <label for="">我的特长 </label>
                        <input  type="text" placeholder="请输入我的特长">
                    </li>
                    <li>
                        <label for="">我的梦想 </label>
                        <input  type="text" placeholder="请输入我的梦想">
                    </li>
                </ul>
            </div>
        </div>

        <div class="modificationData_content">
            <div class="modificationData_content_box">
                <ul>
                    <li>
                        <label for="">我的微信 </label>
                        <input  type="text" placeholder="请输入我的微信">
                    </li>
                    <li>
                        <label for="">我的QQ </label>
                        <input  type="text" placeholder="请输入我的QQ">
                    </li>
                    <li>
                        <label for="">我的地址 </label>
                        <input  type="text" placeholder="请输入我的地址">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-if = "param.openSexFlag" class="modificationData_select">
        <div  class="sex select_public">
            <ul>
                <li ng-click="selectFn('男')">男</li>
                <li ng-click="selectFn('女')">女</li>
            </ul>
        </div>
    </div>

</div>