<!--划卡记录-->
<div class="stampCardRecord">
    <div class="stampCardRecord_header">
        <ul>
            <li><span>使用时间</span></li>
            <li><span>顾客</span></li>
            <li><span>项目</span></li>
        </ul>
    </div>
    <div class="stampCardRecord_content">
        <ul>
            <li ng-repeat="item in dataList" ng-click="goDrawCardRecordsDetail(item.flowNo,item.sysUserId)">
                <div class="ifo">
                    <span>{{item.createDate|date:'yyyy-MM-dd'}}</span>
                    <span>{{item.sysUserName}}</span>
                    <span>{{item.flowName}}</span>
                </div>
                <div class="go_set"></div>
            </li>
        </ul>
    </div>
</div>