.todayPerformance_box{
}
.todayPerformance_box .todayPerformance_top{
    margin-top: 0.5625rem;
    background-color: #ffffff;
}
.todayPerformance_box .todayPerformance_bottom{
    margin-top: 0.5625rem;
    background-color: #ffffff;
}
.todayPerformance_box ul li{
    height: 0.65625rem;
    line-height: 0.65625rem;
    font-size: 0.25rem;
    color: #333333;
    letter-spacing: 0.45px;
    padding-left: 0.265625rem;
    position: relative;
}
.todayPerformance_box ul li span{
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #E5E5E5;
}
.todayPerformance .go_set {
    position: absolute;
    top: 40%;
    right: 0.3125rem;
    background: url(../../images/userInfo/bt_more.png) no-repeat;
    background-size: 100%;
    width: 0.1171875rem;
    height: 0.2109375rem;
}
