<div class="unclaimedAll">
    <div class="unclaimedAll_box">
        <div class="unclaimedAll_header">
            <div class="header_left">
                <p>待领取客数</p>
                <span>{{numbers.totalWaitReceivePeople}}</span>
            </div>
            <div class="header_right">
                <p>待领取数量</p>
                <span>{{numbers.totalWaitReceiveNumber}}</span>
            </div>
        </div>
        <div class="unclaimedAll_content">
            <div class="unclaimedAll_search">
                <span class="sear_add"></span>
                <input type="text" placeholder="搜索顾客的名称或手机号" ng-model="searchNameAndPhone">
                <span ng-class="{cancel:searchNameAndPhone=='',searchButton:searchNameAndPhone!=''}"  ng-click="cancel()">取消</span>
            </div>
            <div class="user_form">
                <table>
                    <thead>
                        <tr>
                            <td>顾客</td>
                            <td>手机号</td>
                            <td>未领取数量</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in dataNewValueList" ng-click="goRecordDetail(item)" >
                            <td>{{item.nickname}}</td>
                            <td>{{item.mobile}}</td>
                            <td class="go_set_pre">{{item.waitReceiveNumber}}<i class="go_set"></i> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>