.unclaimedAllClient{
    width: 100%;
}
.unclaimedAllClient table{
    background-color: #ffffff;
    width: 100%;
    border-collapse: collapse;
    border: 0px solid #E5E5E5;
}
.unclaimedAllClient table td{
    padding-left: 0.265625rem;
    text-align: left;
    border-top: 0;
    border-right: 0.015625rem solid #E5E5E5;
    border-bottom: 0.015625rem solid #E5E5E5;
    border-left: 0;
}
.unclaimedAllClient table tr.lastrow td {
    border-bottom: 0;
}
.unclaimedAllClient table tr td.lastCol {
    border-right: 0;
}
.unclaimedAllClient table thead tr{
    height: 0.796875rem;
    line-height: 0.796875rem;
}
.unclaimedAllClient table thead tr td{
    font-size: 0.234375rem;
    color: #FF6666;
    letter-spacing: 0.52px;
}
.unclaimedAllClient table tbody tr{
    height: 0.765625rem;
}
.unclaimedAllClient table tbody tr td{
    font-size: 0.234375rem;
    color: #333333;
    letter-spacing: 0.52px;
}
