<div class="userInfo">
    <div class="userInfo_public">
        <div ng-click="goTodayPerformance()" class="message">
            <ul>
                <li>
                    <i></i>
                    <span>{{todayPerformance.income}}</span>
                    <b>今日业绩</b>
                </li>
                <li>
                    <i></i>
                    <span>{{todayPerformance.expenditure}}</span>
                    <b>今日耗卡</b>
                </li>
                <li>
                    <i></i>
                    <span>{{todayPerformance.consumeNumber}}</span>
                    <b>人头数</b>
                </li>
                <li>
                    <i></i>
                    <span>{{todayPerformance.shopNewUserNumber}}</span>
                    <b>新客</b>
                </li>
            </ul>
        </div>
        <div ng-click= "goModificationData()" class="basic">
            <div class="user_logo">
                <img ng-src="{{userInfoData[0].photo}}" alt="">
            </div>
            <div class="user_Information">
                <p class="user_name">{{userInfoData[0].name}}</p>
                <p class="user_mobile"><i></i>{{userInfoData[0].mobile}} </p>
                <p class="user_data">
                    <i class="bg_gray">
                        <e class="col_pink"></e>
                    </i>
                    资料完成度{{userInfoData[0].completeness}}
                </p>
            </div>
            <div ng-click="setUserInfo()" class="go_set"></div>
        </div>
        <div class="set">
            <ul>
                <!--<li class="img_sty airTicket">
                    <span></span>
                    小机票设置
                    <div ng-click="setUserSet()" class="go_set"></div>
                </li>-->
                <li class="img_sty appointment">
                    <span></span>
                    预约设置
                    <div ng-click="setUserSet()" class="go_set"></div>
                </li>
            </ul>

        </div>
        <div class="help">
            <ul>
                <li ng-click="goUsingHelp()" class="img_sty">
                    <span></span>
                    使用帮助
                    <div class="go_set"></div>
                </li>
                <li ng-click="goFeedback()" class="img_sty">
                    <span></span>
                    意见反馈
                    <div  class="go_set"></div>
                </li>
                <li ng-click="openService()" class="img_sty">
                    <span></span>
                    联系客服
                    <div class="go_set"></div>
                </li>
            </ul>
        </div>

        <!--<div class="changePsd">
            <ul>
                <li class="img_sty">
                    <span></span>
                    修改密码
                </li>
            </ul>
        </div>-->
        <div class="btn">
            退出登录
        </div>
    </div>

    <script type="text/ng-template" id="servicePhone">
        <div class="service_phone">
            <div class="phone_num">
                <p>18701252534</p>
            </div>
            <div class="phone_operation">
                <ul>
                    <li ng-click="close()">取消</li>
                    <li>呼叫</li>
                </ul>
            </div>
        </div>
    </script>
    <div ui-view style="height: 100%"></div>
</div>