<ion-view>
    <ion-content>
        <div  >
            <ion-list >
                <ion-item  class="h60 bgfff LH60" style="display: flex;" ng-repeat="item in [0,1,2,3]">
                    <div class="W33 ml20">
                        <p >2018-01-26</p>
                    </div>
                    <p class="W33 ml20 ">店内消费</p>
                    <div class="W33 ml20 ">
                        <p class="floatR">
                            <span class="colff66" >+1299.00</span>
                            <img src="images/more.png"  class="more mr10 ml5">
                       </p>
                    </div>
                </ion-item>
                <ion-item  class="h60 bgfff LH60" style="display: flex;" ng-repeat="item in [0,1,2,3]">
                    <div class="W33 ml20">
                        <p >2018-01-26</p>
                    </div>
                    <p class="W33 ml20 ">店内消费</p>
                    <div class="W33 ml20 ">
                        <p class="floatR">
                            <span class="col4BC647 " >-111.00</span>
                            <img src="images/more.png"  class="more mr10 ml5"></div>
                        </p>

                </ion-item>

            </ion-list>
        </div>
    </ion-content>
</ion-view>