<ion-view>
    <ion-content class="partialFiles">
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
            <div >
                <div>
                    <p class="h30 ml10">
                        基础信息
                    </p>
                    <ion-list>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">时间</p>
                            <p class="mr10 col888">
                                {{info.createDate|date:'yyyy-MM-dd'}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">顾客</p>
                            <p class="mr10 col888">
                                {{info.sysUserName}}
                            </p>
                        </ion-item>

                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">操作门店</p>
                            <p class="mr10 col888">
                                {{info.sysShopName}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">前台</p>
                            <p class="mr10 col888">
                                {{info.createBy}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">类型</p>
                            <p class="mr10 col888" ng-if="info.type == '1'">
                                消费
                            </p>
                            <p class="mr10 col888" ng-if="info.type == '0'">
                                充值
                            </p>
                            <p class="mr10 col888" ng-if="info.type == '5'">
                                划卡
                            </p>
                            <p class="mr10 col888" ng-if="info.type == '4'">
                                产品领取
                            </p>
                        </ion-item>
                    </ion-list>
                </div>
                <div>
                    <p class="h50 ml10">商品信息</p>
                    <ion-list ng-repeat="item in info.userConsumeRecordResponseList">
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">{{item.flowName}}</p>
                            <p class="mr10">
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">充值金额</p>
                            <p class="mr10 col888">
                                ￥{{item.price}}
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff" >
                            <p class="ml20 h50 bbl">折扣</p>
                            <div class="ml30">
                                <p class="sb">
                                    <span>单次</span>
                                    <span class="mr10">{{(item.timeDiscount==null)||(item.timeDiscount==1)?'无折':item.timeDiscount*10+'折'}}</span>
                                </p>
                                <p class="sb">
                                    <span>疗程卡</span>
                                    <span class="mr10">{{(item.periodDiscount==null)||(item.periodDiscount==1)?'无折':item.periodDiscount*10+'折'}}</span>
                                </p>
                                <p class="sb">
                                    <span>产品</span>
                                    <span class="mr10">{{(item.productDiscount==null)||(item.productDiscount==1)?'无折':item.productDiscount*10+'折'}}</span>
                                </p>
                            </div>
                        </ion-item>

                    </ion-list>
                </div>

                <div class="mt20">
                    <opn-list >
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10"> 总金额</p>
                            <p class="mr10 col888">
                                ￥{{info.sumAmount}}
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">支付明细</p>
                <div>
                    <opn-list >
                        <ion-item  class="h50 bgfff" ng-if="info.payMap.payType!=null&&info.payMap.payType!=''">
                            <p class="ml10"  ng-if="info.payMap.payType=='0'" style="display: flex;justify-content: space-between">
                                <span>微信</span>
                                <span class="mr10"> ￥{{info.payMap.payTypeAmount}}</span>
                            </p>
                            <p class="ml10"  ng-if="info.payMap.payType=='1'" style="display: flex;justify-content: space-between">
                                <span>支付宝</span>
                                <span class="mr10"> ￥{{info.payMap.payTypeAmount}}</span>
                            </p>
                            <p class="ml10"  ng-if="info.payMap.payType=='2'" style="display: flex;justify-content: space-between">
                                <span>银行卡</span>
                                <span class="mr10"> ￥{{info.payMap.payTypeAmount}}</span>
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="info.payMap.balanceAmount != null">
                            <p class="ml10"> 余额</p>
                            <p class="mr10 col888">
                                ￥{{info.payMap.balanceAmount}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="info.payMap.cashAmount != null">
                            <p class="ml10"> 现金支付</p>
                            <p class="mr10 col888">
                                ￥{{info.payMap.cashAmount}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="info.payMap.rechargeCardAmount != null">
                            <p class="ml10"> 充值卡支付</p>
                            <p class="mr10 col888">
                                ￥{{info.payMap.rechargeCardAmount}}
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">顾客签字</p>
                <div style="background: #fff;height:156px;">
                    <div style="height:156px;background: url('{{info.signUrl}}');background-size: contain;background-repeat: no-repeat;background-position: center center" class="bgfff" >

                    </div>
                </div>

                <p class="h50 ml10 fs14">备注</p>
                <textarea style="height:80px;width:100%;margin-bottom: 50px;" class="bgfff">
                     {{info.detail}}
               </textarea>

            </div>
        </div>
    </ion-content>
</ion-view>