<ion-view>
    <ion-content class="partialFiles bgfff" scroll="false">
        <div style="width:80%;margin:100px auto;">
            <p class="bbl h45" style="display: flex">
                <label  class="fs16 col888 mr10" style="margin-top:10px;">手机号</label>
                <input type="text" class="fs16 col333" style="width:75%;">
            </p>
            <p class="bbl h45 sb" >
                <label  class="fs16 col888 mr10" style="margin-top:10px;">验证码</label>
                <input type="text" class="fs16 col333" style="width:40%;">
                <span class="ml10 fs17 colff66">获取验证码</span>
            </p>
            <p>
                <a style="background: #FF6666;box-shadow: 0 2px 14px 0 rgba(255,102,102,0.56);border-radius: 46px;width:200px;margin:50px auto;" class="fs17 colfff center h40">
                    登 录
                </a>
            </p>
        </div>
    </ion-content>
</ion-view>