<ion-view>
    <ion-content class="partialFiles">
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
            <div style="height:48px;">
                <div class="tabs" style="top:0;"  >
                    <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='0']"
                       ng-click="chooseTab('0')">
                        <span class="fs15 "> 领取记录</span>
                    </a>
                    <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='1']"
                       ng-click="chooseTab('1')">
                        <span class="fs15 ">  消费详情</span>
                    </a>
                </div>
            </div>

            <div ng-show="param.flag">
                <ion-list>
                    <ion-item style="height:70px;" class="sb" ng-repeat="item in productDtails">
                        <div>
                            <p class="fs16  col333 ml10 mt10">领取记录</p>
                            <p class="fs15  col666 ml10">
                              {{item.createDate|date:'yyyy-MM-dd'}}
                            </p>
                        </div>
                        <p class="mr10 fs15 col888" style="line-height: 70px">领取数量：{{item.consumeNumber}}</p>

                    </ion-item>
                </ion-list>
            </div>
            <div ng-show="!param.flag">
                <div>
                    <p class="h30 ml10">
                        基础信息
                    </p>
                    <ion-list>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">时间</p>
                            <p class="mr10 col888">
                                {{info.createDate|date:'yyyy-MM-dd'}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">顾客</p>
                            <p class="mr10 col888">
                               {{info.sysUserName}}
                            </p>
                        </ion-item>

                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">操作门店</p>
                            <p class="mr10 col888">
                                {{info.sysShopName}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">前台</p>
                            <p class="mr10 col888">
                                {{info.createBy}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">类型</p>
                            <p class="mr10 col888" ng-if="info.type == '0'">
                               消费
                            </p>
                            <p class="mr10 col888" ng-if="info.type == '1'">
                                充值
                            </p>
                        </ion-item>
                    </ion-list>
                </div>
                <div>
                    <p class="h50 ml10">商品信息</p>
                    <ion-list ng-repeat="item in info.userConsumeRecordResponseList">
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">{{item.flowName}}</p>
                            <p class="mr10">
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">充值金额</p>
                            <p class="mr10 col888">
                                {{item.price}}
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20 h50">折扣</p>
                            <div >
                                <p class="sb">
                                    <span>单次</span>
                                    <span>{{item.timeDiscount}}折</span>
                                </p>
                                <p class="sb">
                                    <span>疗程卡</span>
                                    <span>{{item.periodDiscount}}折</span>
                                </p>
                                <p class="sb">
                                    <span>产品</span>
                                    <span>{{item.productDiscount}}折</span>
                                </p>
                            </div>
                        </ion-item>

                    </ion-list>
                </div>

                <div class="mt20">
                    <opn-list >
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10"> 总金额</p>
                            <p class="mr10 col888">
                                ￥{{info.sumAmount}}
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">支付明细</p>
                <div>
                    <opn-list >
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10"> 余额</p>
                            <p class="mr10 col888">
                                ￥4888.00
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">顾客签字</p>
                <div style="height:156px;" class="bgfff">

                </div>
                <p class="h50 ml10 fs14">备注</p>
                <textarea style="height:80px;width:100%;margin-bottom: 50px;" class="bgfff">

            </textarea>


            </div>
        </div>
    </ion-content>
</ion-view>