
  <div  ng-click="bgAll()">
      <nav-bar index1="6" index2="64"></nav-bar>
         <div class="main_content">
             <enjoy-menu></enjoy-menu>
             <div class="content_box">
                 <div class="mum" ng-show="mum" style="height:888px;">
                     <div class="m-load2">
                         <div class="line">
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                             <div></div>
                         </div>
                         <div class="circlebg"></div>
                     </div>
                 </div>
                 <div class="product_content_right">
                    <div class="rightCenter">
                        <div class="product_lis meunLis1" style="width: 666px">
                            <button ng-click="bgChangeAndSearch('instance')" ng-class="{'active':status=='instance'}">即时奖励</button>
                            <button ng-click="bgChangeAndSearch('recommend')" ng-class="{'active':status=='recommend'}">店主推荐</button>
                            <button ng-click="bgChangeAndSearch('permanent')" ng-class="{'active':status=='permanent'}">永久性奖励</button>
                            <button ng-click="bgChangeAndSearch('shareActivity')" ng-class="{'active':status=='shareActivity'}">分享奖励</button>
                            <button ng-click="bgChangeAndSearch('month')" ng-class="{'active':status=='month'}">月度结算</button>
                        </div>
                            <div style="float: left;width:80%;margin-top:-5px;line-height:31px;">
                                <div class="product_eara"  style="display:flex;width:100%">
                                    <div style="float:left;width:45%;margin-top:50px;line-height:31px;">
                                        <label class="bold">手机号:</label>
                                        <input type="text" class="product_search" ng-model="MAccount">
                                    </div>
                                    <div style="float:left;width:35%;margin-top:50px;line-height:31px;">
                                        <span style="font-weight:600;">用户类型:</span>
                                        <select id ="useBusinessType" class="useBusinessType" style="border:1px solid;height:30px;colour:#7f818a;">
                                            <option value="0">所有用户（A,B）</option>
                                            <option value="1">所有A用户</option>
                                            <option value="2">所有B用户</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="product_eara"  style="display:flex;width:100%;">
                                    <div  style="float:left;margin-top: 27px;margin-right: 50px;width:40%">
                                        <label style="font-weight:600;">审核状态:</label>
                                        <select class="checkStatus selectWidth" id="checkStatus" style="border:1px solid;height:30px;color:#7f818a;">
                                            <option value=""> 全部状态</option>
                                            <option value="0"> 未审核</option>
                                            <option value="1">运营已审核</option>
                                            <option value="2">财务已审核</option>
                                            <option value="3">双方已审核</option>
                                            <option value="4">审核拒绝</option>
                                        </select>
                                    </div>
                                    <div style="margin-top:27px;line-height: 31px;">
                                        <span class="bold agencyTime">时间：</span>
                                        <input class="time MStart date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" >&nbsp;--&nbsp;<input class="time MEnd date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});">
                                    </div>
                                </div>
                            </div>
                            <div  class="product_searchEara" align="right" style="float: left;width:15%;margin-top:50px;line-height:31px;">
                                <input align="right"  type="button" value="搜索" class="search_btn" ng-click="searchMonthlyBalance()">
                            </div>

                        <div class="statusBar" align="left" style="height:60px;" ng-if="status=='instance'||status=='permanent'||status=='shareActivity'||status=='allState'||status=='Audited'||status=='Unaudited'">
                            <button class="order_lis simulateBtn" style="margin-top: 50px;" ng-click="educeLis()" ng-if="status=='instance'||status=='permanent'||status=='shareActivity'||status=='allState'||status=='Audited'||status=='Unaudited'">导出列表</button>
                        </div>
                        <div  style="height:20px;margin-top:20px;">
                            <span align="center" ng-if="status=='month' && userMoblie=='18360376558'">===============================================================================================================================================</span>
                        </div>
                        <div class="product_name big time_box"  style="width:95%;height:150px;margin-top:-17px;" ng-if="status=='month' && userMoblie=='18360376558'">
                            <div style="width:100%">
                                <div style="float:left;width:50%;margin-top:50px;line-height: 31px;">
                                    <span class="bold agencyTime">生成时间段：</span>
                                    <input class="time MStartMonth date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});" >&nbsp;--&nbsp;<input class="time MEndMonth date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true});">
                                </div>
                                <div style="float:left;width:35%;margin-top:50px;line-height:31px;">
                                    <span style="font-weight:600;">筛选用户类型:</span>
                                    <select class="businessType" id="businessType" style="border:1px solid;height:30px;colour:#7f818a;">
                                        <option value="0">所有用户（A,B）</option>
                                        <option value="1">所有A用户</option>
                                        <option value="2">所有B用户</option>
                                    </select>
                                </div>
                            </div>
                            <div  class = "statusBar" style="float:right;margin-top:18px;" ng-if="status=='month'">
                                <button class="order_lis simulateBtn" ng-click="monthlyIncomeSignal()">生成月度账单</button>
                            </div>
                        </div>
                        <div class="table_lis" style="margin-top:120px;">
                            <table  ng-if="status=='instance'||status=='month'||status=='permanent'" class="table  text-center ">
                                <thead>
                                <tr id="product_lis_title IncomeListTitle" class="pos" style="">
                                    <th class="text-center" >昵称</th>
                                    <th class="text-center" >手机号</th>
                                    <th class="text-center" >当前等级</th>
                                    <th class="text-center" >佣金金额</th>
                                    <th class="text-center">生成时间</th>
                                    <th class="text-center" ng-hide="status=='month'">付款时间</th>
                                    <th class="text-center">类型</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center" ng-hide="status=='month'">订单状态</th>
                                    <th class="text-center">审核</th>
                                    <th class="text-center" colspan="2" style="width:20%;">操作</th>
                                </tr>
                                </thead>
                                <tbody class="tbodyCla pos" ng-repeat="item in MonthlyBalanceLis"  >
                                <tr class='white' ng-class="{'red':item.secondCheckStatus=='有一方拒绝','col55a4ef':agencyIndex == $index,'bge5':$index%2==0,'bgf2':$index%2==1}">
                                    <td ng-click="viod();$event.stopPropagation()">{{item.nickName}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.mobile}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.userBusinessTypeNow}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.amount }}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td ng-click="viod();$event.stopPropagation()"ng-hide="status=='month'">{{item.payDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.incomeType}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.status}}</td>
                                    <td ng-click="viod();$event.stopPropagation()" ng-hide="status=='month'">{{item.orderStatus}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.secondCheckStatus}}</td>
                                   <!--  <td ng-click="viod();$event.stopPropagation()">{{item.secondCheckStatus}}<span ng-hide="item.secondCheckStatus == '未审核'">({{item.checkStatus}}</span><span ng-show="item.secondCheckStatus=='有一方拒绝'">:{{item.checkUserType}})</span></td>-->
                                    <td ng-click="viod();$event.stopPropagation()" colspan="2">
                                        <a ng-click="details(item.sysUserId,item.createDate,item.incomeType,item.transactionId,$index,item.id);$event.stopPropagation()" class="orderBtn" >查看</a>
                                         &nbsp;
                                        <a ng-click="examine(item.id);$event.stopPropagation()" class="orderBtn" >审核</a>
                                    </td>
                                </tr>
                                    <tr class="product_lis_title " ng-show="item.statesLook=='2'" id="IncomeListTitle">
                                        <th class="text-center" >昵称</th>
                                        <th class="text-center" >手机号</th>
                                        <th class="text-center" >当前等级</th>
                                        <th class="text-center" >生成订单等级</th>
                                        <th class="text-center" >上级当前等级</th>
                                        <th class="text-center">上级订单生成等级</th>
                                        <th class="text-center">订单编号</th>
                                        <th class="text-center">交易流水号</th>
                                        <th class="text-center">订单状态</th>
                                        <th class="text-center">支付金额</th>
                                        <th class="text-center">升级消费</th>
                                        <th class="text-center">关系</th>
                                    </tr>
                                    <!--点击查看出现的下级内容-->
                                    <tr  ng-show="item.statesLook=='2'"  ng-repeat="items in IncomeList" id="IncomeListMess">
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].nextUserNickName}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].nextUserMobile}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].nextUserTypeNow}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].nextUserType}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].userTypeNow}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].userType}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{items.businessOrderId}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].transactionId}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{items.status}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{items.amount}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].isImportLevel}}</td>
                                        <td ng-click="viod();$event.stopPropagation()">{{user[0].parentRelation}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table ng-if="status=='recommend'" class="table  text-center ">
                                <thead>
                                <tr id="product_lis_title1 IncomeListTitle1" >
                                    <th class="text-center" >昵称</th>
                                    <th class="text-center" >手机号</th>
                                    <th class="text-center" >当前等级</th>
                                    <th class="text-center" >上级名称</th>
                                    <th class="text-center">上级手机号</th>
                                    <th class="text-center">上级等级</th>
                                    <th class="text-center">上级获得佣金</th>
                                    <th class="text-center">类型</th>
                                    <th class="text-center">审核</th>
                                    <th class="text-center" colspan="2" style="width:20%;">操作</th>
                                </tr>
                                </thead>
                                <tbody class="tbodyCla"  >
                                <tr ng-class="{'red':item.secondCheckStatus=='有一方拒绝'}" ng-repeat="item in MonthlyBalanceLis">
                                    <td ng-click="void();$event.stopPropagation()">{{item.nextUserNickName}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.nextUserMobile}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.nextUserType}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.nickName }}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.mobile}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.userType}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.amount}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.status}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.secondCheckStatus}}</td>
                                    <!--  <td ng-click="viod();$event.stopPropagation()">{{item.secondCheckStatus}}<span ng-hide="item.secondCheckStatus == '未审核'">({{item.checkStatus}}</span><span ng-show="item.secondCheckStatus=='有一方拒绝'">:{{item.checkUserType}})</span></td>-->
                                    <td ng-click="void();$event.stopPropagation()" colspan="2">
                                        <a ng-click="details(item.nextUserId,item.createDate,item.incomeType,item.transactionId,$index,item.id);$event.stopPropagation()" class="orderBtn" >查看</a>
                                        &nbsp;
                                        <a ng-click="examine(item.id);$event.stopPropagation()" class="orderBtn" >审核</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <table ng-if="status=='shareActivity'" class="table  text-center ">
                                <thead>
                                <tr id="product_lis_title1 IncomeListTitle2" >
                                    <th class="text-center" >昵称</th>
                                    <th class="text-center" >手机号</th>
                                    <th class="text-center" >用户当前等级</th>
                                    <th class="text-center" >佣金金额</th>
                                    <th class="text-center">佣金生成时间</th>
                                    <th class="text-center">类型</th>
                                    <th class="text-center">状态</th>
                                    <th class="text-center">审核</th>
                                    <th class="text-center" colspan="3" style="width:20%;">操作</th>
                                </tr>
                                </thead>
                                <tbody class="tbodyCla" ng-repeat="item in MonthlyBalanceLis">
                                <tr ng-class="{'red':item.secondCheckStatus=='有一方拒绝'}" >
                                    <td ng-click="void();$event.stopPropagation()">{{item.nickName}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.mobile}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.userType}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.amount }}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.createDate}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.incomeType}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.status}}</td>
                                    <td ng-click="void();$event.stopPropagation()">{{item.secondCheckStatus}}</td>
                                    <!--  <td ng-click="viod();$event.stopPropagation()">{{item.secondCheckStatus}}<span ng-hide="item.secondCheckStatus == '未审核'">({{item.checkStatus}}</span><span ng-show="item.secondCheckStatus=='有一方拒绝'">:{{item.checkUserType}})</span></td>-->
                                    <td ng-click="void();$event.stopPropagation()" colspan="3">
                                        <a ng-click="details(item.nextUserId,item.createDate,item.incomeType,item.transactionId,$index,item.id);$event.stopPropagation()" class="orderBtn" >查看</a>
                                        &nbsp;
                                        <a ng-click="examine(item.id);$event.stopPropagation()" class="orderBtn" >审核</a>
                                    </td>
                                </tr>
                                <!--点击查看出现的下级内容-->
                                <tr class="product_lis_title " ng-show="item.shareActivityFlag" ng-class="{'red':item.secondCheckStatus=='有一方拒绝','col55a4ef':agencyIndex == $index,'bge5':$index%2==0,'bgf2':$index%2==1}" id="IncomeListTitle2">
                                    <th class="text-center" >昵称</th>
                                    <th class="text-center" >手机号</th>
                                    <th class="text-center" >当前等级</th>
                                    <th class="text-center" >用户生成订单等级</th>
                                    <th class="text-center" >上级当前等级</th>
                                    <th class="text-center">上级订单生成等级</th>
                                    <th class="text-center">付款时间</th>
                                    <th class="text-center">订单编号</th>
                                    <th class="text-center">交易流水号</th>
                                    <th class="text-center">订单状态</th>
                                    <th class="text-center">支付金额</th>
                                </tr>
                                <tr  ng-show="item.shareActivityFlag"  ng-repeat="items in ShareActivityList" id="IncomeListMess2">
                                    <td ng-click="viod();$event.stopPropagation()">{{items.nextUserNickName}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.nextUserMobile}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.nextUserTypeNow}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.nextUserType}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{item.userType}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.userType}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.payDate}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.orderId}}</td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.transactionId}}</td>
                                    <td>
                                        <span ng-if="items.orderStatus == 0">未付款</span>
                                        <span ng-if="items.orderStatus == 1">待发货</span>
                                        <span ng-if="items.orderStatus == 2">已完成</span>
                                        <span ng-if="items.orderStatus == 3">物品在购物车中</span>
                                        <span ng-if="items.orderStatus == 4">待收货</span>
                                        <span ng-if="items.orderStatus == 'del'">订单已删除</span>
                                    </td>
                                    <td ng-click="viod();$event.stopPropagation()">{{items.transactionAmount}}</td>
                                </tr>

                                </tbody>
                            </table>

                            <div class="auditArea" ng-show="auditFlag" ng-click="viod();$event.stopPropagation()">
                                <p class="textTitle">确认无误审核通过？</p>

                                <p ><button class="candel" ng-click="auditChange(1)">通过</button><button class="true" ng-click="auditChange(0)">驳回</button></p>
                            </div>
                            <div page-tool></div>
                        </div>
                    </div>
                </div>
             </div>
         </div>
  </div>