<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.business.mapper.account.IncomeMapper">

    <resultMap id="UserIncomeInfoResultMap" type="com.wisdom.common.dto.account.IncomeRecordDTO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="next_user_id" property="nextUserId" jdbcType="VARCHAR" />
        <result column="next_user_type" property="nextUserType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="REAL" />
        <result column="transaction_amount" property="transactionAmount" jdbcType="REAL" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="income_type" property="incomeType" jdbcType="VARCHAR" />
        <result column="user_identify_number" property="identifyNumber" jdbcType="VARCHAR" />
        <result column="next_user_identify_number" property="nextUserIdentifyNumber" jdbcType="VARCHAR" />
        <result column="user_name" property="nickName" jdbcType="VARCHAR" />
        <result column="next_user_name" property="nextUserNickName" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="user_mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="next_user_mobile" property="nextUserMobile" jdbcType="VARCHAR" />
        <result column="parent_relation" property="parentRelation" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="exportExcelIncomeRecordResultMap" type="com.wisdom.common.dto.system.ExportIncomeRecordExcelDTO" >
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="next_user_id" property="nextUserId" jdbcType="VARCHAR" />
        <result column="next_user_type" property="nextUserType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="REAL" />
        <result column="user_name" property="nickName" jdbcType="VARCHAR" />
        <result column="next_user_name" property="nextUserNickName" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="user_mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="next_user_mobile" property="nextUserMobile" jdbcType="VARCHAR" />
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="pay_date" property="payDate" jdbcType="TIMESTAMP"/>
        <result column="userTypeNow" property="userTypeNow" jdbcType="VARCHAR"/>
        <result column="nextUserTypeNow" property="nextUserTypeNow" jdbcType="VARCHAR"/>
        <result column="orderAmount" property="orderAmount" jdbcType="VARCHAR"/>
        <result column="orderStatus" property="orderStatus" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="parent_relation" property="parentRelation" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="MonthTransactionRecordMap" type="com.wisdom.common.dto.transaction.MonthTransactionRecordDTO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="userId" jdbcType="VARCHAR" />
        <result column="next_user_id" property="nextUserId" jdbcType="VARCHAR" />
        <result column="next_user_type" property="nextUserType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="REAL" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="user_identify_number" property="identifyNumber" jdbcType="VARCHAR" />
        <result column="next_user_identify_number" property="nextUserIdentifyNumber" jdbcType="VARCHAR" />
        <result column="user_nickName" property="nickName" jdbcType="VARCHAR" />
        <result column="next_user_nickName" property="nextUserNickName" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="user_mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="next_user_mobile" property="nextUserMobile" jdbcType="VARCHAR" />
        <result column="parent_relation" property="parentRelation" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="PayRecordResultMap" type="com.wisdom.common.dto.account.PayRecordDTO" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR" />
        <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="FLOAT" />
        <result column="pay_type" property="payType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="pay_date" property="payDate" jdbcType="TIMESTAMP" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="invoice" property="invoice" jdbcType="VARCHAR" />
        <result column="nickname" property="nickName" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="user_type" property="userType" jdbcType="VARCHAR" />
        <result column="identify_number" property="identifyNumber" jdbcType="VARCHAR" />
    </resultMap>



    <sql id="Base_incomeRecord_list">
        i.id,i.sys_user_id,i.amount,i.update_date,i.create_date,i.income_type,i.transaction_id,i.status
    </sql>

    <!-- 根据日期查询用户收入记录信息 -->
    <select id="getUserIncomeInfoByDate"
            resultMap="UserIncomeInfoResultMap">
        SELECT * FROM income_record
        where sys_user_id=#{userId} AND date_format(create_date, '%Y-%m-%d') = date_format(#{date}, '%Y-%m-%d')
    </select>

    <!-- 创建用户收入记录信息 -->
    <insert id="insertUserIncomeInfo">
        INSERT INTO income_record(
        id,
        sys_user_id,
        user_type,
        next_user_id,
        next_user_type,
        amount,
        transaction_amount,
        update_date,
        create_date,
        income_type,
        user_identify_number,
        next_user_identify_number,
        user_name,
        next_user_name,
        transaction_id,
        user_mobile,
        next_user_mobile,
        parent_relation,
        status
        ) VALUES (
        #{id},
        #{sysUserId},
        #{userType},
        #{nextUserId},
        #{nextUserType},
        #{amount},
        #{transactionAmount},
        #{updateDate},
        #{createDate},
        #{incomeType},
        #{identifyNumber},
        #{nextUserIdentifyNumber},
        #{nickName},
        #{nextUserNickName},
        #{transactionId},
        #{mobile},
        #{nextUserMobile},
        #{parentRelation},
        #{status}
        )
    </insert>

    <!-- 更新用户收入记录状态 -->
    <update id="updateIncomeInfo">
        UPDATE income_record SET
        id = #{id}
        <if test="sysUserId!= ''and sysUserId!=null">
            ,sys_user_id=#{sysUserId}
        </if>
        <if test="userType!= ''and userType!=null">
            ,user_type=#{userType}
        </if>
        <if test="nextUserId!= ''and nextUserId!=null">
            ,next_user_id=#{nextUserId}
        </if>
        <if test="nextUserType!= ''and nextUserType!=null">
            ,next_user_type=#{nextUserType}
        </if>
        <if test="amount!= ''and amount!=null">
            ,amount=#{amount}
        </if>
        <if test="transactionAmount!= ''and transactionAmount!=null">
            ,transaction_amount=#{transactionAmount}
        </if>
        <if test="updateDate!=null">
            ,update_date=#{updateDate}
        </if>
        <if test="createDate!=null">
            ,create_date=#{createDate}
        </if>
        <if test="incomeType!= ''and incomeType!=null">
            ,income_type=#{incomeType}
        </if>
        <if test="identifyNumber!= ''and identifyNumber!=null">
            ,user_identify_number=#{identifyNumber}
        </if>
        <if test="nextUserIdentifyNumber!= ''and nextUserIdentifyNumber!=null">
            ,next_user_identify_number=#{nextUserIdentifyNumber}
        </if>
        <if test="nickName!= ''and nickName!=null">
            ,user_name=#{nickName}
        </if>
        <if test="nextUserNickName!= ''and nextUserNickName!=null">
            ,next_user_name=#{nextUserNickName}
        </if>
        <if test="transactionId!= ''and transactionId!=null">
            ,transaction_id=#{transactionId}
        </if>
        <if test="mobile!= ''and mobile!=null">
            ,user_mobile=#{mobile}
        </if>
        <if test="nextUserMobile!= ''and nextUserMobile!=null">
            ,next_user_mobile=#{nextUserMobile}
        </if>
        <if test="parentRelation!= ''and parentRelation!=null">
            ,parent_relation=#{parentRelation}
        </if>
        <if test="status!= ''and status!=null">
            ,status=#{status}
        </if>
        WHERE
        id = #{id}
    </update>

    <select id="getUserIncomeInfo" resultMap="UserIncomeInfoResultMap">
        select * from income_record WHERE
        1=1
        <if test="id!= ''and id!=null">
            and id=#{id}
        </if>
        <if test="sysUserId!= ''and sysUserId!=null">
            and sys_user_id=#{sysUserId}
        </if>
        <if test="amount!= ''and amount!=null">
            and amount=#{amount}
        </if>
        <if test="updateDate!=null">
            and date_format(update_date, '%Y-%m-%d') = date_format(#{updateDate}, '%Y-%m-%d')
        </if>
        <if test="createDate!=null">
            and date_format(create_date, '%Y-%m-%d') = date_format(#{createDate}, '%Y-%m-%d')
        </if>
        <if test="incomeType!= ''and incomeType!=null">
            and income_type=#{incomeType}
        </if>
        <if test="transactionId!= ''and transactionId!=null">
            and transaction_id=#{transactionId}
        </if>
        <if test="status!= ''and status!=null">
            and status=#{status}
        </if>
    </select>

    <!--获取提现信息Count根据条件-->
    <select id="queryUserIncomeCountByParameters" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM income_record i,sys_user u
        WHERE 1=1 AND i.sys_user_id = u.id
        <if test="createStartDate != ''and createStartDate != null  ">
            AND i.create_date BETWEEN #{createStartDate} AND #{createEndDate}
        </if>
        <if test="phoneAndIdentify != null and phoneAndIdentify != ''">
            AND (u.identify_number = #{phoneAndIdentify} OR u.mobile=#{phoneAndIdentify})
        </if>
        <if test="incomeType != null and incomeType != ''">
            AND i.income_type = #{incomeType}
        </if>
    </select>

    <!--根据条件查询提成信息-->
    <select id="queryUserIncomeByParameters"
            resultMap="UserIncomeInfoResultMap"
            resultType="com.wisdom.common.persistence.Page">
        SELECT
        <include refid="Base_incomeRecord_list"/>,u.nickname,u.user_type,u.mobile,u.identify_number
        FROM income_record i,sys_user u
        WHERE 1=1  AND i.sys_user_id = u.id
        <if test="createStartDate != ''and createStartDate != null  ">
            AND i.create_date BETWEEN #{createStartDate} AND #{createEndDate}
        </if>
        <if test="phoneAndIdentify != null and phoneAndIdentify != ''">
            AND (u.identify_number = #{phoneAndIdentify} OR u.mobile=#{phoneAndIdentify})
        </if>
        <if test="incomeType != null and incomeType != ''">
            AND i.income_type = #{incomeType}
        </if>
        ORDER BY i.create_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>

    <select id="getIncomeRecordByIncomeManagement"
            resultMap="UserIncomeInfoResultMap">
        SELECT
        i.*
        FROM income_record i,income_record_management m
        WHERE 1=1
        <if test="requestData.id != null and requestData.id != ''">
            AND i.id = #{requestData.id}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile like concat(concat('%',#{requestData.mobile}),'%')
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
        <if test='requestData.checkStatus != "0"'>
            <if test="requestData.checkUserType != null and requestData.checkUserType != ''">
                AND m.user_type = #{requestData.checkUserType}
            </if>
        </if>
        <if test='requestData.checkStatus == "1"'>
            AND m.income_record_id = i.id
        </if>
        <if test='requestData.checkStatus == "0"'>
            AND i.id NOT IN(SELECT m.income_record_id from income_record_management m WHERE m.user_type = #{requestData.checkUserType})
        </if>
        GROUP BY i.id
        ORDER BY i.create_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>
    <select id="getIncomeRecordCountByIncomeManagement"
            resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM income_record i,income_record_management m
        WHERE 1=1
        <if test="requestData.id != null and requestData.id != ''">
            AND i.id = #{requestData.id}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile like concat(concat('%',#{requestData.mobile}),'%')
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
        <if test='requestData.checkStatus != "0"'>
            <if test="requestData.checkUserType != null and requestData.checkUserType != ''">
                AND m.user_type = #{requestData.checkUserType}
            </if>
        </if>
        <if test='requestData.checkStatus == "1"'>
            AND m.income_record_id = i.id
        </if>
        <if test='requestData.checkStatus == "0"'>
            AND i.id NOT IN(SELECT m.income_record_id from income_record_management m WHERE m.user_type = #{requestData.checkUserType})
        </if>
    </select>
    <select id="getIncomeRecordByPageParam"
                      resultMap="UserIncomeInfoResultMap">
    SELECT
    count(1) count,
    i.*
    FROM income_record i
    WHERE 1=1
    <if test="requestData.id != null and requestData.id != ''">
        AND i.id = #{requestData.id}
    </if>
    <if test="startTime != ''and startTime != null  ">
        AND i.create_date BETWEEN #{startTime} AND #{endTime}
    </if>
    <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
        AND i.income_type = #{requestData.incomeType}
    </if>
    <if test="requestData.mobile != null and requestData.mobile != ''">
        AND i.user_mobile  like concat(concat('%',#{requestData.mobile}),'%')
    </if>
    <if test="requestData.status != null and requestData.status != ''">
        AND i.status = #{requestData.status}
    </if>
    GROUP BY i.id
    ORDER BY i.create_date DESC
    <if test='isExportExcel != "Y"'>
        limit #{pageStartNo},#{pageSize}
    </if>
</select>

    <select id="getIncomeRecordCountByPageParam" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM income_record i
        WHERE 1=1
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile like concat(concat('%',#{requestData.mobile}),'%')
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
    </select>



    <!--查询所有提成信息-->
    <select id="queryAllUserIncome"
            resultMap="UserIncomeInfoResultMap"
            resultType="com.wisdom.common.persistence.Page">
        SELECT
        <include refid="Base_incomeRecord_list"/>,u.nickname,u.mobile,u.identify_number
        FROM income_record i,sys_user u
        WHERE 1=1 AND i.sys_user_id = u.id
        ORDER BY i.create_date DESC
    </select>

    <!--查询即时奖励总额(个人)-->
    <select id="selectIncomeInstanceByUserId"
            resultType="String">
        SELECT
        IFNULL(SUM(amount),0)
        FROM income_record
        WHERE income_type = 'instance'
        <if test="userId!= ''and userId!=null">
            AND sys_user_id=#{userId}
        </if>
    </select>

    <select id="getUserIncomeRecordInfoByPage" resultMap="UserIncomeInfoResultMap">
        SELECT
        *
        FROM income_record
        WHERE
        sys_user_id = #{userId}
        and amount != 0
        ORDER BY update_date DESC
        limit #{pageNo},#{pageSize}
    </select>

    <select id="getIncomeRecordDetail" resultMap="UserIncomeInfoResultMap">
        SELECT
        *
        FROM income_record
        WHERE
        transaction_id = #{transactionId}
    </select>

    <!--查询即时返现的订单详情-->
    <select id="queryInstanceInfoByTransactionId"
            resultMap="PayRecordResultMap"
            resultType="com.wisdom.common.persistence.Page">
        SELECT
        *
        FROM pay_record p,sys_user u
        WHERE 1=1 AND p.sys_user_id = u.id
        <if test="requestData.transactionId != ''and requestData.transactionId != null  ">
            AND p.transaction_id = #{requestData.transactionId}
        </if>
        ORDER BY p.pay_date DESC
    </select>

    <!--查询月结下详情交易-->
    <select id="queryMonthRecordByParentRelation"
            resultMap="MonthTransactionRecordMap">
        SELECT
        m.*
        FROM month_transaction_record m
        WHERE 1=1
        <if test="requestData.sysUserId != ''and requestData.sysUserId != null  ">
            AND m.sys_user_id = #{requestData.sysUserId}
        </if>
        <if test='requestData.parentRelation == "self" '>
            AND m.parent_relation = 'self'
        </if>
        <if test='requestData.parentRelation != "self" '>
            AND m.parent_relation != 'self'
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND m.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY m.create_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>
    <select id="queryMonthRecordCountByParentRelation"
            resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM month_transaction_record m
        WHERE 1=1
        <if test="requestData.sysUserId != ''and requestData.sysUserId != null  ">
            AND m.sys_user_id = #{requestData.sysUserId}
        </if>
        <if test='requestData.parentRelation == "self" '>
            AND m.parent_relation = 'self'
        </if>
        <if test='requestData.parentRelation != "self" '>
            AND m.parent_relation != 'self'
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND m.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
    </select>

    <!--查询月结下详情交易Count-->
    <select id="queryMonthTransactionRecordByIncomeRecordCount"
            resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM month_transaction_record m
        WHERE 1=1
        <if test="requestData.sysUserId != ''and requestData.sysUserId != null  ">
            AND m.sys_user_id = #{requestData.sysUserId}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND m.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY m.create_date DESC
    </select>

    <!--审核奖励金是否可以提现-->
    <update id="updateIncomeRecord">
        UPDATE income_record SET
        <if test="status!= '' and status!=null">
            status=#{status}
        </if>
        WHERE
        id = #{id}
    </update>

    <!--根据用户id查询这个月都消费了哪些订单-->
    <select id="queryMonthPayRecordByUserId"
            resultMap="PayRecordResultMap">
        SELECT
        p.*,u.nickname,u.mobile,u.identify_number,u.user_type
        FROM pay_record p,sys_user u
        WHERE 1=1 AND p.sys_user_id = u.id AND p.status = '1'
        <if test="requestData.sysUserId != ''and requestData.sysUserId != null  ">
            AND p.sys_user_id = #{requestData.sysUserId}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND p.pay_date BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY p.pay_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>

    <!--根据用户id查询这个月都消费了哪些订单-->
    <select id="queryMonthPayRecordCountByUserId"
            resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM pay_record p,sys_user u
        WHERE 1=1 AND p.sys_user_id = u.id AND p.status = '1'
        <if test="requestData.sysUserId != ''and requestData.sysUserId != null  ">
            AND p.sys_user_id = #{requestData.sysUserId}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND p.pay_date BETWEEN #{startTime} AND #{endTime}
        </if>
        ORDER BY p.pay_date DESC
    </select>

    <select id="queryAllMonthTransactionRecord"
            resultMap="MonthTransactionRecordMap">
        SELECT
        m.*
        FROM month_transaction_record m
    </select>

    <update id="updateMonthTransactionRecord">
        UPDATE month_transaction_record SET
        id = #{id}
        <if test="transactionId!= ''and transactionId!=null">
            ,transaction_id=#{transactionId}
        </if>
        <if test="userId!= ''and userId!=null">
            ,sys_user_id=#{userId}
        </if>
        <if test="amount!= ''and amount!=null">
            ,amount=#{amount}
        </if>
        <if test="createDate!=null">
            ,create_date=#{createDate}
        </if>
        <if test="updateDate!=null">
            ,update_date=#{updateDate}
        </if>
        <if test="nextUserId!= ''and nextUserId!=null">
            ,next_user_id=#{nextUserId}
        </if>
        <if test="userType!= ''and userType!=null">
            ,user_type=#{userType}
        </if>
        <if test="nextUserType!= ''and nextUserType!=null">
            ,next_user_type=#{nextUserType}
        </if>
        <if test="parentRelation!= ''and parentRelation!=null">
            ,parent_relation=#{parentRelation}
        </if>
        <if test="mobile!= ''and mobile!=null">
            ,user_mobile=#{mobile}
        </if>
        <if test="nextUserMobile!= ''and nextUserMobile!=null">
            ,next_user_mobile=#{nextUserMobile}
        </if>
        <if test="identifyNumber!= ''and identifyNumber!=null">
            ,user_identify_number=#{identifyNumber}
        </if>
        <if test="nextUserIdentifyNumber!= ''and nextUserIdentifyNumber!=null">
            ,next_user_identify_number=#{nextUserIdentifyNumber}
        </if>
        <if test="nickName!= ''and nickName!=null">
            ,user_nickname=#{nickName}
        </if>
        <if test="nextUserNickName!= ''and nextUserNickName!=null">
            ,next_user_nickname=#{nextUserNickName}
        </if>
        WHERE
        id = #{id}
    </update>
    <select id="exportExcelIncomeRecord"
            resultMap="exportExcelIncomeRecordResultMap">
        SELECT i.*,i.transaction_amount AS orderAmount,
	        u2.user_type AS userTypeNow,
	        u3.user_type AS nextUserTypeNow,
	        p.pay_date,
	        o.order_id,o.`status`AS orderStatus
	    from income_record i
	    LEFT JOIN sys_user u2 ON i.sys_user_id = u2.id
	    LEFT JOIN sys_user u3 ON i.next_user_id = u3.id
	    LEFT JOIN pay_record p ON i.transaction_id = p.transaction_id
	    LEFT JOIN business_order o ON p.order_id = o.order_id
        LEFT JOIN income_record_management m ON i.id = m.income_record_id
	    WHERE 1=1
        <if test="requestData.id != null and requestData.id != ''">
            AND i.id = #{requestData.id}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile = #{requestData.mobile}
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
        <if test='requestData.checkStatus == "0"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm)
        </if>
        <if test='requestData.checkStatus == "1"||requestData.checkStatus == "2"||requestData.checkStatus == "3"'>
            AND m.income_record_id = i.id
            and m.status='1'
        </if>
        <if test='requestData.checkStatus == "1"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='finance-1')
        </if>

        <if test='requestData.checkStatus == "2"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='operation-1')
        </if>

        <if test='requestData.checkStatus == "4"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='0')
        </if>

        <if test='requestData.checkStatus == "3"'>
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='finance-1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='operation-1')
        </if>
        GROUP BY i.id
        ORDER BY i.create_date DESC
    </select>


    <select id="findIncomeForUnaudited" resultMap="UserIncomeInfoResultMap">
        SELECT
            count(1) count,
            i.*
        FROM income_record i,income_record_management m
        WHERE 1=1
        <if test="requestData.id != null and requestData.id != ''">
            AND i.id = #{requestData.id}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile like concat(concat('%',#{requestData.mobile}),'%')
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
        <if test='requestData.checkStatus == "0"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm)
        </if>
        <if test='requestData.checkStatus == "1"||requestData.checkStatus == "2"||requestData.checkStatus == "3"'>
            AND m.income_record_id = i.id
            and m.status='1'
        </if>
        <if test='requestData.checkStatus == "1"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='finance-1')
        </if>

        <if test='requestData.checkStatus == "2"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='operation-1')
        </if>

        <if test='requestData.checkStatus == "4"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='0')
        </if>

        <if test='requestData.checkStatus == "3"'>
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='finance-1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='operation-1')
        </if>
        GROUP BY i.id
        ORDER BY i.create_date DESC
        <if test='isExportExcel != "Y"'>
            limit #{pageStartNo},#{pageSize}
        </if>
    </select>

    <!--获取总数-->
    <select id="getIncomeForUnauditedCount" resultType="java.lang.Integer">
        SELECT
            count(1)
        FROM income_record i,income_record_management m
        WHERE 1=1
        <if test="requestData.id != null and requestData.id != ''">
            AND i.id = #{requestData.id}
        </if>
        <if test="startTime != ''and startTime != null  ">
            AND i.create_date BETWEEN #{startTime} AND #{endTime}
        </if>
        <if test="requestData.incomeType != ''and requestData.incomeType != null  ">
            AND i.income_type = #{requestData.incomeType}
        </if>
        <if test="requestData.mobile != null and requestData.mobile != ''">
            AND i.user_mobile like concat(concat('%',#{requestData.mobile}),'%')
        </if>
        <if test="requestData.status != null and requestData.status != ''">
            AND i.status = #{requestData.status}
        </if>
        <if test='requestData.checkStatus == "0"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm)
        </if>
        <if test='requestData.checkStatus == "1"||requestData.checkStatus == "2"||requestData.checkStatus == "3"'>
            AND m.income_record_id = i.id
            and m.status='1'
        </if>
        <if test='requestData.checkStatus == "1"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='finance-1')
        </if>

        <if test='requestData.checkStatus == "2"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1' and irm.user_type ='operation-1')
        </if>

        <if test='requestData.checkStatus == "4"'>
            AND i.id not in(select irm.income_record_id from income_record_management irm  where irm.status='1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='0')
        </if>

        <if test='requestData.checkStatus == "3"'>
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='finance-1')
            AND i.id in(select irm.income_record_id from income_record_management irm  where irm.status='1'and irm.user_type ='operation-1')
        </if>
    </select>

</mapper>