<div class="basicInfo-box">
    <div class="headPortrait-box fl clearfix">
        <div ng-click="goAddRecordDetail()" class="headPortrait">
            <img  ng-src="{{responseData.imageUrl}}" alt="">
        </div>
    </div>
    <div class="basicInfo-content clearfix fl">
        <div class="basicInfo-content-first clearfix">
            <span class="basicInfoName fl">{{responseData.sysUserName}}</span>
            <span class="accountRecords fl" ng-click="goAccountRecords()">账户记录<b>＞</b></span>
        </div>
        <div class="basicInfo-content-second clearfix">
            <span>会员：{{responseData.userName}}</span>
            <span ng-if="responseData.userName.member == '1'">未绑定</span>
            <span ng-if="responseData.userName.member == '0'" ng-click="goBindMember()" class="bind">绑定</span>
        </div>
        <div class="basicInfo-content-third clearfix">
            <span>总金额：<b>{{responseData.sumAmount}}</b></span>
            <span class="totalOwed">总欠款：<b>{{responseData.arrears}}</b></span>
        </div>
        <div class="basicInfo-content-fourth clearfix">
            <span>档案生成：未知</span>
            <span class="beautician">美容师：{{responseData.sysClerkName}}</span>
        </div>
    </div>
    <div class="basicInfo-right">
        <button ng-click="goSelectRechargeType()">充值</button>
        <button ng-click="toConsumptionList()">消费</button>
        <button ng-click="goStillOwed()">还欠款</button>
    </div>
</div>