<div class="basicInfo-box">
    <div class="headPortrait-box fl clearfix">
        <div class="headPortrait"><img ng-src="{{responseData.imageRul}}" alt=""></div>
    </div>
    <div class="basicInfo-content clearfix fl">
        <div class="basicInfo-content-first clearfix">
            <span class="basicInfoName fl">{{responseData.sysClerkName}}</span>
            <span class="accountRecords fl" ng-click="goAccountRecords()">账户记录<b>＞</b></span>
        </div>
        <div class="basicInfo-content-second clearfix">
            <span>会员：{{responseData1.member}}</span>
        </div>
        <div class="basicInfo-content-third clearfix">
            <span>总金额：<b>{{responseData1.sumAmount}}</b></span>
            <span class="totalOwed">总欠款：<b>{{responseData1.arrears}}</b></span>
        </div>
        <div class="basicInfo-content-fourth clearfix">
            <span>档案生成：未知</span>
            <span class="beautician">美容师：{{responseData1.sysClerkName}}</span>
        </div>
    </div>
    <div class="basicInfo-right">
        <button ng-click="goSelectRechargeType()">充值</button>
        <button>消费</button>
        <button ng-click="goStillOwed()">还欠款</button>
    </div>
</div>