<div class="completeCardDetail">
    <div class="completeCardDetail_box">
        <div class="basic">
            <p>基本信息</p>
            <ul>
                <li>
                    <label for="">时间</label>
                    <span>{{dataInfo.createDate | date: "yyyy-MM-dd HH:mm:ss"}}</span>
                </li>
                <li>
                    <label for="">顾客</label>
                    <span>{{dataInfo.sysUserName}}</span>
                </li>
                <li>
                    <label for="">操作门店</label>
                    <span>{{dataInfo.sysShopName}}</span>
                </li>
                <li>
                    <label for="">关联员工</label>
                    <span>{{dataInfo.sysClerkName}}</span>
                </li>
                <li>
                    <label for="">类型</label>
                    <span ng-if="dataInfo.goodsType==rootScopeGoodsType.groupCard">套卡</span>
                    <span ng-if="dataInfo.goodsType==rootScopeGoodsType.product">产品</span>
                    <span ng-if="dataInfo.goodsType==rootScopeGoodsType.periodCard">疗程卡</span>
                    <span ng-if="dataInfo.goodsType==rootScopeGoodsType.rechargeCard">充值卡</span>
                </li>
            </ul>
        </div>

        <div>
            <div class="basic">
                <p>支付类型</p>
                <ul>
                    <li ng-if="dataInfo.payMap.cashAmount!=''">
                        <label for="">现金支付</label>
                        <span>{{dataInfo.payMap.cashAmount}}</span>
                    </li>
                    <li ng-if="dataInfo.payMap.balanceAmount!=''">
                        <label for="">余额支付</label>
                        <span>{{dataInfo.payMap.balanceAmount}}</span>
                    </li>

                    <li ng-if="dataInfo.payMap.payType!=''">
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.aliPay">支付宝支付</label>
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.bankPay">银行卡支付</label>
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.weChatPay">微信支付</label>
                        <span ng-if="dataInfo.payMap.payType!=''">{{dataInfo.payMap.payTypeAmount}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div>
            <div class="basic">
                <p>备注</p>
                <ul>
                    <li>
                        <span>{{dataInfo.detail}}</span>
                    </li>
                </ul>
            </div>
            <div class="basic">
                <p>顾客签字</p>
            </div>
            <ul>
                <li>
                    <img ng-src="{{dataInfo.signUrl}}" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>