<div class="consumeCardDetail">
    <div class="consumeCardDetail_box">
        <div class="basic">
            <p>基本信息</p>
            <ul>
                <li>
                    <label for="">时间</label>
                    <span>{{dataInfo.createDate |date:'yyyy-MM-dd HH:mm:ss'}}</span>
                </li>
                <li>
                    <label for="">顾客</label>
                    <span>{{dataInfo.sysUserName}}</span>
                </li>
                <li>
                    <label for="">操作门店</label>
                    <span>{{dataInfo.sysShopName}}</span>
                </li>
                <li>
                    <label for="">关联员工</label>
                    <span>{{dataInfo.sysClerkName}}</span>
                </li>
                <li>
                    <label for="">类型</label>
                    <span ng-if="dataInfo.goodsType == 2">店内充值</span>
                    <span ng-if="dataInfo.goodsType != 2">店内消费</span>

                </li>
            </ul>
        </div>
        <div ng-repeat="listItem in dataInfo.userConsumeRecordResponseList">
            <div class="basic">
                <p ng-if="dataInfo.goodsType == '0'">单次</p>
                <p ng-if="dataInfo.goodsType == '1'">疗程卡</p>
                <p ng-if="dataInfo.goodsType == '2'">充值卡</p>
                <p ng-if="dataInfo.goodsType == '3'">套卡</p>
                <ul>
                    <li>
                        <label for="">{{listItem.flowName}}</label>
                        <span>{{listItem.createDate}}</span>
                    </li>
                    <li ng-if="type != 'cp'"><!--产品没有包含次数-->
                        <label for="">包含次数</label>
                        <span>{{listItem.includeTimes}}</span>
                    </li>
                    <li>
                        <label for="">价格</label>
                        <span>{{listItem.price}}</span>
                    </li>
                    <li>
                        <label for="">折扣</label>
                        <span>{{(item1.discount==null)||(item1.discount==1)?'无折':item1.discount*10+'折'}}</span>
                    </li>
                    <li>
                        <label for="">数量</label>
                        <span>{{listItem.consumeNumber}}</span>
                    </li>
                    <li>
                        <label for="">金额</label>
                        <span>{{listItem.sumAmount}}</span>
                    </li>
                    <li ng-if="dataInfo.goodsType == 3">
                        <label for="">包含项目</label>
                        <ul>
                            <li ng-repeat="item2 in listItem.shopProjectInfoDTOList" class="com_detail_list">
                                <label for="">{{item2.projectName}}  * {{item2.serviceTimes}}</label>
                                <span>{{item2.marketPrice}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="basic">
                <p>总金额</p>
                <ul>
                    <li>
                        <span>{{dataInfo.sumAmount}}</span>
                    </li>
                </ul>
            </div>
            <div class="basic">
                <p>支付明细</p>
                <ul>
                    <li ng-if="dataInfo.payMap.cashAmount!=''">
                        <label for="">现金支付</label>
                        <span>{{dataInfo.payMap.cashAmount}}</span>
                    </li>
                    <li ng-if="dataInfo.payMap.balanceAmount!='' ">
                        <label for="">余额支付</label>
                        <span>{{dataInfo.payMap.balanceAmount}}</span>
                    </li>

                    <li ng-if="dataInfo.payMap.payType!=''">
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.aliPay">支付宝支付</label>
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.bankPay">银行卡支付</label>
                        <label ng-if="dataInfo.payMap.payType == rootScopePayType.weChatPay">微信支付</label>
                        <span>{{dataInfo.payMap.payTypeAmount}}</span>
                    </li>
                </ul>
            </div>


            <div class="basic">
                <p>顾客签字</p>
                <ul>
                    <li>
                        <img ng-src="{{dataInfo.signUrl}}" alt="">
                    </li>
                </ul>
            </div>
            <div class="basic">
                <p>备注</p>
                <ul>
                    <li>
                        <span>{{dataInfo.detail}}</span>
                    </li>
                </ul>
            </div>

        </div>

    </div>
</div>