<div class="consumptionListBox clearfix">
    <div class="consumptionListLeft clearfix">
        <ul>
            <li class="clearfix" ng-click="tabclick(1)" ng-class="select=='1'?'select':''">
                <i>
                    <div>{{theSelected.periodCard.periodCardSize}}</div>
                </i>
                <span>疗程卡</span>
            </li>
            <li class="clearfix" ng-click="tabclick(0)" ng-class="select=='0'?'select':''">
                <i>
                    <div>{{theSelected.timeCard.timeCardSize}}</div>
                </i>
                <span>单次</span>
            </li>
            <li class="clearfix" ng-click="tabclick(2)" ng-class="select=='2'?'select':''">
                <i>
                    <div>{{theSelected.product.productSize}}</div>
                </i>
                <span>产品</span>
            </li>
            <li class="clearfix" ng-click="tabclick(3)" ng-class="select=='3'?'select':''">
                <i>
                    <div>{{theSelected.groupCard.groupSize}}</div>
                </i>
                <span>套卡</span>
            </li>
            <!-- <li class="clearfix">
                <i></i>
                <span>赠送</span>
            </li> -->
        </ul>
    </div>
    <div class="consumptionListUl" ng-if="consumptionListUlShow">
        <div class="search">
            <input placeholder="请输入名称" ng-keyup="fastSearch()" value="searchInfo" ng-model="searchInfo.info" type="text">
            <span ng-click="fastSearch()">搜索</span>
        </div>
        <div style="overflow: scroll;height: 100%;">
            <ul>
                <!--status0启用 1禁用-->
                <div ng-if="item1.levelOneDetail.status != 1" ng-repeat="(key1,item1) in secondCategory">
                    <div ng-if="select!=2"  class="consumptionListUlTitle">{{item1.levelOneDetail.projectTypeName}}</div>
                    <div ng-if="select==2"  class="consumptionListUlTitle">{{item1.levelOneDetail.productTypeName}}</div>
                    <li class="two_project_cla" data-ddd="{{item2}}"ng-click="getThreeCategories(item2.projectTypeOneId,item2.projectTypeTwoId,item2.id)" ng-class="{'redFont':redFontFlag == item2.id}" ng-repeat="(key2,item2) in item1.levelTwoDetail" ng-if="select!=2"  >{{key2}}</li>
                    <li class="two_project_cla" data-ddd="{{item2}}"ng-click="getProductInfoThreeLevelProject(item2.productTypeOneId,item2.productTypeTwoId,item2.id)" ng-class="{'redFont':redFontFlag == item2.id}" ng-repeat="(key2,item2) in item1.levelTwoDetail" ng-if="select==2">{{key2}}</li>
                </div>
            </ul>
        </div>
    </div>
    <div class="consumptionListContent" ng-class="{true: '', false: 'isThird'}[consumptionListUlShow]">
        <ul>
            <li class="clearfix" ng-repeat="item3 in threeCategories" ng-if="select==1" ng-click="updateVirtualGoodsOrderInfo(1,item3)">
                <div class="checkBox" ng-class="{bgF6:(theSelected.periodCard.periodCardIds.indexOf(item3.id)!='-1')}">
                    <img src="images/checkImg.png" alt="">
                </div>
                <span class="name">{{item3.projectName}}</span>
                <br/>
                <span class="number">{{item3.serviceTimes}}次</span>
                <div class="right">
                    <span><b>¥ </b>{{item3.marketPrice}}<b>.00</b></span>
                </div>
            </li>
            <li class="clearfix" ng-repeat="item3 in threeCategories" ng-if="select==0" ng-click="updateVirtualGoodsOrderInfo(0,item3)">
                <div class="checkBox" ng-class="{bgF6:(theSelected.timeCard.timeCardIds.indexOf(item3.id)!='-1')}">
                    <img src="images/checkImg.png" alt="">
                </div>
                <span class="name">{{item3.projectName}}</span>
                <br/>
                <span class="number">{{item3.serviceTimes}}次</span>
                <div class="right">
                    <span><b>¥ </b>{{item3.marketPrice}}<b>.00</b></span>
                </div>
            </li>
            <li class="clearfix" ng-repeat="item3 in threeCategories" ng-if="select==2" ng-click="updateVirtualGoodsOrderInfo(4,item3)">
                <div class="checkBox" ng-class="{bgF6:(theSelected.product.productIds.indexOf(item3.id)!='-1')}">
                    <img src="images/checkImg.png" alt="">
                </div>
                <span class="name" style="margin-top: 24px;">{{item3.productName}}</span>
                <div class="right">
                    <span><b>¥ </b>{{item3.marketPrice}}<b>.00</b></span>
                </div>
            </li>
            <li class="clearfix" ng-repeat="item3 in threeCategories" ng-if="select==3" ng-click="updateVirtualGoodsOrderInfo(3,item3)">
                <div class="checkBox" ng-class="{bgF6:(theSelected.groupCard.groupIds.indexOf(item3.id)!='-1')}">
                    <img src="images/checkImg.png" alt="">
                </div>
                <span class="name">{{item3.projectGroupName}}</span>
                <br/>
                <span class="number">永久有效</span>
                <div class="right">
                    <span><b>¥ </b>{{item3.discountPrice}}<b>.00</b></span>
                </div>
            </li>
        </ul>
    </div>
</div>