.drawCardRecords {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.drawCardRecords .prepaidRecordsTitle {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.45px;
    padding: 6px 0 6px 17px;
}

.drawCardRecords .prepaidRecordsUl {
    width: 100%;
    background: #fff;
}

.drawCardRecords .prepaidRecordsUl li {
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}

.drawCardRecords .prepaidRecordsUl li div {
    margin: 10px 0 10px 16px;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.45px;
}

.drawCardRecords .prepaidRecordsUl li div b {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0.45px;
}

.drawCardRecords .prepaidRecordsUl li span {
    margin: 21px 16px 13px 0;
    float: right;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FF6666;
    letter-spacing: 0;
}

.drawCardRecords .prepaidRecordsUl li .go_detail{
    float: right;
    margin-top: 20px;
    padding-right: 35px;
}

.drawCardRecords li .go_set {
    position: absolute;
    top: 7%;
    right: 0rem;
    background: url(../../images/userInfo/bt_more.png) no-repeat;
    background-size: 100%;
    width: 0.1171875rem;
    height: 0.2109375rem;
}
