<div class="drawCardRecordsDetail">
    <div class="drawCardRecordsDetail_box">
        <div class="basic">
            <p>基本信息</p>
            <ul>
                <li>
                    <label for="">时间</label>
                    <span>{{dataInfo.createDate| date: "yyyy-MM-dd HH:mm:ss"}}</span>
                </li>
                <li>
                    <label for="">顾客</label>
                    <span>{{dataInfo.sysUserName}}</span>
                </li>
                <li>
                    <label for="">操作门店</label>
                    <span>{{dataInfo.sysShopName}}</span>
                </li>
                <li>
                    <label for="">关联员工</label>
                    <span>{{dataInfo.sysClerkName}}</span>
                </li>
                <li>
                    <label for="">类型</label>
                    <span ng-if="dataInfo.type == 0">店内充值</span>
                    <span ng-if="dataInfo.type == 1">店内消费</span>
                    <span ng-if="dataInfo.type == 5">划卡</span>
                </li>
            </ul>
        </div>


        <div class="basic">
            <p>划卡信息</p>
            <ul ng-repeat="listItem in dataInfo.userConsumeRecordResponseList">
                <li>
                    <label for="">{{listItem.flowName}}</label>
                    <span>划卡：{{listItem.consumeNumber}}</span>
                </li>
            </ul>
        </div>
        <div class="basic">
            <p>备注</p>
            <ul>
                <li>
                    <label for=""></label>
                    <span>{{dataInfo.detail}}</span>
                </li>
            </ul>
        </div>
        <div class="basic">
            <p>顾客签字</p>
        </div>
        <div>
            <img ng-src="{{dataInfo.signUrl}}" alt="" style="display: block;width: 100%;height: 100%">
        </div>
    </div>
</div>