<div class="getProductRecord">
    <div class="getProductRecord_box">
        <ul>
            <li ng-click="goCashProductDetails()" ng-repeat="item in dataList">
                <div class="basic_info">
                    <p>{{item.shopProductName}}</p>
                    <span>{{item.createDate}}</span>
                </div>
                <div class="go_detail">
                    领取数量:111
                    <span class="go_set"></span>
                </div>
            </li>
        </ul>
    </div>
</div>