<div class="stillOwedBox clearfix">
    <div class="stillOwedPorduct clearfix">
        <span class="name">迪奥1</span>
        <span class="number">购买数量 <b>1</b></span>
        <span class="number">已退数量<b>1</b></span>
        <span class="number">未领取数量<b>1</b></span>
    </div>
    <div class="stillOwedTitle"></div>
    <ul class="stillOwedUl mt10" ng-click="goHousekeeper()">
        <li>
            <div>关联员工</div>
            <span>></span>
        </li>
    </ul>
    <img src="" alt="">
    <div class="stillOwedTitle">备注</div>
    <textarea name="" rows="10"></textarea>
    <button ng-click="goConfirmations()">确认</button>
</div>