.stillOwedBox {
    width: 100%;
    height: 100%;
    background: #F5F5F5;
    overflow: scroll;
}

.stillOwedBox .stillOwedTitle {
    background: #EEEEEE;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0;
    padding: 20px 0 6px 17px;
    margin-top: 10px;
}

.stillOwedBox .stillOwedUl {
    width: 100%;
    background: #fff;
}

.stillOwedBox .stillOwedUl li {
    height: 45px;
    border-bottom: 1px solid #E5E5E5;
}

.stillOwedBox .stillOwedUl li input {
    display: block;
    float: left;
    margin: 16px 0px 0px 10px;
}

.stillOwedBox .stillOwedUl li div {
    margin: 13px 0 0 16px;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}

.stillOwedBox .stillOwedUl li span {
    margin: 13px 16px 0 0;
    float: right;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #888888;
    letter-spacing: 0;
}

.stillOwedBox .stillOwedUl li span input {
    background: #F4F4F4;
    border: 0 solid #EBEBEB;
    width: 150px;
    height: 32px;
    margin: -6px 0 0 10px;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #888888;
    letter-spacing: 0;
    padding-left: 9px;
}

.stillOwedBox textarea {
    width: 100%;
}

.stillOwedBox button {
    background: #FF6666;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
    float: right;
    margin: 41px 44px 0 0;
    width: 180px;
    height: 44px;
}

.checkBox {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 5px;
    margin: 23px 8px;
    float: left;
    border: 1px solid #FF6666;
}

.checkBox img {
    width: 100%;
    height: 100%;
    display: block;
}


.stillOwedBox .stillOwedPorduct {
    width: 673px;
    height: 148px;
    margin: 18px 0 0 15px;
    background: url('../../images/getProductBg.png');
    background-size: cover;
}

.stillOwedBox .stillOwedPorduct .name {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    margin: 17px 0 0 21px;
    display: block;
}

.stillOwedBox .stillOwedPorduct .number {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 224px;
    display: block;
    text-align: center;
    float: left;
    margin-top: 39px;
}

.stillOwedBox .stillOwedPorduct .number b {
    display: block;
}