.getProductRecord{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.getProductRecord_box{
    width: 100%;
}
.getProductRecord_box ul li{
    height: 70px;
    line-height: 70px;
    font-family: PingFangSC-Regular;
    padding: 0px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #E5E5E5;
    position: relative;
}
.getProductRecord_box ul li .basic_info{
    float: left;
    height: 100%;
    width: 80%;
    position: relative;
}

.getProductRecord_box ul li .basic_info p{
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.4px;
    height: 45px;
    line-height: 45px;
}
.getProductRecord_box ul li .basic_info span{
    font-size: 11px;
    color: #333333;
    letter-spacing: 0.7px;
    position: absolute;
    left: 0px;
    bottom: 6px;
    height: 30px;
    line-height: 30px;
}


.getProductRecord_box ul li .go_detail{
    height: 100%;
    float: right;
    width: 20%;
    text-align: right;
    padding-right: 35px;
}

.getProductRecord_box ul li .go_set{
    position: absolute;
    top: 40%;
    right: 0.3125rem;
    background: url(../../images/userInfo/bt_more.png) no-repeat;
    background-size: 100%;
    width: 0.1171875rem;
    height: 0.2109375rem;
}