.getProduct  {
    width: 100%;
    height: 100%;
    background: #ffffff;
    overflow: scroll;
}

.getProduct  .stillOwedTitle {
    background: #EEEEEE;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0;
    padding: 20px 0 6px 17px;
}

.getProduct  .stillOwedUl {
    width: 100%;
    background: #fff;
}

.getProduct  .stillOwedUl li {
    height: 45px;
    border-bottom: 1px solid #E5E5E5;
}

.getProduct  .stillOwedUl li input {
    display: block;
    float: left;
    margin: 16px 0px 0px 10px;
}

.getProduct  .stillOwedUl li div {
    margin: 13px 0 0 16px;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}

.getProduct  .stillOwedUl li span {
    margin: 13px 16px 0 0;
    float: right;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #888888;
    letter-spacing: 0;
}

.getProduct  .stillOwedUl li span input {
    background: #F4F4F4;
    border: 0 solid #EBEBEB;
    width: 150px;
    height: 32px;
    margin: -6px 0 0 10px;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #888888;
    letter-spacing: 0;
    padding-left: 9px;
}

.getProduct  textarea {
    width: 100%;
}

.getProduct  button {
    background: #FF6666;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
    float: right;
    margin: 41px 44px 0 0;
    width: 180px;
    height: 44px;
}

.getProduct .checkBox {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 5px;
    margin: 23px 8px;
    float: left;
    border: 1px solid #FF6666;
}

.getProduct .checkBox img {
    width: 100%;
    height: 100%;
    display: block;
}


.getProduct  .stillOwedPorduct {
    width: 673px;
    height: 148px;
    margin: 18px 0 0 15px;
    background: url('../../images/getProductBg.png');
    background-size: cover;
}

.getProduct  .stillOwedPorduct .name {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 1.5px;
    margin: 17px 0 0 21px;
    display: block;
}

.getProduct  .stillOwedPorduct .number {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 50%;
    display: block;
    text-align: center;
    float: left;
    margin-top: 39px;
}

.getProduct  .stillOwedPorduct .number b {
    display: block;
}
.getProduct  .get_num_sty{
    font-size: 0.25rem;
    color: #333333;
    letter-spacing: 0.45px;
    font-size: 0.25rem;
    color: #333333;
    letter-spacing: 0.45px;
    border-top: 1px solid #E5E5E5;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.getProduct  .get_num_sty .rightContent{
    float: right;
    height: 80%;
    border: 1px solid;
    margin-right: 20px;
    border: 1px solid #E5E5E5;
}
.getProduct  .get_num_sty .rightContent input{
    float: left;
    width: 100px;
    padding-left: 10px;
}
.getProduct  .get_num_sty .rightContent div{
    float: left;
    width: 30px;
    height: 100%;
    text-align: center;
}

.getProduct  .get_num_sty .rightContent div:nth-child(1){
    border-right: 1px solid #E5E5E5;
}

.getProduct  .get_num_sty .rightContent div:nth-child(2){
    border-left: 1px solid #E5E5E5;
}

.getProduct .height100Num  ul li{
    /*height: 0.65625rem;*/
    line-height: 0.65625rem;
    font-size: 0.25rem;
    color: #333333;
    letter-spacing: 0.45px;
    padding-left: 0.265625rem;
    position: relative;
    overflow: hidden;
}

.getProduct .rele_people div{
    margin: 5px 0 0 0px;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}


.getProduct .rele_people span{
    margin: 10px 40px 0 16px;
    float: right;
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
}

.getProduct .rele_people span e{
    margin-right: 3px;
}
.getProduct  .go_set {
    position: absolute;
    top: 40%;
    right: 0.3125rem;
    background: url(../../images/userInfo/bt_more.png) no-repeat;
    background-size: 100%;
    width: 0.1171875rem;
    height: 0.2109375rem;
}
.getProduct  .cccc{
    color: #CCCCCC;
}