<div class="getProductRecord">
    <div class="getProductRecord_box">
        <ul>
            <li ng-click="goCashProductDetails(item.flowNo)" ng-repeat="item in dataList">
                <div class="basic_info">
                    <p>{{item.flowName}}</p>
                    <span>{{item.createDate |date:'yyyy-MM-dd hh:mm:ss'}}</span>
                </div>
                <div class="go_detail">
                    领取数量:&nbsp {{item.consumeNumber}}
                    <span class="go_set"></span>
                </div>
            </li>
        </ul>
    </div>
</div>