.sourcesBox {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.sourcesBox .sourcesTitle {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #333333;
    letter-spacing: 0.45px;
    padding: 6px 0 6px 17px;
}

.sourcesBox .sourcesUl {
    width: 100%;
    background: #fff;
}

.sourcesBox .sourcesUl li {
    height: 45px;
    border-bottom: 1px solid #E5E5E5;
}

.sourcesBox .sourcesUl li div {
    margin: 13px 0 13px 16px;
    float: left;
}

.sourcesBox .sourcesUl li span {
    margin: 13px 16px 13px 0;
    float: right;
}

.sourcesBox .sourcesUl li .checkRadio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    float: left;
    border: 1px solid #FF6666;
    margin-right: 5px;
}

.sourcesBox .sourcesUl li .check {
    background: #FF6666;
}