<div class="sourcesBox clearfix">
    <ul class="sourcesUl">
        <li ng-click="housekeeperCheck(1)">
            <div>
                <b class="checkRadio" ng-class="{check:select == 1}"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(2)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(3)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(4)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(5)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(6)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
        <li ng-click="housekeeperCheck(7)">
            <div>
                <b class="checkRadio"></b>卓森培(15099983025）
            </div>
        </li>
    </ul>
</div>