<div class="orderListBox clearfix">
    <div class="orderListTotalAmount">总金额：¥{{responseData.orderPrice}}</div>
    <div class="orderListTitle" ng-click="goSelectRechargeType(2)">充值卡支付</div>
    <ul class="orderListUl">
        <li>
            <div>余额（可用余额：¥{{responseData.availableBalance}}）</div>
            <span><b class="fl">¥</b><input type="text" ng-model="balancePay"></span>
        </li>
        <!-- <li>
            <div>其中欠款</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li> -->
        <li>
            <div>现金支付</div>
            <span><b class="fl">¥</b><input type="text" ng-model="cashPayPrice"></span>
        </li>
    </ul>
    <div class="orderListTitle">其他支付方式</div>
    <ul class="orderListUl mt10">
        <li ng-click="checkBoxChek(0)">
            <div class="checkBox" ng-class="{bgF6:(payType==0)}">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>银联支付</div>
        </li>
        <li ng-click="checkBoxChek(1)">
            <div class="checkBox" ng-class="{bgF6:(payType==1)}">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>微信支付</div>
        </li>
        <li ng-click="checkBoxChek(2)">
            <div class="checkBox" ng-class="{bgF6:(payType==2)}">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>支付宝支付</div>
        </li>
    </ul>
    <img src="" alt="">
    <div class="orderListTitle">备注</div>
    <textarea name="" rows="10"></textarea>
    <button ng-click="goSignConfirm()">确认</button>
</div>