<div class="personalFile-box clearfix">
    <div class="personalFile-top" ng-include="'itemList/cashier/basicInfo.html'"></div>
    <div class="personalFile-tab">
        <span ng-click="tabclick(0)" ng-class="select=='0'?'select':''">疗程卡</span>
        <span ng-click="tabclick(1)" ng-class="select=='1'?'select':''">套卡</span>
        <span ng-click="tabclick(2)" ng-class="select=='2'?'select':''">充值卡</span>
        <span ng-click="tabclick(3)" ng-class="select=='3'?'select':''">单次</span>
        <span ng-click="tabclick(4)" ng-class="select=='4'?'select':''">产品</span>
    </div>
    <div class="personalFile-content">
        <div class="treatment">
            <div class="treatmentCard clearfix" ng-if="select=='0'">
                <div ng-click="goCureCardRecords(item0.id)" ng-repeat="item0 in courseProjectList0" class="treatmentCardTop clearfix">
                    <span class="treatmentCardTopName">{{item0.sysShopProjectName}}</span>
                    <span class="treatmentCardTopPrice">金额:￥{{item0.sysShopProjectInitAmount}}</span>
                    <div class="useNub">
                        <span class="treatmentCardTopUsed">{{item0.sysShopProjectSurplusTimes}}</span>
                        <span class="treatmentCardTopTotal">/{{item0.sysShopProjectInitTimes}}</span>
                    </div>
                    <button ng-click="goConsumptionList('1',item0.id)">划卡</button>
                </div>
                <!--<div class="treatmentCardBottom">
                    <span>备注：</span>
                    <span>点击编辑图标可对该疗程卡做备注，最多不超过50字！</span>
                </div>-->
            </div>
            <div class=" clearfix" ng-if="select=='1'">
                <div ng-click="goCompleteCardRecords(item1.consumeRecordId,item1.projectList)" class="recorderCard " ng-repeat="item1 in projectGroupList">
                    <div class="recorderCardTop clearfix">
                        <span class="recorderCardTopName">{{item1.projectGroupName}}</span>
                        <span class="recorderCardTopPrice">金额:   <b>{{item1.marketPrice}}</b></span>
                    </div>
                    <!--<div class="recorderCardNote clearfix">
                        <span>备注：</span>
                        <span>点击编辑图标可对该疗程卡做备注，最多不超过50字！</span>
                    </div>-->
                    <div>
                        <div ng-repeat="item1Sm in item1.projectList" class="recorderCardContent clearfix">
                            <span class="recorderCardContentName">{{item1Sm.shopProjectInfoName}}</span>
                            <div class="useNub">
                                <span class="recorderCardContentUsed">{{item1Sm.projectSurplusTimes}}</span>
                                <span class="recorderCardContentTotal">/{{item1Sm.projectInitTimes}}</span>
                            </div>
                            <button ng-click="goConsumptionList('2',item1Sm.id)">划卡</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="prepaidCard clearfix" ng-if="select=='2'">
                <div class="prepaidCardTop clearfix">
                    <span>总余额：￥{{sunAmount}}</span>
                </div>
                <div ng-click="goRechargeCardRecords(item2.id,$index,sunAmount)" ng-repeat="item2 in rechargeCardList" class="prepaidCardContent">
                    <img src={{item2.imageUrl}} alt="">
                    <div class="prepaidCardInfo clearfix">
                        <span class="prepaidCardName">{{item2.shopRechargeCardName}}</span>
                        <span class="prepaidCardRAName">剩余金额：<b>￥{{item2.surplusAmount}}</b></span>
                        <span class="prepaidCardTAName">充值金额：
                            <b>￥{{item2.initAmount==null?0:item2.initAmount}}</b>
                        </span>
                        <div class="prepaidCardDiscount">
                            <e>单次：{{item2.timeDiscount=='1'?'无折扣':item2.timeDiscount*10+'折'}}</e>
                            <e>疗程卡：{{item2.periodDiscount=='1'?'无折扣':item2.periodDiscount*10+'折'}}</e>
                            <e>单次：{{item2.productDiscount=='1'?'无折扣':item2.productDiscount*10+'折'}}</e>

                        </div>
                        <div class="prepaidCardTime">
                            <e>充值时间：￥{{item2.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</e>
                        </div>
                    </div>
                    <!--<div class="prepaidCardNote clearfix">
                        <span>备注：</span>
                        <span>点击编辑图标可对该疗程卡做备注，最多不超过50字！</span>
                    </div>-->
                </div>
            </div>
            <div class="singleCard clearfix" ng-if="select=='3'">
                <ul>
                    <li ng-repeat="item3 in courseProjectList1">
                        <div class="time">{{item3.createDate |date:"yyyy-MM-dd HH:MM:ss"}}</div>
                        <div class="type">单次消费</div>
                        <div class="name ov_dian">{{item3.sysShopProjectName}}</div>
                        <div class="number">{{item3.sysShopProjectInitTimes}}</div>
                        <div class="price">{{item3.sysShopProjectInitAmount}}</div>
                    </li>
                </ul>
            </div>
            <div class="productCard clearfix" ng-if="select=='4'">
                <ul>
                    <li ng-click="goGetProductRecord(item4.id); $event.stopPropagation();" ng-repeat="item4 in productList">
                        <div class="left">
                            <span>{{item4.shopProductName}}</span>
                            <p class="price">金额:{{item4.initAmount}}</p>
                            <p class="number">购买数量：{{item4.initTimes}} 未领取数量：{{item4.surplusTimes}}</p>
                            <p class="time">购买时间：{{item4.createDate |date:'yyyy-MM-dd HH:mm:ss'}}</p>
                        </div>
                        <div class="right">
                            <button ng-click="goGetProduct(item4.id)">领取</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>