.personalFile-box {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
}

.personalFile-box .personalFile-top {
    width: 675px;
    height: 145px;
    margin: 15px auto;
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.50);
    border-radius: 12px;
    background: #FFF;
}

.personalFile-box .personalFile-tab {
    width: 674px;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 1px solid #FF6666;
    border-radius: 4px;
    margin: 14px auto 35px;
    overflow: hidden;
}

.personalFile-box .personalFile-tab span {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FF6666;
    letter-spacing: 0;
    width: 112px;
    display: block;
    float: left;
    text-align: center;
    border-right: 1px solid #FF6666;
}

.personalFile-box .personalFile-tab span:last-of-type {
    border-right: none;
}

.personalFile-box .personalFile-tab span.select {
    background: #FF6666;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment {
    width: 674px;
    margin: 0 auto;
}

.personalFile-box .personalFile-content .treatment .treatmentCard {
    width: 674px;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.50);
    border-radius: 4px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop {
    height: 70px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop button {
    width: 107px;
    height: 30px;
    background: #FF6666;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
    border: none;
    border-radius: 4px;
    float: right;
    margin: 25px 30px 0 0;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopName {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.4px;
    margin: 15px 0 0 15px;
    display: block;
    line-height: 22px;
    float: left;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopPrice {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0;
    line-height: 18px;
    margin: 40px 0 0 15px;
    display: block;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopUsed {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FF6666;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopTotal {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #888888;
    letter-spacing: 2px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom {
    background: #FAFAFA;
    border-radius: 0 0 4px 4px;
    height: 34px;
    line-height: 34px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom span:first-of-type {
    opacity: 0.66;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 14px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom span:last-of-type {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.77px;
}