.personalFile-box {
    height: 100%;
    width: 100%;
    background: #F5F5F5;
}

.personalFile-box .personalFile-top {
    width: 95%;
    height: 145px;
    margin: 15px auto;
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.50);
    border-radius: 12px;
    background: #FFF;
}

.personalFile-box .personalFile-tab {
    width: 95%;
    height: 40px;
    line-height: 40px;
    background: #FFFFFF;
    border: 1px solid #FF6666;
    border-radius: 4px;
    margin: 14px auto 35px;
    overflow: hidden;
}

.personalFile-box .personalFile-tab span {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FF6666;
    letter-spacing: 0;
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    border-right: 1px solid #FF6666;
}

.personalFile-box .personalFile-tab span:last-of-type {
    border-right: none;
}

.personalFile-box .personalFile-tab span.select {
    background: #FF6666;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment {}

.personalFile-box .personalFile-content .treatment .treatmentCard {
    width: 95%;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(228, 228, 228, 0.50);
    border-radius: 4px;
    margin: 0 auto;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop {
    height: 70px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop button {
    width: 107px;
    height: 30px;
    background: #FF6666;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
    border: none;
    border-radius: 4px;
    float: right;
    margin: -30px 30px 0 0;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopName {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.4px;
    margin: 15px 0 0 15px;
    display: block;
    line-height: 22px;
    float: left;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopPrice {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0;
    line-height: 18px;
    margin: 40px 0 0 15px;
    display: block;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .useNub {
    float: left;
    margin: -30px 0 0 300px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopUsed {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FF6666;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardTop .treatmentCardTopTotal {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #888888;
    letter-spacing: 2px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom {
    background: #FAFAFA;
    border-radius: 0 0 4px 4px;
    height: 34px;
    line-height: 34px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom span:first-of-type {
    opacity: 0.66;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 14px;
}

.personalFile-box .personalFile-content .treatment .treatmentCard .treatmentCardBottom span:last-of-type {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.77px;
}


.personalFile-box .personalFile-content .treatment .recorderCard {
    background: #FFFFFF;
    border-radius: 10px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardTopName {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    margin: 10px 0 0 15px;
    display: block;
    float: left;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardTopPrice {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #FF6666;
    letter-spacing: 0;
    margin: 13px 0 0 17px;
    display: block;
    float: left;
    line-height: 18px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardTopPrice b {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #FF6666;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardNote {
    background: #FAFAFA;
    border-radius: 0 0 4px 4px;
    height: 34px;
    line-height: 34px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardNote span:first-of-type {
    opacity: 0.66;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 14px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardNote span:last-of-type {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.77px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent {
    border-bottom: 1px solid #E5E5E5;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent:last-of-type {
    border-bottom: none;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent .recorderCardContentName {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #333333;
    letter-spacing: 0;
    float: left;
    margin: 13px 0 0 16px;
}


.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent .useNub {
    float: left;
    margin: 8px 0 0 231px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent .useNub .recorderCardContentUsed {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #FF6666;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent .useNub .recorderCardContentTotal {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #888888;
    letter-spacing: 2px;
}

.personalFile-box .personalFile-content .treatment .recorderCard .recorderCardContent button {
    background: #FF6666;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
    float: right;
    width: 107px;
    height: 30px;
    border: none;
    margin: 9px 30px 0 0;
}

.personalFile-box .personalFile-content .treatment .prepaidCard {
    width: 95%;
    margin: -31px auto 0;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardTop {
    height: 40px;
    background: rgba(255, 102, 102, 0.20);
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardTop span {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #FF6666;
    letter-spacing: 0;
    margin: 10px auto;
    display: table;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent {
    width: 100%;
    height: 164px;
    background: #FFFFFF;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent img {
    width: 166px;
    height: 95px;
    border-radius: 10px;
    margin: 22px 0 13px 36px;
    float: left;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardInfo {
    margin-left: 215px;
    height: 130px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardName {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.4px;
    margin: 21px 0 0 10px;
    display: block;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardRAName {
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #FF6666;
    letter-spacing: 0;
    display: inline-block;
    margin: 24px 0 0 10px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardRAName b {
    font-family: PingFangSC-Regular;
    font-size: 19px;
    color: #FF6666;
    letter-spacing: 0.5px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardTAName {
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #999999;
    letter-spacing: 0;
    display: inline-block;
    margin: 24px 0 0 41px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardContent .prepaidCardTAName b {
    font-family: PingFangSC-Regular;
    font-size: 17px;
    color: #999999;
    letter-spacing: 0;
    display: inline-block;
    margin: 24px 0 0 10px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardNote {
    background: #FAFAFA;
    border-radius: 0 0 4px 4px;
    height: 34px;
    line-height: 34px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardNote span:first-of-type {
    opacity: 0.66;
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 14px;
}

.personalFile-box .personalFile-content .treatment .prepaidCard .prepaidCardNote span:last-of-type {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0.77px;
}

.personalFile-box .personalFile-content .treatment .singleCard {
    margin-top: -35px;
    background: #FFFFFF;
}

.personalFile-box .personalFile-content .treatment .singleCard ul {}

.personalFile-box .personalFile-content .treatment .singleCard li {
    height: 70px;
    line-height: 70px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    border: 1px solid #E5E5E5;
}

.personalFile-box .personalFile-content .treatment .singleCard span.time {
    padding-left: 15px;
}

.personalFile-box .personalFile-content .treatment .singleCard span.type {
    margin-left: 24px;
}

.personalFile-box .personalFile-content .treatment .singleCard span.name {
    margin-left: 50px;
}

.personalFile-box .personalFile-content .treatment .singleCard span.number {
    margin-left: 65px;
}

.personalFile-box .personalFile-content .treatment .singleCard span.price {
    margin-left: 45px;
}

.personalFile-box .personalFile-content .treatment .productCard {
    margin-top: -35px;
    background: #FFFFFF;
}

.personalFile-box .personalFile-content .treatment .productCard ul {}


.personalFile-box .personalFile-content .treatment .productCard li {
    height: 132px;
    border-bottom: 1px solid #E5E5E5;
}


.personalFile-box .personalFile-content .treatment .productCard .left {
    float: left;
    padding: 21px 0 0 16px;
}

.personalFile-box .personalFile-content .treatment .productCard .left span {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0.4px;
}

.personalFile-box .personalFile-content .treatment .productCard .left p {
    margin-top: 5px;
}

.personalFile-box .personalFile-content .treatment .productCard .left .price {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #999999;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .productCard .left .number {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #888888;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .productCard .left .number b {
    font-size: 17px;
    color: #3A3A3A;
    line-height: 18px;
}

.personalFile-box .personalFile-content .treatment .productCard .left .price {
    font-family: PingFangSC-Regular;
    font-size: 11px;
    color: #999999;
    letter-spacing: 0;
}

.personalFile-box .personalFile-content .treatment .productCard .right {
    float: right;
}

.personalFile-box .personalFile-content .treatment .productCard .right button {
    background: #FF6666;
    border-radius: 4px;
    width: 107px;
    height: 30px;
    margin: 51px 60px 0 0;
    border: none;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FCFCFC;
    letter-spacing: 0.4px;
}