<div class="personalFile-box clearfix">
    <div class="personalFile-top" ng-include="'itemList/cashier/basicInfo.html'"></div>
    <div class="personalFile-tab">
        <span ng-click="tabclick(0)" ng-class="select=='0'?'select':''">疗程卡</span>
        <span ng-click="tabclick(1)" ng-class="select=='1'?'select':''">套卡</span>
        <span ng-click="tabclick(2)" ng-class="select=='2'?'select':''">充值卡</span>
        <span ng-click="tabclick(3)" ng-class="select=='3'?'select':''">单次</span>
        <span ng-click="tabclick(4)" ng-class="select=='4'?'select':''">产品</span>
        <span ng-click="tabclick(5)" ng-class="select=='5'?'select':''">优惠券</span>
    </div>
    <div class="personalFile-content">
        <div class="treatment">
            <div class="treatmentCard clearfix" ng-if="false">
                <div class="treatmentCardTop clearfix">
                    <span class="treatmentCardTopName">美白护理</span>
                    <span class="treatmentCardTopPrice">金额:￥2980.00</span>
                    <div class="useNub">
                        <span class="treatmentCardTopUsed">10</span>
                        <span class="treatmentCardTopTotal">/10</span>
                    </div>
                    <button>划卡</button>
                </div>
                <div class="treatmentCardBottom">
                    <span>备注:</span>
                    <span>点击编辑图标可对该疗程卡做备注，最多不超过50字！</span>
                </div>
            </div>
            <div class="recorderCard clearfix" ng-if="false">
                <div class="recorderCardTop clearfix">
                    <span class="recorderCardTopName">身体综合卡</span>
                    <span class="recorderCardTopPrice">金额:<b>3900.00</b></span>
                </div>
                <div class="recorderCardNote clearfix">
                    <span>备注:</span>
                    <span>点击编辑图标可对该疗程卡做备注，最多不超过50字！</span>
                </div>
                <div>
                    <div class="recorderCardContent clearfix">
                        <span class="recorderCardContentName">面部刮痧</span>
                        <div class="useNub">
                            <span class="recorderCardContentUsed">10</span>
                            <span class="recorderCardContentTotal">/10</span>
                        </div>
                        <button>划卡</button>
                    </div>
                    <div class="recorderCardContent clearfix">
                        <span class="recorderCardContentName">面部刮痧</span>
                        <div class="useNub">
                            <span class="recorderCardContentUsed">10</span>
                            <span class="recorderCardContentTotal">/10</span>
                        </div>
                        <button>划卡</button>
                    </div>
                    <div class="recorderCardContent clearfix">
                        <span class="recorderCardContentName">面部刮痧</span>
                        <div class="useNub">
                            <span class="recorderCardContentUsed">10</span>
                            <span class="recorderCardContentTotal">/10</span>
                        </div>
                        <button>划卡</button>
                    </div>
                </div>
            </div>
            <div class="prepaidCard clearfix">
                <div class="prepaidCardTop clearfix">
                    <span>总余额：￥51230716.80</span>
                </div>
                <div class="prepaidCardContent">
                </div>
            </div>
        </div>
    </div>
</div>