<div class="prepaidRecordsBox clearfix">
    <ul class="prepaidRecordsUl">
        <li ng-repeat="item in itemList" ng-click="goAccountDetails(item.flowNo)">
            <div class="item_box" ng-if="item.title == 0">店内充值</br>
                <b>{{item.createDate |date:"yyyy-MM-dd HH:mm:ss"}}</b>
                <div class="go_set"></div>
            </div>
            <div class="item_box" ng-if="item.title == 1">店内消费</br>
                <b>{{item.createDate |date:"yyyy-MM-dd HH:mm:ss"}}</b>
                <div class="go_set"></div>
            </div>
            <span class="divcss5-right">￥{{item.sumAmount}}</span>
        </li>
    </ul>
</div>