<div class="rechargeCardDetail">
    <div class="rechargeCardDetail_box">
        <div class="basic">
            <p>基本信息</p>
            <ul>
                <li>
                    <label for="">时间</label>
                    <span>{{dataInfo.createDate}}</span>
                </li>
                <li>
                    <label for="">顾客</label>
                    <span>{{dataInfo.sysUserName}}</span>
                </li>
                <li>
                    <label for="">操作门店</label>
                    <span>{{dataInfo.sysShopName}}</span>
                </li>
                <li>
                    <label for="">关联员工</label>
                    <span>{{dataInfo.sysClerkName}}</span>
                </li>
                <li>
                    <label for="">类型</label>
                    <span>充值卡</span><!--此页面只是充值卡页面，故写死-->
                </li>
            </ul>
        </div>

        <div ng-repeat="listItem in dataInfo.userConsumeRecordResponseList" class="basic">
            <p>充值卡</p>
            <ul>
                <li>
                    <label for="">卡名称</label>
                    <span>{{listItem.flowName}}</span>
                </li>
                <li>
                    <label for="">充值金额</label>
                    <span>{{listItem.price}}</span>
                </li>

            </ul>
        </div>

        <div ng-repeat="listItem in dataInfo.userConsumeRecordResponseList" class="basic">
            <p>折扣</p>
            <ul>
                <li>
                    <label for="">单次</label>
                    <span>{{listItem.timeDiscount=='1'?'无折扣':listItem.timeDiscount}}折</span>
                </li>
                <li>
                    <label for="">疗程卡</label>
                    <span>{{listItem.periodDiscount=='1'?'无折扣':listItem.periodDiscount}}折</span>
                </li>
                <li>
                    <label for="">产品</label>
                    <span>{{listItem.productDiscount=='1'?'无折扣':listItem.productDiscount}}折</span>
                </li>
            </ul>
        </div>

        <div class="basic">
            <p></p>
            <ul>
                <li>
                    <label for="">总金额</label>
                    <span>{{dataInfo.sumAmount}}</span>
                </li>
            </ul>
        </div>

        <div class="basic">
            <p>支付明细</p>
            <ul>
                <li>
                    <label for="">支付宝</label>
                    <span>{{dataInfo.payType}}</span>
                </li>
            </ul>
        </div>

        <div class="basic">
            <p>顾客签字</p>
            <ul>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>