<div class="prepaidBox clearfix">
    <div class="prepaidTitle clearfix" ng-click="goSelectRechargeCard()">
        <div class="checkDiv"></div>
        <span>余额充值</span>
        <p>折扣：单次10.0折 疗程卡10.0折 产品10.0折</p>
    </div>
    <ul class="prepaidUl">
        <li ng-click="goSelectRechargeCard()">
            <div class="checkDiv"></div>
            <img src="https://ss0.bdstatic.com/94oJfD_bAAcT8t7mm9GUKT-xh_/timg?image&quality=100&size=b4000_4000&sec=1522311638&di=3712f277b199303e7c7eb1df22e73f55&src=http://img5.xiazaizhijia.com/walls/20160708/1440x900_2f172c09d079701.jpg" alt="">
            <span class="name">3-8预存金</span>
            <br/>
            <span class="price">面额：￥5120.40</span>
            <br/>
            <span class="discount">折扣：产品9.0折</span>
        </li>
    </ul>
</div>