<div class="selectRechargeTypeBox clearfix">
    <div ng-if="RechargeCardList!=undefined&&type!=2" class="selectRechargeTypeTitle clearfix" ng-click="goSelectRechargeCard(RechargeCardList[0].shopRechargeCardId,RechargeCardList[0].id,RechargeCardList[0].shopRechargeCardName)" >
        <div class="checkBox" style="margin: 23px 8px;" ng-class="{bgF6:false}">
            <img src="images/checkImg.png" alt="">
        </div>
        <span>{{RechargeCardList[0].shopRechargeCardName}}&emsp;&emsp;&emsp;&emsp;面额：￥{{totalBalance}}</span>
        <p>折扣：单次{{RechargeCardList[0].timeDiscount*10}}折 疗程卡{{RechargeCardList[0].periodDiscount*10}}折 产品{{RechargeCardList[0].productDiscount*10}}折</p>
    </div>
    <div  ng-if="RechargeCardListAll!=undefined&&type!=2" class="selectRechargeTypeTitle clearfix" ng-click="goSelectRechargeCard(RechargeCardListAll[0].id)">
        <div class="checkBox" style="margin: 23px 8px;" ng-class="{bgF6:false}">
            <img src="images/checkImg.png" alt="">
        </div>
        <span>{{RechargeCardListAll[0].name}}</span>
            <p>折扣：单次{{RechargeCardListAll[0].timeDiscount*10}}折 疗程卡{{RechargeCardListAll[0].periodDiscount*10}}折 产品{{RechargeCardListAll[0].productDiscount*10}}折</p>
    </div>
    <!--获取我的充值卡-->
    <ul class="selectRechargeTypeUl" ng-if="RechargeCardList!=undefined">
        <li ng-repeat="item in RechargeCardList" ng-if="$index > 0" ng-click="goSelectRechargeCard(item.shopRechargeCardId,item.id,item.shopRechargeCardName,item.initAmount)">
            <div class="checkBox" ng-class="{bgF6:(userPayRechargeCardListCheck.indexOf(item.id)!='-1')}">
                <img src="images/checkImg.png" alt="">
            </div>
            <img ng-src="{{item.imageUrl}}" alt="">
            <span class="name">{{item.shopRechargeCardName}}</span>
            <br/>
            <span class="price">面额：￥{{item.initAmount}}.00</span>
            <br/>
            <span class="discount">折扣：单次{{item.timeDiscount*10}}折 疗程卡{{item.periodDiscount*10}}折 产品{{item.productDiscount*10}}折</span>
        </li>
    </ul>
    <ul class="selectRechargeTypeUl" ng-if="RechargeCardListAll!=undefined">
        <li ng-repeat="item in RechargeCardListAll" ng-if="$index > 0" ng-click="goSelectRechargeCard(item.id)">
            <div class="checkBox" >
                <!--ng-class="{bgF6:(userPayRechargeCardListCheck.indexOf(item.id)!='-1')}"-->
                <img src="images/checkImg.png" alt="">
            </div>
            <img src="{{item.imageUrl}}" alt="">
            <span class="name">{{item.name}}</span>
            <br/>
            <span class="price">面额：￥{{item.amount}}.00</span>
            <br/>
            <span class="discount">折扣：单次{{item.timeDiscount*10}}折 疗程卡{{item.periodDiscount*10}}折 产品{{item.productDiscount*10}}折</span>
        </li>
    </ul>
</div>