<div class="selectRechargeCardBox clearfix">
    <ul class="selectRechargeCardUl">
        <li>
            <div>3-8预存金</div>
            <span>1111</span>
        </li>
        <li>
            <div>充值金额</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li>
    </ul>
    <ul class="selectRechargeCardUl mt10" ng-click="goChooseGifts()">
        <li>
            <div>赠送</div>
            <span>></span>
        </li>
    </ul>
    <ul class="selectRechargeCardUl mt10">
        <li>
            <div>总金额</div>
            <span>11111</span>
        </li>
        <li>
            <div>总欠款</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li>
        <li>
            <div>现金支付</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li>
    </ul>
    <ul class="selectRechargeCardUl mt10">
        <li>
            <div>剩余支付</div>
            <span>1111</span>
        </li>
    </ul>
    <div class="selectRechargeCardTitle">其他支付方式</div>
    <ul class="selectRechargeCardUl mt10">
        <li>
            <input type="radio" name="pay" id="">
            <div>银联支付</div>
        </li>
        <li>
            <input type="radio" name="pay" id="">
            <div>微信支付</div>
        </li>
        <li>
            <input type="radio" name="pay" id="">
            <div>支付宝支付</div>
        </li>
    </ul>
    <ul class="selectRechargeCardUl mt10" ng-click="goHousekeeper()">
        <li>
            <div>关联员工</div>
            <span>></span>
        </li>
    </ul>
    <img src="" alt="">
    <div class="selectRechargeCardTitle">备注</div>
    <textarea name="" rows="10"></textarea>
    <button ng-click="goCustomerSignature()">确认</button>
</div>