<div class="signConfirmBox clearfix">
    <div class="signConfirmLeft">
        <div class="signConfirmLeftTitle clearfix">
            <span ng-if="rechargeConsumeFlag" class="signConfirmLeftTitleName">{{responseData.userName}}</span>
            <span ng-if="!rechargeConsumeFlag"class="signConfirmLeftTitleName">{{userInfo.sysUserName}}</span>
            <span class="signConfirmLeftTitleType">
                <e ng-if="rechargeConsumeFlag">充值明细</e>
                <e ng-if="!rechargeConsumeFlag">消费明细</e>
            </span>
        </div>
        <!--充值明细-->
        <div ng-if="rechargeConsumeFlag" class="signConfirmLeftContent">
            <div class="signConfirmLeftContentTitle">充值</div>
            <ul>
                <li>
                    <span class="name">充值类型</span>
                    <span class="type">充值卡</span>
                </li>
                <li>
                    <span class="name">名称</span>
                    <span class="type">{{responseData.name}}</span>
                </li>
                <li>
                    <span class="name">充值金额</span>
                    <span class="type">¥{{responseData.amount}}</span>
                </li>
            </ul>
            <div class="signConfirmLeftContentTitle">折扣</div>
            <ul>
                <li>
                    <span class="name">单次折扣</span>
                    <span class="type">{{responseData.timeDiscount=='1'?'无':responseData.timeDiscount*10}}折</span>
                </li>
                <li>
                    <span class="name">疗程卡折扣</span>
                    <span class="type">{{responseData.periodDiscount=='1'?'无':responseData.periodDiscount*10}}折</span>
                </li>
                <li>
                    <span class="name">产品折扣</span>
                    <span class="type">{{responseData.productDiscount=='1'?'无':responseData.productDiscount*10}}折</span>
                </li>
            </ul>
            <ul>
                <li>
                    <span class="name">总金额</span>
                    <span class="type">¥{{responseData.amount}}</span>
                </li>
            </ul>
            <div class="signConfirmLeftContentTitle">支付明细</div>
            <ul>
                <li ng-if="responseData.payType==rootScopePayType.bankPay">
                    <span class="name">银行卡支付</span>
                    <span class="type">¥{{responseData.surplusPayPrice==null?'0':responseData.surplusPayPrice}}</span>
                </li>
                <li ng-if="responseData.payType==rootScopePayType.aliPay">
                    <span class="name">支付宝</span>
                    <span class="type">¥{{responseData.surplusPayPrice==null?'0':responseData.surplusPayPrice}}</span>
                </li>
                <li ng-if="responseData.payType==rootScopePayType.weChatPay">
                    <span class="name">微信支付</span>
                    <span class="type">¥{{responseData.surplusPayPrice==null?'0':responseData.surplusPayPrice}}</span>
                </li>
                <li>
                    <span class="name">现金支付</span>
                    <span class="type">¥{{responseData.cashPay==null?'0':responseData.cashPay}}</span>
                </li>
            </ul>
        </div>

        <!--消费明细-->
        <div ng-if="!rechargeConsumeFlag"  class="signConfirmLeftContent">
            <!--单次-->
            <div>
                <div ng-repeat="timeItem in timeProjectList">
                    <div class="signConfirmLeftContentTitle">单次</div>
                    <p>{{timeItem.sysShopProjectName}}</p>
                    <ul>
                        <li ng-if="consumeItem.goodsType != 0">
                            <span class="name">包含次数</span>
                            <span class="type">{{timeItem.serviceTime}}</span>
                        </li>
                        <li>
                            <span class="name">折后价</span>
                            <span class="type">¥{{timeItem.discountPrice}}</span>
                        </li>
                        <li>
                            <span class="name">折扣</span>
                            <span class="type">{{timeItem.discount=='1'?'无折扣':timeItem.discount}}</span>
                        </li>
                        <li>
                            <span class="name">数量</span>
                            <span class="type">¥{{timeItem.sysShopProjectInitTimes}}</span>
                        </li>
                        <li>
                            <span class="name">金额</span>
                            <span class="type">¥{{timeItem.sysShopProjectPurchasePrice}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--疗程-->
            <div>
                <div ng-repeat="periodItem in periodProjectList">
                    <div class="signConfirmLeftContentTitle">疗程卡</div>
                    <p>{{periodItem.sysShopProjectName}}</p>
                    <ul>
                        <li>
                            <span class="name">包含次数</span>
                            <span class="type">{{periodItem.serviceTime}}</span>
                        </li>
                        <li>
                            <span class="name">折后价</span>
                            <span class="type">¥{{periodItem.discountPrice}}</span>
                        </li>
                        <li>
                            <span class="name">折扣</span>
                            <span class="type">¥{{periodItem.discount == '1'?'无折扣':periodItem.discount}}</span>

                        </li>
                        <li>
                            <span class="name">数量</span>
                            <span class="type">¥{{periodItem.sysShopProjectInitTimes}}</span>
                        </li>
                        <li>
                            <span class="name">金额</span>
                            <span class="type">¥{{periodItem.sysShopProjectInitAmount}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--套卡-->
            <div>
                <div ng-repeat="groupItem in groupList">
                    <div class="signConfirmLeftContentTitle">套卡</div>
                    <p>{{groupItem.shopProjectGroupName}}</p>
                    <ul>
                        <li>
                            <span class="name">包含次数</span>
                            <span class="type">{{groupItem.shopProjectServiceTimes}}</span>
                        </li>
                        <li>
                            <span class="name">折后价</span>
                            <span class="type">¥{{groupItem.discountPrice}}</span>
                        </li>
                        <li>
                            <span class="name">折扣</span>
                            <span class="type">¥{{groupItem.discount=='1'?'无折扣':groupItem.discount}}</span>
                        </li>
                        <li>
                            <span class="name">数量</span>
                            <span class="type">¥{{groupItem.number}}</span>
                        </li>
                        <li>
                            <span class="name">金额</span>
                            <span class="type">¥{{groupItem.shopGroupPuchasePrice}}</span>
                        </li>
                        <li >
                            <span class="name">包含项目</span>
                            <div class="xiangmu_info">
                                <ul>
                                    <li ng-repeat="projectItem in groupItem.containProject">
                                        {{projectItem.shopProjectInfoName}}*{{projectItem.shopProjectServiceTimes}}
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--产品-->
            <div>
                <div ng-repeat="productItem in productList">
                    <div class="signConfirmLeftContentTitle">产品</div>
                    <p>{{productItem.shopProductName}}</p>
                    <ul>
                        <li ng-if="consumeItem.goodsType != 0">
                            <span class="name">包含次数</span>
                            <span class="type">{{productItem.initTimes}}</span>
                        </li>
                        <li>
                            <span class="name">折后价</span>
                            <span class="type">¥{{productItem.discountPrice}}</span>
                        </li>
                        <li>
                            <span class="name">折扣</span>
                            <span class="type">{{productItem.discount=='1'?'无折扣':productItem.discount*10}}</span>
                        </li>
                        <li>
                            <span class="name">数量</span>
                            <span class="type">¥{{productItem.initTimes}}</span>
                        </li>
                        <li>
                            <span class="name">金额</span>
                            <span class="type">¥{{productItem.purchasePrice}}</span>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="signConfirmLeftContentTitle">支付明细</div>
            <ul>
                <li>
                    <span class="name">余额支付</span>
                    <span class="type">{{shopUserPayDTO.balancePay}}</span>
                </li>

                <li ng-if="shopUserPayDTO.payType==rootScopePayType.bankPay">
                    <span class="name">银行卡支付</span>
                    <span class="type">¥{{shopUserPayDTO.surplusPayPrice==null?'0':shopUserPayDTO.surplusPayPrice}}</span>
                </li>
                <li ng-if="shopUserPayDTO.payType==rootScopePayType.aliPay">
                    <span class="name">支付宝</span>
                    <span class="type">¥{{shopUserPayDTO.surplusPayPrice==null?'0':shopUserPayDTO.surplusPayPrice}}</span>
                </li>
                <li ng-if="shopUserPayDTO.payType==rootScopePayType.weChatPay">
                    <span class="name">微信支付</span>
                    <span class="type">¥{{shopUserPayDTO.surplusPayPrice==null?'0':shopUserPayDTO.surplusPayPrice}}</span>
                </li>
                <li>
                    <span class="name">现金支付</span>
                    <span class="type">¥{{shopUserPayDTO.cashPayPrice==null?'0':shopUserPayDTO.cashPayPrice}}</span>
                </li>
            </ul>
        </div>

    </div>
    <div class="signConfirmRight">
        <div class="signConfirmRightTitle">顾客签字</div>
        <div class="signConfirmRightContent" id="signConfirmRight"></div>
        <button class="okBtn" ng-click="clickOk()">确认</button>
    </div>
</div>