<div class="stillOwedBox clearfix">
    <ul class="stillOwedUl">
        <li>
            <div>其中欠款</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li>
        <li>
            <div>现金支付</div>
            <span><b class="fl">¥</b><input type="text"></span>
        </li>
    </ul>
    <div class="stillOwedTitle">其他支付方式</div>
    <ul class="stillOwedUl mt10">
        <li ng-click="checkBoxChek($event)">
            <div class="checkBox">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>银联支付</div>
        </li>
        <li ng-click="checkBoxChek($event)">
            <div class="checkBox">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>微信支付</div>
        </li>
        <li ng-click="checkBoxChek($event)">
            <div class="checkBox">
                <img src="images/checkImg.png" alt="">
            </div>
            <div>支付宝支付</div>
        </li>
    </ul>
    <ul class="stillOwedUl mt10" ng-click="goHousekeeper()">
        <li>
            <div>关联员工</div>
            <span>></span>
        </li>
    </ul>
    <img src="" alt="">
    <div class="stillOwedTitle">备注</div>
    <textarea name="" rows="10"></textarea>
    <button ng-click="goSignConfirm()">确认</button>
</div>