<div class="cardWrap">
    <!--轮播图-->
    <swipers data="param.cardDetail.imageList"></swipers>
    <!-项目详情-描述-->
    <div class="cardDescribe" style="overflow-y:scroll;height:6rem;overflow-x:hidden">
        <div class="describeTwo">
            <div class="p32">
                <p><span class="fs36 c33 bold">{{param.cardDetail.projectGroupName}}</span></p>
                <p class="fs30 c33 mt21"><span>市场价格:&nbsp;</span><span>￥{{param.cardDetail.initialPrice}}</span></p>
                <p class="fs30 cff66 mt20"><span>优惠价格：&nbsp;</span><span class="bold fs32">￥{{param.cardDetail.marketPrice}}</span></p>
                <p class="mt34 fs30 c33" ng-if="param.cardDetail.expirationDate=='0'">长期有效</p>
                <p class="mt34 fs30 c33" ng-if="param.cardDetail.expirationDate!='0'">有效期:{{param.cardDetail.effectiveDate}}至{{param.cardDetail.expirationDate}}</p>
                <div class="goodShow">
                    <p class="mt50 fs32 c66"><span>包含项目</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>（{{param.cardDetail.shopProjectInfoDTOS.length}}）</span></p>
                    <ul class="mt30">
                        <li ng-repeat="item in param.cardDetail.shopProjectInfoDTOS">
                            <img src="{{item.projectUrl}}" alt="" onerror="this.src='images/moren.png'">
                            <p class="mt22 fs32 c66">{{item.projectName}}</p>
                            <p><span class="c99 fs26">价格：</span><span class="c99 fs26">￥{{item.marketPrice}}</span>
                                &nbsp;&nbsp;<span class="fs28 cff66">{{item.serviceTimes}}次</span>
                            </p>
                        </li>
                    </ul>
                </div>
                <p class="mt30 fs32 c66 mb50">套卡说明：{{param.cardDetail.detail}}</p>
            </div>
        </div>
    </div>
</div>
