<div style="position:fixed;z-index: 999;top: 50%;left: 40%;font-size: 50px;color: red;" ng-show="loading">
    <div class="mask"></div>
    <div class="alert alert-info">
        <strong>数据加载中......</strong>
    </div>
</div>
<div class="projectWrap">
    <!--导航-->
    <div class="projectHeader">
        <ul class="tab-head">
            <li ng-repeat="items in selectSingleList" class="tab-head-item" ng-click="selection($index,items.id)">
                <span ng-class="{'bg_box_sty':param.selection == $index}" class="bg_box">{{items.projectTypeName}}</span>
            </li>
        </ul>
    </div>
    <!--点击导航栏的任意商品出现相对应的弹框-->
    <div ng-show="param.projectAppear" class="projectAppear">
        <ul>
            <li ng-class="{'project-red':param.chooseProjectItem==items.id,'project-white':param.chooseProjectItem!=items.id}"
                ng-repeat="items in project2List" ng-click="refreshGoods(items.id)">
                {{items.projectTypeName}}
            </li>
        </ul>
    </div>
    <!--商品-->
    <div class="projectGoods">
        <ul>
            <li ng-repeat="item in threeList" ng-click="goProjectDetails(item.id)">
                <div class="imgDiv">
                    <img ng-src="{{item.projectUrl}}">
                </div>
                <div class="textDiv">
                    <p class="textName">{{item.projectName}}</p>
                    <p class="textMoney">单次价格：￥{{item.marketPrice}}</p>
                    <p>
                        <span class="cards bff6666" ng-if="item.cardType=='0'">次卡</span>
                        <span class="cards bff6666" ng-if="item.cardType=='1'">月卡</span>
                        <span class="cards bff6666" ng-if="item.cardType=='2'">季卡</span>
                        <span class="cards bff6666" ng-if="item.cardType=='3'">半年卡</span>
                        <span class="cards bff6666" ng-if="item.cardType=='4'">年卡</span>
                        <span class="cards bff6666" ng-if="item.cardType=='5'">长期</span>
                        &nbsp;
                        <span class="money cff6666 fs39">
                            ￥<span>{{item.discountPrice}}</span>
                            <span class="fs31"></span>
                        </span>
                        <span class="cff6666 fs31" ng-if="item.useStyle=='0'">/单次</span>
                        <span class="cff6666 fs31" ng-if="item.useStyle=='1'">/疗程卡</span>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>

