<div class="detailsWrap">
    <!--轮播图-->
    <div class="swiper-container ">
        <div class="swiper-wrapper">
            <div ng-repeat="imgSrc in projectInformation.imageList" data-sss="{{projectInformation.imageList}}"
                 class="swiper-slide">
                <img ng-src="{{imgSrc}}" alt="">
            </div>
        </div>
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
    <!-项目详情-描述-->
    <div class="projectDescribe">
        <div class="describeTwo">
            <div class="p32">
                <p>
                    <span class="fs36 c33 bold">{{projectInformation.projectName}}</span>
                    <!--卡类别 0：次卡 1：月卡 2：季卡：3：半年卡 4：年卡-->
                    <span ng-if="projectInformation.cardType == 0" class="describeCard bgff6666">次卡</span>
                    <span ng-if="projectInformation.cardType == 1" class="describeCard bgff6666">月卡</span>
                    <span ng-if="projectInformation.cardType == 2" class="describeCard bgff6666">季卡</span>
                    <span ng-if="projectInformation.cardType == 3" class="describeCard bgff6666">半年卡</span>
                    <span ng-if="projectInformation.cardType == 4" class="describeCard bgff6666">年卡</span>
                </p>
                <p class="fs30 c33 mt20"><span>单次价格:&nbsp;</span><span>￥{{projectInformation.oncePrice}}</span></p>
                <p class="cff66 mt22 fs30"><span>办卡价格：&nbsp;</span><span class="bold fs32">￥{{projectInformation.marketPrice}}</span><span class="fs31">/{{projectInformation.serviceTimes}}次</span></p>
                <p class="mt40 fs32"><span class="c99">类型</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="c33">{{projectInformation.projectTypeOneName}}</span></p>
                <p class="mt50 fs32"><span class="c99 ">系列</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="c33">{{projectInformation.projectTypeTwoName}}</span></p>
                <p class="mt50 fs32"><span class="c99">时长</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="c33">{{projectInformation.projectDuration}}分钟</span></p>
                <p class="mt126 fs32 c99 mb50" style="margin-top: 0.4rem">功能介绍：{{projectInformation.functionIntr}}</p>
            </div>
        </div>
    </div>
</div>
