<!--商品-->
<div class="rechargeableGoods">
    <ul>
        <li ng-repeat="item in rechargeableCardList" ng-click="goRechargeableDetails(item.id)">
            <div class="imgDiv">
                <img ng-src="{{item.projectGroupUrl}}" alt="">
            </div>
            <div class="textDiv">
                <p class="fs34 c33 bold mt30">{{item.projectGroupName}}</p>
                <p class="cff6666 mt20"><span class="fs30">价格：</span><span class="fs34">￥{{item.marketPrice}}</span></p>
                <!--<p class="fs22 c88 mt20"><span >折扣：</span><span>产品9.0折/疗程卡无折扣</span></p>-->
            </div>
        </li>
    </ul>
</div>