<!--商品-->
<div class="rechargeableGoods">
    <ul>
        <li ng-repeat="item in [1,2,3,4,5,6,7,8,9]" ng-click="goRechargeableDetails()">
            <div class="imgDiv">
                <img src="images/VIP.png" alt="">
            </div>
            <div class="textDiv">
                <p class="fs34 c33 bold mt30">店庆卡</p>
                <p class="cff6666 mt20"><span class="fs30">价格：</span><span class="fs34">￥298</span><span class="fs28">.00</span></p>
                <p class="fs22 c88 mt20"><span >折扣：</span><span>产品9.0折/疗程卡无折扣</span></p>
            </div>
        </li>
    </ul>
</div>