<div>
    <!--点击可以选择头像部分-->
    <div class="photoBox"  >
        <input type="file" id="userPic" onchange="angular.element(this).scope().img_upload(this.files)">
        <img ng-src="{{param.imgSrc}}" alt="" style="border-radius: 50%">
    </div>
    <!--顾客信息-->
    <div class="customerBox">
        <ul>
            <li><label for="">姓名</label><input type="text" placeholder="请输入顾客姓名" ng-model="param.addCustomersObject.userName"></li>
            <li><label for="">性别</label>
                <div class="maleBox">
                    <p class="p1 " ng-click="selectSex('女')" ng-class="{'bgff6666':param.addCustomersObject.sex=='女'}"><img src="images/ic_women.png" alt=""><span>女</span></p>
                    <p class="p1" ng-click="selectSex('男')" ng-class="{'bgff6666':param.addCustomersObject.sex=='男'}"><img src="images/ic_men.png" alt=""><span>男</span></p>
                </div>
            </li>
            <li><label for="">电话</label><input type="text" placeholder="请输入联系方式" ng-model="param.addCustomersObject.userPhone"></li>
        </ul>
    </div>
</div>

