<!--预约列表-->
    <div class="LisMess">
        <ul>
            <li>
                <P ng-click="detailsWrap(2,$index,'消费')"><img src="images/ic_dian.png" >
                    <span class="name">安娜</span></P>
                <P><span class="time">10:00-11:00</span></P>
            </li>
            <li>
                <P ng-click="detailsWrap(2,$index,'划卡')"><img src="images/ic_dian.png">
                    <span class="name">安娜</span></P>
                <P><span class="time">10:00-11:00</span></P>
            </li>
            <li>
                <P ng-click="detailsWrap(2,$index,'散客')"><img src="images/ic_dian.png">
                    <span class="name">安娜</span></P>
                <P><span class="time">10:00-11:00</span></P>
            </li>
        </ul>
    </div>
