.space-between { display: flex; justify-content: space-between; }
.space-between .W33 { width: 33.3%; }
.space-between .left, .space-between .right { width: 50%; }
.space-between .leftContent { margin-left: 0.23438rem; }
.space-between .rightContent { float: right; margin-right: 0.23438rem; }
.floatR{float:right;}
.floatC:after{content:'';display:block;clear: both; }

.space-around{display: flex;justify-content: space-around;}
.bgf5f5f5{background: #f5f5f5;}
.bgeee{background: #eeeeee;}
.bgff6666{background: #ff6666}
.bgfff{background: #ffffff}
.bgf2{background: #F2F2F2}
.colff6666{color:#ff6666;}
.col333{color:#333333;}
.colfff{color:#ffffff;}
.col666{color:#666666;}
.col888{color:#888888;}
.colaaa{color:#aaaaaa;}
.col999{color:#999999}


.fs20{font-size:0.156rem;}
.fs28{font-size:0.219rem;}
.fs30{font-size:0.234rem;}
.fs32{font-size:0.25rem;}
.fs34{font-size:0.265625rem;}
.fs38{font-size: 0.296875rem;}

.h16{height:0.25rem;}
.h28{height:0.21875rem;line-height:0.21875rem; }
.h60{height: 0.468rem;line-height:0.468rem; }
.h70{line-height: 0.547rem;;}
.h80{height:0.625rem;line-height: 0.625rem;}
.h74{height:0.578em;;line-height: 0.578rem;;}
.h100{height:0.781rem;;line-height: 0.781rem;;}
.h104{height:0.8125rem;;line-height: 0.8125rem;;}
.h120{height:0.9375rem;;line-height: 0.9375rem;;}
.h1465{height:9rem;overflow-y: scroll}
.h1012{height: 7.85938rem;overflow-y: scroll}
.h300{height:2.243rem;}
.w16{width:0.25rem;}
.w248{width:1.9375rem;}
.w756{width:5.91rem}
.w758{width:5.921rem}
.w780{width:6.09375rem}
.w885{width:6.91rem}
.w1344{width:10.5rem;}

.center{text-align: center}
.vat{vertical-align: top}
.vam{vertical-align: middle;}
.vab{vertical-align: bottom;}

.btrr{border-top-right-radius: 0.28125rem;}
.btlr{border-top-left-radius: 0.28125rem;}
.bblr{border-bottom-left-radius: 0.28125rem;}
.bbrr{border-bottom-right-radius: 0.28125rem;}
.br36{border-radius: 0.28125rem;}
.br2{border-radius: 0.0156rem}
.br8{border-radius: 0.0625rem}

.pl20{padding-left:0.156rem;}
.pb20{padding-bottom:0.156rem;}
.pb30{padding-bottom:0.234375rem;}
.pb60{padding-bottom:0.489rem;}
.pt20{padding-top:0.156rem;}
.pt30{padding-top:0.234375rem;}
.pl30{padding-left:0.234375rem;}

.mt10{margin-top:0.078rem;}
.mt12{margin-top:0.093rem;}
.mt20{margin-top:0.156rem;}
.mt22{margin-top:0.171875rem;}
.mt30{margin-top:0.243rem;}
.mt36{margin-top:0.281rem;}
.mt40{margin-top:0.3125rem;}
.mt44{margin-top:0.3435rem;}
.mt56{margin-top:0.438rem;}
.mt60{margin-top:0.489rem;}

.ml20{margin-left:0.156rem;}
.ml30{margin-left:0.234375rem;}
.ml60{margin-left:0.489rem;}

.mr10{margin-right:0.078rem;}
.mr20{margin-right:0.156rem;}
.mr30{margin-right:0.234375rem;}
.mr60{margin-right:0.489rem;}

.mb30{margin-bottom:0.234375rem;}

.backPic{width:0.117rem;height:0.273rem;}
.morePic{width:0.117rem;height:0.211rem;}
.singleSelsectPic, .norPic { width: 0.26563rem; height: 0.26563rem; vertical-align: middle; margin-top: -5px; }
.closePic{width: 0.396rem;height: 0.396rem;}
.bte5{border-bottom: solid #e5e5e5 1px;}
.bbe5{border-top: solid #e5e5e5 1px;}
.b{border:solid #eeeeee 1px;}

.bsb{box-sizing: border-box}
.bsc{box-sizing:content-box}



.btnActive { background: #ff6666; color: #ffffff; }
.nextStepBtn { width: 3.125rem; height: 0.71875rem; border-radius: 0.125rem; margin-right: 0.46875rem; background: #ff6666; color: #ffffff; font-size: 0.28125rem; margin-top: 0.23438rem;border:none;outline: none; }
.singleSelsectPic, .norPic { width: 0.26563rem; height: 0.26563rem; vertical-align: middle; margin-top: -5px; }
.appointmentType {border: solid 1px #e1e1e1;height:7.1875rem;}
.appointmentType .btn{padding-top:1.4375rem;padding-bottom:1.4375rem;}
.appointmentType .point,.row{width:1.3125rem;height:1.3125rem;line-height:1.3125rem;text-align: center;border-radius: 50%;margin:0 auto;}
.appointmentType .point{background: #ffabab;}
.appointmentType .row{background: #d6b4ff;margin-top:0.864rem;}
.next {height:1.5rem;}
.ngdialog-close{display: none!important;}