 <div class="collectionCard" style="height:10.67rem;overflow-y: scroll;border-bottom-right-radius: 0.58125rem;">
        <div class="searchBox">
            <input type="search" placeholder="请输入套卡名称" ng-model="param.consumptionObj.singleFilterStr">
            <button ng-click = "searchCollectionCard()">搜索</button>
        </div>
        <div class="cardLis">
            <ul class="height120">
                <li ng-repeat="item in param.consumptionObj.collectionCardByShowId">
                    <div>
                        <img ng-src="{{selectCollectionCardDataPic[$index]}}" ng-click = "CollectionCardPic($index)">
                        <div class="detail">
                            <p class="color333FS30">{{item.projectGroupName}}</p>
                            <p class="color999FS24">剩余两次</p>
                        </div>
                    </div>
                    <div class="money">
                        <div>
                            <p class="color333FS30">￥{{item.marketPrice}}</p>
                            <del class="color999FS24">{{item.marketPrice}}</del>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
