
    <div class="content">
        <div class="btnsLisArea">
            <div class="btnLis" >
                <ul>
                    <li>
                        <img src="images/bt_single.png">
                        <a class="color333FS30" ng-click=" selsectConsumption('selectSingle')">单次</a>
                    </li>
                    <li>
                        <img src="images/bt-medication%20card.png">
                        <a class="color333FS30" ng-click=" selsectConsumption('selectTreatmentCard')">疗程卡</a>
                    </li>
                    <li>
                        <img src="images/bt_product.png">
                        <a class="color333FS30" ng-click=" selsectConsumption('selectProduct')">产品</a>
                    </li>
                    <li>
                        <img src="images/bt_set%20of%20cards.png">
                        <a class="color333FS30" ng-click=" selsectConsumption('collectionCard')">套卡</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="space-between discount">
            <div class="left type">
                <p class=" color333FS30">折扣类型</p>
                <p class=" color999FS26">此处可选择不同的充值卡，用于不同商品的折扣</p>
            </div>
            <div class="right top-up">
                <p class="rightContent color333FS30"> 余额充值
                    <img src="images/bt_more.png" class="morePic" ng-click="balancePrepaid()">
                </p>
            </div>
        </div>
        <div>
            <div>
                <p class="single color666FS30"><img src="images/ic_a.png">
                    单次
                </p>
                <div class="productMess paddingLeft30">
                    <p class="space-between waterGuangZhen"><span class=" color333FS38" >水光针</span> <img src="images/bt_shut%20down%20b.png" class="rightContent downPic cha"></p>
                    <p class="money color999FS32">
                        原价 <span class="num">99.00</span>
                        折扣 <span>无折</span>
                    </p>
                    <p class="discountNum color999FS32">
                        折扣价 ￥
                        <input type="text">
                    </p>
                </div>
                <ul class="height100Num color333FS34 ">
                    <li class="space-between paddingLeft30">
                        <p class="">购买数量</p>
                        <p class="rightContent">
                            <button class="reduction" ng-click = "subtractOrAdd(0)">-</button>
                            <input type="text" placeholder="1" ng-model="param.num">
                            <button class="addBtn" ng-click = "subtractOrAdd(1)">+</button>
                        </p>
                    </li>
                    <li class="space-between paddingLeft30 paddingLeft30">
                        <p></p>
                        <p class="rightContent">
                            <span class="color333FS26 smallAll">小计:</span> <span class="colorFF6666FS34">99.00</span>
                        </p>
                    </li>
                    <li class="space-between paddingLeft30">
                        <span >关联员工</span>
                        <a class="rightContent"><img src="images/bt_more.png" class="morePic" ng-click="relatedStaff()"></a>
                    </li>
                </ul>
                <p class="space-between color333FS34 giving paddingLeft30">
                    <span >赠送</span>
                    <a class="rightContent"><img src="images/bt_more.png" class="morePic" ng-click="giving()"></a>
                </p>
            </div>
        </div>
    </div>
    <div class="nextStep">
        <div>
            <p class="allMoney color333FS34">
                <span>总金额:</span>
                <span class="colorFF6666FS34">￥99.00</span>
            </p>
            <p>
                <button class="nextStepBtn" ng-click="nextStepBtnConsumption()">下一步</button>
            </p>
        </div>

    </div>
