<div class="dayAppointment H100" ng-show="scheduling">
    <div class="header">
        <p class="timeArea">
            <!--<input
                   id="timeChange" class="time" readonly ng-model="param.nowTime"
                   onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:true,onpicked:change});">-->
            <input type="text" id="test1" class="time" readonly ng-model="param.nowTime">
        </p>
        <div class="centerBtn">
            <div class="appointmentDay {{param.btnActive[0]}} " ng-click="appointmentChange('day')">日预约</div>
            <div class="appointmentWeek {{param.btnActive[1]}}" ng-click="appointmentChange('week')">周预约</div>
        </div>
        <p class="scheduling" data-ceshi="">
            <span ng-click="goArrangeWorkList()">排班</span>
        </p>
    </div>

    <!--<div id="divBox1"  style=" overflow: auto;height: 100%;width: 100%;float: left;" class="content H100 mt128" ng-show="param.dayFlag" >
        &lt;!&ndash;<table>
            <thead>
                <tr>
                    <td ng-repeat="item in param.appointmentObject.beautician" class="bgfff">
                        <div>
                            <p class="name">xia{{item}}</p>
                            <p class="fs24 mt10 mb20">
                                <img src="images/ic_point.png" class="mr12 ">
                                {{param.appointmentObject.point[$index]}}
                                <img src="images/ic_seg.png" class="seg ml20 mr20" >
                                <img src="images/ic_row.png" class="mr12">
                                <span>**</span>
                            </p>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-if="$index == 0"></td>
                    <td ng-if="$index != 0"></td>
                </tr>
            </tbody>
        </table>&ndash;&gt;
        &lt;!&ndash;user信息&ndash;&gt;
        <div id="tbTest1">
            <div class="nameLis nowarp bgfff w" ng-show="flag.upDownScrollFlag">
                <ul class=" ml156 messLis ">
                    <li id="tbLisiItem" ng-repeat="item in param.appointmentObject.beautician" class="bgfff" >
                        <p class="name">xia{{item}}</p>
                        <p class="fs24 mt10 mb20">
                            <img src="images/ic_point.png" class="mr12 ">
                            {{param.appointmentObject.point[$index]}}
                            <img src="images/ic_seg.png" class="seg ml20 mr20" >
                            <img src="images/ic_row.png" class="mr12">
                            <span>**</span>
                        </p>
                    </li>
                </ul>
            </div>
            &lt;!&ndash;content信息&ndash;&gt;
            <div class="messLis  pt117rem" >
                <div class="mt128 ">
                    <div class="" style="position: relative;top:0px">
                        <ul class="time " style="position: absolute;z-index: 100;background: #ffffff" >
                            <li  ng-repeat="item in param.days" style="text-align: center" >{{item}}</li>
                        </ul>
                        <div class=" nowarp" style="margin-left:1.21875rem;">
                            <div class=" list-group" ng-repeat="(index1,item) in param.appointmentObject.list"style="width:500px">
                                <div class="appointmentLis">
                                    <ul >
                                        <li ng-repeat="(index2,item1) in item.status track by $index" ng-class="{'bge4faff':item1==1,'bgffe7e7':item1==2,'bgf0e3ff':item1==3,'bge4faff':item1==0,'bgred':item1==5}" ng-click="detailsWrap(index1,index2,item1,item.sysUserId[index2],item.sysShopId[index2])" ng-onhold="onHold(index1,index2,item1)">
                                            <p ng-if="item1 == 5" class="colred fs34" style="line-height: 0.96875rem;text-align:center ">{{item.sysUserName[index2]}}</p>
                                            <div ng-if="item1 != 5">
                                                <p class="ml28 mt10 fs32 " ng-class="{'colecb9ec':item1==1,'colfd3232':item1==2,'col333':item1==3,'colred':item1==0}" ng-if="item.textShowOrHide[$index]==1">{{item.sysUserName[index2]}}</p>
                                                <p class="mt30" ng-if="item.textShowOrHide[$index]==1">
                                                    <img src="images/ic_point.png" class="ml28 mr12 point" ng-show="item1 != 6">
                                                    <span class="fs24">{{item.time[index2]}}</span>
                                                    <span class="floatR mr28 fs24">{{item.shopProjectName[index2]}}</span>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>-->
    <div ng-if="param.dayWeekFlag" class="complex_table" id="divBox1" style=" overflow: auto;height: 100%;width: 100%;float: left;">
        <table id="tbTest1" class="tb_test" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;">
            <thead>
                <tr>
                    <td>
                        <div style="height: 1.1rem;font-size: 0.25rem;color: #888888;width: 1.21875rem;"></div>
                    </td>
                    <td data-cccc="{{value.appointmentInfo}}" ng-repeat="(key,value) in memeda">
                        <div  class="mr_info">
                            <p>{{key}}</p>
                            <div class="info_num">
                                <span>
                                    <em>点</em>
                                    <i>{{value.appointmentInfo.length}}</i>
                                </span>
                                <span>
                                    <em>排</em>
                                    <i>0</i>
                                </span>
                            </div>
                        </div>

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,value) in param.zhongjiList " >
                    <td class="tiem_node">
                        <!-- data-val={{value}} -->
                        <div>{{key}}</div>
                    </td>
                    <td  ng-onHold = "onHold()" ng-repeat="item in value" class="bor_e5">
                        <div class="td_box" style="position: relative;width: 100%">
                            <!--<span data-meme="{{indexItem}}" ng-class="{'bgFFE6E6':indexItem.status=='0','bgFFE6E6':indexItem.status=='1','bgE1F8FF':indexItem.status=='2','bgF3F3F3':indexItem.status=='3','bgF3F3F3':indexItem.status=='4','bgE1F8FF':indexItem.status=='5','bgF3F3F3':indexItem.status=='6'}" style="position: absolute;top: 0px;left: 0px; right: 0px; bottom: 0px" data-stra="{{indexItem.status}}" ng-click="detailsWrap(indexItem.status,indexItem.sysUserId,indexItem.sysShopId,indexItem.id)" class="dataremove"  ng-repeat="indexItem in item.appointmentInfo" ng-if="(indexItem.scheduling.split(',').indexOf(param.theOtherCode[key])!=-1)"  class="teshu_sty">-->
                            <span data-meme="{{indexItem}}" ng-class="{'bgFFE6E6':indexItem.status=='0'||indexItem.status=='1','bgE1F8FF':indexItem.status=='2'||indexItem.status=='5','bgF3F3F3':indexItem.status=='3'||indexItem.status=='4'||indexItem.status=='6'}" style="position: absolute;top: 0px;left: 0px; right: 0px; bottom: 0px" data-stra="{{indexItem.status}}" ng-click="detailsWrap(indexItem.status,indexItem.sysUserId,indexItem.sysShopId,indexItem.id)" class="dataremove"  ng-repeat="indexItem in item.appointmentInfo" ng-if="(indexItem.scheduling.split(',').indexOf(param.theOtherCode[key])!=-1)"  class="teshu_sty">
                                <!--{{index.scheduling.split(',').indexOf(param.theOtherCode[key])!=-1}}-->
                                <div class="havedata">
                                    <div>
                                        <!--<p>{{indexItem.sysUserName}}</p>
                                        <span>{{indexItem.shopProjectName}}</span>
                                        <span>{{indexItem.status}}</span>-->
                                        <p class="user_name">{{indexItem.sysUserName}}</p>
                                        <!--index1,index2,item1,item.sysUserId[index2],item.sysShopId[index2]-->
                                        <div ng-click="detailsWrap('0',indexItem.sysUserId,indexItem.sysShopId,indexItem.id)" class="user_info">
                                            <em>点</em>
                                            <span class="time">{{indexItem.appointStartTime | date: "HH:mm"}}</span>
                                            <span class="pr_name">{{indexItem.shopProjectName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </span>
                            <span  ng-class="{'bgFFE6E6':indexItem.status=='0'||indexItem.status=='1','bgE1F8FF':indexItem.status=='2'||indexItem.status=='5','bgF3F3F3':indexItem.status=='3'||indexItem.status=='4'||indexItem.status=='6'}"   data-stra="{{indexItem.status}}" ng-click="detailsWrap()" ng-repeat="indexItem in item.appointmentInfo" ng-if="(indexItem.scheduling.split(',').indexOf(param.theOtherCode[key])==-1)">
                                <!--{{index.scheduling.split(',').indexOf(param.theOtherCode[key])==-1}}-->
                                <div class="nodata">
                                    <span style="text-indent:-99999px;display: block">我没值</span>
                                </div>
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--周预约-->
    <div  ng-if="!param.dayWeekFlag " class="H100">
        <div class="week_box">
            <div class="week_left">
                <ul>
                    <li></li>
                    <li  ng-repeat="item in leftTimeList">
                        <div>
                            <p class="weekLeftNumber">
                                <span ng-class="{'radus_sty':$index == 0}" class="radus_stypt">{{item.day}}</span>
                                <span>{{item.Lunar}}</span>
                                <span>{{item.week.replace("星期","周")}}</span>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="week_right">
                <div class="week_right_box" style="width: 6000px;height: 100%">
                    <div class="mrItem_sty">
                        <ul>
                            <li ng-repeat="(key ,val) in param.week.weekData">{{key}}</li>
                        </ul>
                    </div>
                    <div ng-repeat="(key ,val) in param.week.weekData" class="infoitem_sty">
                        <ul>
                            <li ng-repeat="item in val" data-ccccc="{{item}}">
                                <div style="position:relative;height:100%">
                                    <p class="ovInfo" ng-repeat="item1 in item.info" ng-class="{'pinkC':item1.status == 0 || item1.status == 1,'blueC':item1.status == 2 || item1.status == 5,'grayC':item1.status == 3 || item1.status == 4 || item1.status ==6}" >
                                        <span class="info_sty ml5">{{item1.sysUserName}}</span>
                                        <span class="info_sty">{{item1.shopProjectName}}</span>
                                        <span class="info_sty">{{item1.appointStartTime |date: "HH:mm"}}</span>
                                    </p>
                                    <p ng-if ="item.info.length > 3" class="morapp ml5" style="position: absolute;bottom: 0px">还有1个预约...</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="height:100%;width:100%;position: absolute;left:0;top:0;background: rgba(0, 0, 0, 0.4);z-index: 1000" ng-show="param.bgBlack"></div>
<!--预约详情-->
<script type="text/ng-template" id="detailsWrap">
    <div class="detailsWrap br36 bgfff ">
        <div class="header btlr btrr">
            <p>预约详情</p>
            <span class="close"><img src="images/bt_shut%20down.png" ng-click = "close()"></span>
        </div>
        <div ng-include="'itemList/appointment/detailsReservation.html'"></div>
    </div>
</script>
<!--修改预约-->
<script type="text/ng-template" id="modifyingAppointment">
    <div class=" br36 modifyingAppointment">
        <div class="space-between h104 bgeee btrr btlr">
            <p class="W33">
                <span class="ml30 colff6666 fs38 bold" ng-click="close(0)">取消</span>
            </p>
            <p class="center fs38 color333 W33 bold">
                {{param.newChangeContent}}
            </p>
            <p class="scheduling W33">
                <span class="floatR mr30 fs38 colff6666 bold" ng-click="close(1)">保存</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/modifyingAppointment.html'" class="modifyingWrap bblr bbrr"></div>
    </div>
</script>
<!--选择顾客-->
<script type="text/ng-template" id="selectCustomersWrap">
    <div class="br36 bgf5f5f5 b w758 addWraps">
        <div class="customerTop  btrr btlr">
            <ul class="space-between btrr btlr">
                <li class="pl W33 "><img src="images/bt_back.png" class="backPic mr20" ng-click="close(0)"><span class="color6666">{{param.newChangeContent}}</span> </li><!--标注-->
                <li class="fc W33 center">选择顾客</li>
                <li class="people pr pt W33"><img src="images/bt_add to.png" alt="" class="floatR ml30" ng-click="addCustomersCtrl()"></li>
            </ul>
        </div>
        <div ng-include="'itemList/appointment/selectCustomers.html'" class=" bblr bbrr"></div>
    </div>
</script>
<!--修改预约-添加客户-->
<script type="text/ng-template" id="addCustomers">
    <div class="br36 bgf5f5f5 b w758 addWraps">
        <div class="headers btrr btlr">
            <ul>
                <li class="checks" ng-click="close(0)"><span class="ml30">取消</span></li>
                <li class="addCustomer center">添加顾客</li>
                <li class="checks" ng-click="close(1)"><span ng-click="addSaveUserInfo()" class="mr30 floatR">保存</span></li>
            </ul>
        </div>
        <div ng-include="'itemList/appointment/addCustomers.html'" class="modifyingWrap bblr bbrr"></div>
    </div>
</script>
<!--修改预约 - 选择项目-->
<script type="text/ng-template" id="newProduct">
    <div class="br36 bgf5f5f5 b w758 addWraps">
        <div class="btlr btrr bgeee space-between h104">
            <p class="fs34 colff6666 W33"> <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close(0)">修改预约</p>
            <p class="fs38 col333 center W33 bold">选择项目</p>
            <p class="W33"><span class="floatR mr30 fs34 colff6666" ng-click="close(1)">完成</span></p>
        </div>
        <div ng-include="'itemList/appointment/newProject.html'" class="modifyingWrap bblr bbrr"></div>
    </div>
</script>
<!--修改预约--选择时长-->
<script type="text/ng-template" id="timeLength">
    <div class="br36 w758 bgf5f5f5 addWraps">
        <div class="space-between h104  btlr btrr bgeee">
            <P class="W33">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close(0)">
                <span class="colff6666 fs34">{{param.newChangeContent}}</span>
            </P>
            <P class="fs38 color333 center W33 bold">选择时长</P>
            <P class="W33"></P>
        </div>
        <div ng-include="'itemList/appointment/timeLength.html'" class="modifyingWrap bblr bbrr"></div>
    </div>
</script>
<!--修改预约--选择美容师-->
<script type="text/ng-template" id="selectBeautician">
    <div class="br36 w758 bgf5f5f5 selectBeautician addWraps">
        <div class="space-between h104  btlr btrr bgeee">
            <P class="W33">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close(0)">
                <span class="colff6666 fs34">{{param.newChangeContent}}</span>
            </P>
            <P class="fs38 color333 center W33 bold">选择美容师</P>
            <P class="W33"></P>
        </div>
        <div class="bgfff modifyingWrap bblr bbrr">
            <ul>
                <li class="h100 col333 fs32  bte5 space-between bgfff" ng-repeat="item in param.timeLength" ng-click="selectbeauticianIndex($index,item.name,item.id)">
                    <span class="ml30"> {{item.name}}</span>
                    <img src="images/redTrue.png" class="redTrue mr30" ng-show="param.beauticianIndex==$index">
                </li>
            </ul>
        </div>
    </div>
</script>
<!--散客详情-->
<script type="text/ng-template" id="individual">
    <div class="individual w885 br36 b">
        <div class="space-between h104 bgeee btrr btlr">
            <p class="W33">
            </p>
            <p class="center fs38 color333 W33 bold">
                预约详情
            </p>
            <p class="scheduling W33">
                <span class="floatR mr30"><img src="images/bt_shut down.png." class="closePic mt20" ng-click="close()"></span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/individualTravelerAppointment.html'" class=" bblr bbrr"></div>
    </div>
</script>
<!--消费-消费-->
<script type="text/ng-template" id="consumption">
    <div class="consumption w1344  bgf5f5f5 br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel ">
                <span class="marginLeft20" ng-click="close()">取消</span>
            </p>
            <p class="centerBtn ">
                消费
            </p>
            <p class="scheduling ">
            </p>
        </div>
        <div ng-include="'itemList/appointment/consumption.html'" class="h1465"></div>
    </div>
</script>
<!--消费-选择单次-->
<script type="text/ng-template" id="selectSingle">
    <div class=" bgf5f5f5 w1344  selectContent br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel ">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="centerBtn ">
                选择单次
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">完成</span>
            </p>
        </div>
        <div class="h1465">
            <div ng-include="'itemList/appointment/search.html'"></div>
            <div ng-include="'itemList/appointment/selectSingle.html'"></div>
        </div>
    </div>
</script>
<!--消费-选择疗程卡-->
<script type="text/ng-template" id="selectTreatmentCard">
    <div class=" bgf5f5f5 w1344  selectContent br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="centerBtn ">
                选择疗程卡
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">完成</span>
            </p>
        </div>
        <div class="h1465">
            <div ng-include="'itemList/appointment/search.html'"></div>
            <div ng-include="'itemList/appointment/selectTreatmentCard.html'"></div>
        </div>
    </div>
</script>
<!--消费-选择产品-->
<script type="text/ng-template" id="selectProduct">
    <div class=" bgf5f5f5 w1344  selectContent br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="centerBtn ">
                选择产品
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">完成</span>
            </p>
        </div>
        <div class="h1465">
            <div ng-include="'itemList/appointment/search.html'"></div>
            <div ng-include="'itemList/appointment/selectProduct.html'"></div>
        </div>
    </div>
</script>
<!--消费-选择套卡-->
<script type="text/ng-template" id="collectionCard">
    <div class=" bgf5f5f5 w1344  selectContent  br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="centerBtn ">
                选择套卡
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">完成</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/collectionCard.html'" class="h1465"></div>
    </div>
</script>
<!--余额充值-->
<script type="text/ng-template" id="balancePrepaid">
    <div class="btrr btlr bgf5f5f5 payType w1344 br36">
        <div class="space-between fs34 h104 colfff bgff6666 btrr btlr">
            <p class="W33 colfff ">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close()">
                <span>消费</span>
            </p>
            <p class="W33 center ">
            </p>
            <p class="W33 ">
            </p>
        </div>
        <div ng-include="'itemList/appointment/balancePrepaid.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--关联员工-->
<script type="text/ng-template" id="relatedStaff">
    <div class="scratchCard w1344 bgf5f5f5 br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel ">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="centerBtn">
                关联员工
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)" ng-click="finsh()">完成</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/relatedStaff.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--选择赠送-->
<script type="text/ng-template" id="giving">
    <div class="givingArea w1344  collectionCard bgf5f5f5 br36">
        <div class="PopupwindowTitle colorWhite bgff6666 ">
            <p class="cancel ">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>取消</span>
            </p>
            <p class="centerBtn ">
                选择赠送
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">确认</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/giving.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--消费-消费-下一步（记录支付）-->
<script type="text/ng-template" id="consumptionNextStep">
    <div class="btrr btlr bgf5f5f5 payType w1344 br36">
        <div class="space-between fs34 h104 colfff bgff6666 btrr btlr">
            <p class="W33 colfff ">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close(0)">
                <span>消费</span>
            </p>
            <p class="W33 center ">
                消费
            </p>
            <p class="W33 ">
            </p>
        </div>
        <div ng-include="'itemList/appointment/payType.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--优惠券-->
<script type="text/ng-template" id="selectCoupons">
    <div class="btrr btlr bgf5f5f5 payType w1344 br36">
        <div class="space-between fs34 h104 colfff bgff6666 btrr btlr">
            <p class="W33 colfff ">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close()">
                <span>消费</span>
            </p>
            <p class="W33 center ">
                优惠券
            </p>
            <p class="W33 ">
            </p>
        </div>
        <div ng-include="'itemList/appointment/selectCoupons.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--选择银行卡-->
<script type="text/ng-template" id="bank">
    <div class="btrr btlr bgf5f5f5 payType w1344 br36">
        <div class="space-between fs34 h104 colfff bgff6666 btrr btlr">
            <p class="W33 colfff ">
                <img src="images/bt_back.png" class="ml30 mr10 backPic" ng-click="close()">
                <span>消费</span>
            </p>
            <p class="W33 center ">
                银行卡
            </p>
            <p class="W33 ">
            </p>
        </div>
        <div class=" h1465 bblr bbrr">
            <ul class="bgfff">
                <li class="space-between h100 bte5" ng-repeat="item in [1,2,3]">
                    <p class="fs34 col333">
                        <img src="images/bt_Single election_nor_.png" class="norPic ml30 mr20"> 中国工商银行
                    </p>
                    <p class="col888 fs30 mr30">手续费：3.77元</p>
                </li>
            </ul>
        </div>
    </div>
</script>
<!--划卡-->
<script type="text/ng-template" id="scratchCard">
    <div class="scratchCard  w1344 bgf5f5f5 br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel ">
                <span class="marginLeft20" ng-click="close(0)">取消</span>
            </p>
            <p class="centerBtn ">
                划卡
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">添加更多</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/scratchCard.html'" class="h1465 bblr bbrr"></div>
    </div>
</script>
<!--划卡 选择疗程卡-->
<script type="text/ng-template" id="scratchCardSelectTreatmentCard">
    <div class="trueScratchCard w1344 bgf5f5f5 br36">
        <div class="PopupwindowTitle colorWhite bgff6666">
            <p class="cancel">
                <img src="images/bt_back.png" ng-click="close(0)">
                <span>划卡</span>
            </p>
            <p class="centerBtn ">
                选择疗程卡
            </p>
            <p class="scheduling ">
                <span class="true" ng-click="close(1)">完成</span>
            </p>
        </div>
        <div ng-include="'itemList/appointment/CtreatmentCard.html'" class="h1012 bblr bbrr"></div>
    </div>
</script>
<!--日预约--新建预约-->
<script type="text/ng-template" id="appointmentType">
    <div class="appointmentType btrr btlr  br36 detailsWrap w780">
        <div class="space-between h104 bgf5f5f5  btrr btlr">
            <p class="W33 fs34 ml30  colff6666 bold" ng-click="close()">取消</p>
            <p class="W33 center fs38 col333 bold">预约列表</p>
            <p class="W33"></p>
        </div>
        <div ng-include="'itemList/appointment/appointmentType.html'" class=" bblr bbrr"></div>
    </div>
</script>
<!--周预约--预约列表-->
<script type="text/ng-template" id="appointmentLis">
    <div class="trueAppointment appointmentLisArea">
        <div class="PopupwindowTitle bgeeeeee">
            <p>
            </p>
            <p class="centerBtn color333333 bold">
                预约列表
            </p>
            <p class="scheduling">
                <img src="images/bt_shut%20down.png" ng-click="close()">
            </p>
        </div>
        <div ng-include="'itemList/appointment/appointmentLis.html'" class=" bblr bbrr"></div>
    </div>
</script>