<div class="modifyingWrap">
    <!--顾客 项目 时长-->
    <div class="customerBox">
        <ul>
            <li><span class="boxLift">顾客</span><a class="boxRight">安迪<img src="images/bt_more.png" class="morePic ml20" ng-click="selectCustomersCtrl($event)"></a></li>
            <li><span class="boxLift">项目</span><a class="boxRight">韩国美白护肤<img src="images/bt_more.png" class="morePic ml20" ng-click="selectProduct($event)"></a></li>
            <li><span class="boxLift">时长</span><a class="boxRight">{{param.timeLengthObject.time}}<img src="images/bt_more.png" class="morePic ml20" ng-click="selectTimeLength($event)"></a></li>
        </ul>
    </div>
    <!--美容师 时间-->
    <div class="cosmetology">
        <p><span class="boxLift">美容师</span><a class="boxRight">美如<img src="images/bt_more.png" class="morePic ml20" ng-click="selectBeautician($event)"></a></span></p>
        <div class="cosmetologyMinute">
            <!--日期-->
            <ul class="dayList">

                <li ng-repeat = "item in param.dayTime" ng-click = "selectDayTime($index)" ng-class="{'bgff6666':index==$index}"><!--{{($index == 0?"明天":item|date:'MM/dd')||($index == 1?"后天":item|date:'MM/dd')}}-->
                    <span ng-if="$index==1">后天</span>
                    <span ng-if="$index==0">明天</span>
                    <span ng-if="$index!=1&&$index!=0">{{item|date:'MM/dd'}}</span>
                </li>
            </ul>
              <!--时间-->
            <ul class="minuteList">
                <li ng-repeat = "item in param.time" ng-click = "selectTime($index,param.selectedTime[$index])" ng-class="{'bgff9b9b':param.selectedTime[$index]=='2','bgf5f5f5':param.selectedTime[$index]=='1'}"  >{{ $index ==param.time.length-1?"":item}}</li>
                <!--ng-class="{'bgf5f5f5':param.selectedTime[$index]=='1'}"-->
                <!---->
            </ul>
        </div>
    </div>
    <!--备注-->
    <div class="remarksBox">
       <div class="remarks">备注</div>
        <div class="contentBox">
            <textarea  class="remarksContent" ></textarea>
        </div>
    </div>
    <!--取消预约的按钮部分-->
     <div class="cancelBox pb30">
         <button class="btnCancel">取消预约</button>
     </div>
</div>

