    <div class="">
        <div class="btnArea bgfff">
          <div class="btnLis fs32">
             <button class="btlr8 bblr8" ng-click="newProductBtn(0)" ng-class="{'btnActive':param.newProductObject.index==0}">顾客疗程卡</button>
             <button class="ml-6  btrr8 bbrr8 " ng-click="newProductBtn(1)" ng-class="{'btnActive':param.newProductObject.index==1}">本店项目</button>
          </div>
      </div>
        <div class="searchArea">
         <div class="search">
             <span class="ser_ion"></span>
             <input type="search" placeholder="可用项目名字搜索" class="br8 fs30">
         </div>
     </div>
        <div>
            <div >
                <p class="fs34 color333 h70 bgeee pl30" ng-show="param.newProductObject.titleFlag">面部</p>
                <ul class="bgfff">
                    <li class="h100 space-between bte5">
                        <P><img src="images/bt_Single%20election_select.png" class="singleSelsectPic ml30 mr20">
                            <span class="fs30 color333">安娜</span>
                        </P>
                        <P><span class="colff6666 fs28 mr30">剩余3次</span></P>
                    </li>
                    <li class="h100 space-between bte5">
                        <P><img src="images/bt_Single%20election_select.png" class="singleSelsectPic ml30 mr20">
                            <span class="fs30 color333">安娜</span>
                        </P>
                        <P><span class="colff6666 fs28 mr30">剩余3次</span></P>
                    </li>
                    <li class="h100 space-between bte5">
                        <P><img src="images/bt_Single%20election_select.png" class="singleSelsectPic ml30 mr20">
                            <span class="fs30 color333">安娜</span>
                        </P>
                        <P><span class="colff6666 fs28 mr30">剩余3次</span></P>
                    </li>
                </ul>
            </div>
        </div>
    </div>
