.selectWrap{width: 10.53rem;height: 11.453rem;margin: auto;background: #f5f5f5;border-radius: 0.125rem}
.selectHeader{height: 0.812rem;width: 10.53rem;background: #ff6666}
.selectLift{float: left;width: 4.96rem;height: 10.64rem;}

.selectLift .searchBox{width: 4.96rem;height: 0.6875rem;background: #e5e5e5;line-height: 0.6875rem}
.selectLift .searchBox input{width: 3.96rem;height: 0.53rem;margin-left: 0.156rem;padding-left:0.156rem;font-size: 0.218rem;border-radius: 0.125rem}
selectLift .search{margin-left: 0.156rem;font-size: 0.234rem;color: #666666}
