
.selectTreatmentCard .wz{color: #ff6666;font-size:0.1875rem  ; height:0.46875rem ; border-bottom: 1px solid #e5e5e5;line-height:0.46875rem;padding-left:5.194rem;}
.selectTreatmentCard .singleSelsectPic, .norPic { width: 0.26563rem; height: 0.26563rem; vertical-align: middle; margin-top: -5px; }
.selectTreatmentCard .height120 li { height: 0.9375rem; border-bottom: solid 1px #e5e5e5; display: flex; justify-content: space-between; }
.selectTreatmentCard .height120 li div { width: 50%; vertical-align: middle; padding-top: 2px; }
.selectTreatmentCard .height120 li img { margin: 0 0.1875rem 0 0.15625rem; width: 0.26563rem; height: 0.26563rem;margin-top: 8px;  vertical-align: middle;}
.selectTreatmentCard .height120 li .detail { display: inline-block; margin-top: 0.09375rem; }
.selectTreatmentCard .height120 li .money { height: 0.9375rem;line-height: 0.635rem; }
.selectTreatmentCard .height120 li .money div { float: right; margin-right: 0.2439rem; width: 0.8125rem; margin-top: 0.09375rem; }
.selectTreatmentCard .height120 li .money div del { float: right; }

.selectTreatmentCard .height100Num { background: #ffffff; }
.selectTreatmentCard .height100Num li { height: 0.77344rem; line-height: 0.78125rem; border-bottom: solid 1px #e5e5e5; }
.selectTreatmentCard .height100Num li .reduction, .height100Num li .addBtn { width: 0.35938rem; height: 0.42188rem; border: solid 1px #cccccc; padding: 0; }
.selectTreatmentCard .height100Num li .reduction { border-bottom-left-radius: 0.01563rem; border-top-left-radius: 0.01563rem; }
.selectTreatmentCard .selectTreatmentCard .height100Num li .addBtn { border-bottom-right-radius: 0.01563rem; border-top-right-radius: 0.01563rem; margin-left: -7px; border-left: none; }
.selectTreatmentCard .height100Num li input { width: 0.54688rem; border: solid 1px #cccccc; margin-left: -5px; border-left: none; text-align: center; }

