<div class="customerDown">
  <div class="customerSearch">
      <span class="ser_ion"></span>
      <input type="text" placeholder="名字/手机号" class="fs30 col999" ng-model="param.selectCustomersObject.queryField" ng-change="searchCustomer()">
      <ul class="customer bblr bbrr">
          <li  ng-repeat="item in param.selectCustomersObject.data" class=" fs34 col333"  ng-class="{'bg':$index==param.ModifyAppointmentObject.customerIndex}" >
              <div  ng-repeat="(key,val) in item" >
                  <p class="searchNameTitle bgeeeeee">{{key}}</p>
                  <p class="searchName" ng-repeat="items in val" ng-click="selectTheCustomer($index,items.sysUserName,items.sysUserId,items.phone)">{{items.sysUserName}}</p>
              </div>
          </li>
      </ul>
  </div>
</div>
