button { background: border-box; outline: none; border: none; }

textarea { border: none; }

img, a { display: inline-block; }

.colorWhite { color: #ffffff; }

.color333 { color: #333333; }

.color999 { color: #999999; }

.FS24 { font-size: 0.1875rem; }

.color333FS26 { color: #333333; font-size: 0.20313rem; }

.color333FS30 { color: #333333; font-size: 0.23438rem; }

.color333FS34 { color: #333333; font-size: 0.26563rem; }

.color333FS38 { color: #333333; font-size: 0.29688rem; }

.color666FS30 { color: #333333; font-size: 0.23438rem; }

.color999FS24 { color: #999999; font-size: 0.1875rem; }

.color999FS26 { color: #999999; font-size: 0.20313rem; }

.color999FS32 { color: #999999; font-size: 0.25rem; }

.colorFF6666FS34 { color: #ff6666; font-size: 0.26563rem; }

.colorFF6666FS38 { color: #ff6666; font-size: 0.29688rem; }

.bgeeeeee { background: #eeeeee; }

.bgff6666 { background: #ff6666; }

.bgfff { background: #ffffff; }

.btnActive { background: #ff6666; color: #ffffff; border: none !important; }

.marginLeft75 { margin-left: 0.58594rem; }

.marginLeft30 { margin-left: 0.23438rem; }

.marginLeft20 { margin-left: 0.15625rem; }

.marginLeft16 { margin-left: 0.125rem; }

.paddingLeft30 { padding-left: 0.23438rem; }

.paddingLeft50 { padding-left: 0.39063rem; }

.PopupwindowTitle { display: flex; justify-content: space-between; height: 0.83871rem; line-height: 0.83871rem; border-top-left-radius: 0.29032rem; border-top-right-radius: 0.29032rem; }
.PopupwindowTitle p { width: 33.3%; }
.PopupwindowTitle .cancel { font-size: 0.27419rem; }
.PopupwindowTitle .cancel img { height: 0.28226rem; width: 0.15323rem; margin-left: 0.24194rem; margin-right: 0.16129rem; vertical-align: middle; }
.PopupwindowTitle .centerBtn { text-align: center; font-size: 0.30645rem; }
.PopupwindowTitle .scheduling { font-size: 0.27419rem; }
.PopupwindowTitle .scheduling img { width: 0.33871rem; float: right; margin-top: 0.25rem; margin-right: 30px; }
.PopupwindowTitle .scheduling .true { float: right; margin-right: 0.24194rem; }

.height120 li { height: 0.9375rem; border-bottom: solid 1px #e5e5e5; display: flex; justify-content: space-between; }
.height120 li div { width: 50%; vertical-align: middle; padding-top: 1px; }
.height120 li img { margin: 0 0.1875rem 0 0.15625rem; width: 0.26563rem; height: 0.26563rem; margin-top: 0.125rem; }
.height120 li .detail { display: inline-block; margin-top: 0.09375rem; }
.height120 li .money { height: 0.9375rem; }
.height120 li .money div { float: right; margin-right: 0.2439rem; width: 0.8125rem; margin-top: 0.09375rem; }
.height120 li .money div del { float: right; }

.height100Num { background: #ffffff; }
.height100Num li { height: 0.77344rem; line-height: 0.78125rem; border-bottom: solid 1px #e5e5e5; }
.height100Num li .reduction, .height100Num li .addBtn { width: 0.35938rem; height: 0.42188rem; border: solid 1px #cccccc; padding: 0; }
.height100Num li .reduction { border-bottom-left-radius: 0.01563rem; border-top-left-radius: 0.01563rem; }
.height100Num li .addBtn { border-bottom-right-radius: 0.01563rem; border-top-right-radius: 0.01563rem; margin-left: -7px; border-left: none; }
.height100Num li input { width: 0.54688rem; border: solid 1px #cccccc; margin-left: -5px; border-left: none; text-align: center; }

.nextStepBtn { width: 3.125rem; height: 0.71875rem; border-radius: 0.125rem; margin-right: 0.46875rem; background: #ff6666; color: #ffffff; font-size: 0.28125rem; margin-top: 0.23438rem; }

.width1348 { width: 10.87097rem; height: 11.81452rem; border-radius: 0.28125rem; background: #f5f5f5; }

.width1348H1012 { width: 10.87097rem; height: 8.16129rem; border-radius: 0.28125rem; background: #f5f5f5; }

.morePic { width: 0.11719rem; height: 0.21094rem; }

.downPic { width: 0.19531rem; height: 0.19531rem; }

.singleSelsectPic, .norPic { width: 0.26563rem; height: 0.26563rem; vertical-align: middle; margin-top: -5px; }

.productMess { background: #eeeeee; }
.productMess .waterGuangZhen { padding-top: 0.15625rem; padding-bottom: 0.15625rem; }
.productMess .waterGuangZhen .cha { margin-right: 0.46875rem; }
.productMess .money .num { margin-right: 0.15625rem; }
.productMess .discountNum { margin-top: 0.11719rem; padding-bottom: 0.15625rem; }
.productMess .discountNum input { width: 1.01563rem; margin-left: 0.15625rem; height: 0.42188rem; text-align: center; }

.w66h32 { display: inline-block; width: 0.51563rem; height: 0.25rem; line-height: 0.25rem; text-align: center; border-radius: 0.04688rem; }

.center { text-align: center; }

.space-between { display: flex; justify-content: space-between; }
.space-between .W33 { width: 33.3%; }
.space-between .left, .space-between .right { width: 50%; }
.space-between .leftContent { margin-left: 0.23438rem; }
.space-between .rightContent { float: right; margin-right: 0.23438rem; }

.rightMgain60 { float: right; margn-right: 0.46875rem; }

.selTrue { width: 0.26563rem; height: 0.26563rem; vertical-align: middle; margin-top: -4px; }

.LisH100 li { height: 0.78125rem; line-height: 0.78125rem; }

.giving .content { background: #ffffff; padding-top: 0.15625rem; }
.giving .content .btns { width: 9.98438rem; margin: 0 auto; border-radius: 0.0625rem; border: solid 1px #ff6666; box-sizing: border-box; }
.giving .content .btns button { box-sizing: border-box; width: 3.32292rem; border-right: solid 1px #ff6666; height: 0.60938rem; padding: 0px; font-size: 0.25rem; color: #ff6666; }
.giving .content .btns .btnActive { background: #ff6666; color: #ffffff; }
.giving .content .btns .project { border-bottom-left-radius: 0.0625rem; border-top-left-radius: 0.0625rem; }
.giving .content .btns .product { margin-left: -5px; }
.giving .content .btns .coupons { border-bottom-right-radius: 0.0625rem; border-top-right-radius: 0.0625rem; border: none; margin-left: -4px; }
.giving .content .messLis { padding-top: 0.15625rem; }
.giving .content .messLis li { height: 0.78125rem; line-height: 0.78125rem; border-bottom: solid 1px #e5e5e5; font-size: 0.25rem; padding-left: 0.23438rem; color: #333333; }
.giving .content .messLis li input { margin-left: 0.40625rem; background: border-box; }
.giving .content .messLis li .projectStamps { margin-left: 0.54688rem; padding: 0.125rem 0.15625rem; border-radius: 0.03906rem; border: solid 1px #999999; }
.giving .content .messLis li .vouchers { border-radius: 0.03906rem; margin-left: 0.45313rem; padding: 0.125rem 0.15625rem; border: solid 1px #999999; }
.giving .content .messLis li .timeMore { display: flex; justify-content: space-between; }
.giving .content .messLis li .timeMore img { margin-right: 0.23438rem; width: 0.11719rem; height: 0.21094rem; }

.trueAppointment { width: 6.9375rem; height: 8.67188rem; border: solid 1px #e5e5e5; margin-left: 2.34375rem; border-radius: 0.28125rem; background: #f5f5f5; /*position: fixed;
left:50%;
top:50%;
margin-top:px2rem(888/2);
margin-left:px2rem(1110/2);*/ }
.trueAppointment .LisMess ul li { display: flex; justify-content: space-between; height: 0.78125rem; line-height: 0.78125rem; background: #ffffff; border-bottom: solid 1px #e5e5e5; }
.trueAppointment .LisMess ul li img { display: inline-block; margin-left: 0.23438rem; }
.trueAppointment .LisMess ul li .name { margin-left: 0.15625rem; font-size: 0.25rem; }
.trueAppointment .LisMess ul li .time { float: right; margin-right: 0.23438rem; font-size: 0.1875rem; color: #888888; }
.trueAppointment .LisMess ul li p { width: 50%; }

.collectionCard .content .searchBox { height: 0.67188rem; line-height: 0.67188rem; background: #e5e5e5; }
.collectionCard .content .searchBox input[type='search'] { width: 9.57813rem; height: 0.48438rem; text-align: center; margin-left: 0.15625rem; font-size: 0.21875rem; color: #aaaaaa; border-radius: 0.0625rem; }
.collectionCard .content .searchBox button { font-size: 0.23438rem; color: #666666; width: 0.98438rem; text-align: center; }
.collectionCard .content .cardLis { background: #ffffff; }

.consumption .btnsLisArea { height: 1.46875rem; background: #ffffff; }
.consumption .btnsLisArea .btnLis { width: 6.03125rem; margin: 0 auto; }
.consumption .btnsLisArea .btnLis ul { display: flex; }
.consumption .btnsLisArea .btnLis ul li { width: 25%; text-align: center; }
.consumption .btnsLisArea .btnLis ul li img { margin-top: 0.1875rem; width: 0.6875rem; height: 0.6875rem; }
.consumption .btnsLisArea .btnLis ul li a { display: block; margin-top: 0.11719rem; }
.consumption .content .discount { margin-top: 0.15625rem; padding-left: 0.23438rem; background: #ffffff; }
.consumption .content .discount .type { padding-top: 0.15625rem; }
.consumption .content .discount .type p { margin-bottom: 0.11719rem; }
.consumption .content .discount .top-up { height: 1.09375rem; line-height: 1.09375rem; }
.consumption .content .discount .top-up img { margin-left: 0.15625rem; }
.consumption .content .single { padding-left: 0.21875rem; height: 0.625rem; line-height: 0.625rem; }
.consumption .content .single img { width: 0.05469rem; height: 0.21875rem; margin-right: 0.09375rem; }
.consumption .content .giving { height: 0.78125rem; line-height: 0.78125rem; background: #ffffff; margin-top: 0.15625rem; }
.consumption .nextStep { padding-top: 0.625rem; }
.consumption .nextStep div { float: right; }
.consumption .nextStep div .allMoney { margin-left: 0.9375rem; }

.scratchCard .note { margin-top: 0.15625rem; padding: 0.23438rem 0 0 0.23438rem; background: #ffffff; height: 3.78125rem; }
.scratchCard .note label { vertical-align: top; width: 6%; }
.scratchCard .note textarea { width: 90%; height: 2.1875rem; }
