
.weekHeader{width: 100%;height: 1.07rem;;line-height: 1.07rem;position: absolute}
.weekHeader ul{list-style: none;text-align: center;margin-left:1.23rem;}
.weekHeader ul li{float: left;width: 2.4rem;font-size: 0.24rem;color: #333333}

.weekLeft{width: 1.23rem;;float: left}
.weekLeft ul{list-style: none;text-align: center}
.weekLeft ul li{height: 1.53rem;}
.weekLeft ul li div{margin-top:0.3rem;}
.weekLeftNumber{font-size: 0.26rem}
.weekLeft ul li{font-size:0.17rem;color: #888888}
.weekWrap .content{width:100%;}
.weekWrap .foot{height:0.965rem;}
.weekRight{width: 2.4rem;}
#hNavLeft{height: 1.23rem;}
.weekRight ul li{height: 1.53rem;border: 1px solid #e5e5e5;padding: 0.2rem;box-sizing: border-box}
.weekRight ul li .makeHave{font-size: 0.18rem;color: #999999}
.weekRight ul li p{font-size: 0.17rem;color: #666666}
