<div class="weekWrap H100">
     <div class="weekHeader">
         <ul>
             <li  ng-repeat="(key ,val) in param.week.weekData" >
                 {{key}}
             </li>
         </ul>
     </div>
    <div class="content " style="height:93%;">
        <div class="weekLeft">
            <ul>
                <li  ng-repeat="item in param.week" >
                    <div>
                        <p class="weekLeftNumber">{{item}}<br>
                            <!--<span>周五</span><span>初五</span></p>-->
                    </div>
                </li>

            </ul>
        </div>

        <div class="weekRight " ng-repeat="(key ,val) in param.week.weekData">
            <ul>
                <li  ng-repeat="item in val" ng-click="weekLis(item)">
                    <div>
                        <p ng-repeat="item1 in item.info"><span>{{item1.sysUserName}}</span>&nbsp;<span>{{item1.shopProjectName}}</span><span class="ml30">11:00</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   <div class="foot"></div>

</div>