<div class="weekWrap">
     <div class="weekHeader">
         <ul>
             <li  ng-repeat="item in [1,2,3,4,5,6,7]" >
                 李茹
             </li>
         </ul>
     </div>
    <div class="content">
        <div class="weekLeft">
            <ul>
                <li  ng-repeat="item in param.week" >
                    <div>
                        <p class="weekLeftNumber">{{item}}<br>
                            <!--<span>周五</span><span>初五</span></p>-->
                    </div>
                </li>
            </ul>
        </div>

        <div class="weekRight" ng-repeat="items in [1,2,3,4,5,6]">
            <ul>
                <li  ng-repeat="item in [1,2,3,4,5,6,7]" ng-click="weekLis(item)">
                    <div>
                        <p><span>美茹</span>&nbsp;<span>美白补水</span>&nbsp;<span>11:00</span></p>
                        <p><span>美茹</span>&nbsp;<span>美白补水</span>&nbsp;<span>11:00</span></p>
                        <p><span>美茹</span>&nbsp;<span>美白补水</span>&nbsp;<span>11:00</span></p>
                        <p class="makeHave">还有一个预约...</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
   <div class="foot"></div>

</div>