<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wisdom.beauty.core.mapper.ExtShopProjectProductCardRelationMapper" >
    <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopProjectProductCardRelationDTO">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="shop_recharge_card_id" property="shopRechargeCardId" jdbcType="VARCHAR" />
        <result column="shop_product_id" property="shopProductId" jdbcType="VARCHAR" />
        <result column="sys_shop_project_id" property="sysShopProjectId" jdbcType="VARCHAR" />
        <result column="use_style" property="useStyle" jdbcType="CHAR" />
        <result column="discount" property="discount" jdbcType="REAL" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Example_Where_Clause" >
        <where >
            <foreach collection="oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause" >
        <where >
            <foreach collection="example.oredCriteria" item="criteria" separator="or" >
                <if test="criteria.valid" >
                    <trim prefix="(" suffix=")" prefixOverrides="and" >
                        <foreach collection="criteria.criteria" item="criterion" >
                            <choose >
                                <when test="criterion.noValue" >
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue" >
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue" >
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue" >
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List" >
        id, shop_recharge_card_id, shop_product_id, sys_shop_project_id, use_style, discount,
        create_by, create_date, update_user, update_date
    </sql>
    <select id="selectdiscountInfoByCriteria"
            parameterType="com.wisdom.beauty.api.dto.ShopProjectProductCardRelationCriteria"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from shop_project_product_card_relation
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        GROUP BY use_style
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="limitStart &gt;= 0">
            limit ${limitStart},${pageSize}
        </if>
    </select>
</mapper>