<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.beauty.core.mapper.ExtShopAppointServiceMapper">
    <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopAppointServiceDTO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="shop_project_id" property="shopProjectId" jdbcType="VARCHAR"/>
        <result column="shop_project_name" property="shopProjectName" jdbcType="VARCHAR"/>
        <result column="sys_shop_id" property="sysShopId" jdbcType="VARCHAR"/>
        <result column="sys_shop_name" property="sysShopName" jdbcType="VARCHAR"/>
        <result column="sys_clerk_id" property="sysClerkId" jdbcType="VARCHAR"/>
        <result column="sys_clerk_name" property="sysClerkName" jdbcType="VARCHAR"/>
        <result column="sys_boss_id" property="sysBossId" jdbcType="VARCHAR"/>
        <result column="appoint_start_time" property="appointStartTime" jdbcType="TIMESTAMP"/>
        <result column="appoint_end_time" property="appointEndTime" jdbcType="TIMESTAMP"/>
        <result column="appoint_period" property="appointPeriod" jdbcType="INTEGER"/>
        <result column="sys_user_id" property="sysUserId" jdbcType="VARCHAR"/>
        <result column="sys_user_name" property="sysUserName" jdbcType="VARCHAR"/>
        <result column="sys_user_phone" property="sysUserPhone" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, shop_project_id, shop_project_name, sys_shop_id, sys_shop_name, sys_clerk_id,
        sys_clerk_name, sys_boss_id, appoint_start_time, appoint_end_time, appoint_period,
        sys_user_id, sys_user_name, sys_user_phone, status, detail, create_by, create_date,
        update_user, update_date
    </sql>

  <select id="selectShopAppointClerkInfoByCriteria"
          parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_appoint_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY sys_clerk_id
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0">
      limit ${limitStart},${pageSize}
    </if>
  </select>

    <!--查询某个美容院某个时间预约个数或某个美容院某个店员某个时间预约个数-->
    <select id="findNumForShopAppointByTime"  parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
            COUNT(1)
        from
            shop_appoint_service shop
        where
            shop.sys_shop_id = #{sysShopId}
            and shop.appoint_start_time BETWEEN #{appointStartTimeS}  and #{appointStartTimeE}
            <if test="sysClerkId!=null and sysClerkId!=''">
               and shop.sys_clerk_id = #{sysClerkId}
            </if>
    </select>

    <!--查询美容院下某个店员某个时间预约用户详情列表-->
    <select id="findUserInfoForShopAppointByTime"  resultType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO">
        select
        shop.sys_user_id,
        shop.sys_user_name,
        shop.sys_user_phone
        from
        shop_appoint_service shop
        where
        shop.sys_shop_id = #{requestData.sysShopId}
        and shop.appoint_start_time BETWEEN #{requestData.appointStartTimeS}  and #{requestData.appointStartTimeE}
        and shop.sys_clerk_id = #{requestData.sysClerkId}
        ORDER BY shop.create_date
        limit #{pageStartNo},#{pageSize}
    </select>

</mapper>