<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wisdom.beauty.core.mapper.ExtShopAppointServiceMapper">
  <resultMap id="BaseResultMap" type="com.wisdom.beauty.api.dto.ShopAppointServiceDTO">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="shop_project_id" jdbcType="VARCHAR" property="shopProjectId" />
    <result column="shop_project_name" jdbcType="VARCHAR" property="shopProjectName" />
    <result column="sys_shop_id" jdbcType="VARCHAR" property="sysShopId" />
    <result column="sys_shop_name" jdbcType="VARCHAR" property="sysShopName" />
    <result column="sys_clerk_id" jdbcType="VARCHAR" property="sysClerkId" />
    <result column="sys_clerk_name" jdbcType="VARCHAR" property="sysClerkName" />
    <result column="sys_boss_id" jdbcType="VARCHAR" property="sysBossId" />
    <result column="appoint_start_time" jdbcType="TIMESTAMP" property="appointStartTime" />
    <result column="appoint_end_time" jdbcType="TIMESTAMP" property="appointEndTime" />
    <result column="appoint_period" jdbcType="INTEGER" property="appointPeriod" />
    <result column="sys_customer_id" jdbcType="VARCHAR" property="sysCustomerId" />
    <result column="sys_customer_name" jdbcType="VARCHAR" property="sysCustomerName" />
    <result column="sys_customer_phone" jdbcType="VARCHAR" property="sysCustomerPhone" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, shop_project_id, shop_project_name, sys_shop_id, sys_shop_name, sys_clerk_id,
    sys_clerk_name, sys_boss_id, appoint_start_time, appoint_end_time, appoint_period,
    sys_customer_id, sys_customer_name, sys_customer_phone, status, detail, create_by,
    create_date, update_user, update_date
  </sql>

  <select id="selectShopAppointClerkInfoByCriteria"
          parameterType="com.wisdom.beauty.api.dto.ShopAppointServiceDTO"
          resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_appoint_service
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    GROUP BY sys_clerk_id
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart &gt;= 0">
      limit ${limitStart},${pageSize}
    </if>
  </select>

</mapper>