<ion-view>
    <ion-content class="partialFiles">
        <div>
            <div class="h45">
                <p class="fs15 colff66 center" style="border: 1px solid #FF6666;border-radius: 2px;width:95%;margin:5px auto;height:38px;line-height: 38px;">
                    + 通讯录导入
                </p>
            </div>
            <ion-list>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">姓名</span>
                        <span class="fs15 colff66">*</span>
                    </p>
                    <p>
                        <input type="text" placeholder="请输入姓名" class="fs14 col999 mr10" style="text-align: right">
                    </p>
                </ion-item>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">手机号</span>
                        <span class="fs15 colff66">*</span>
                    </p>
                    <p>
                        <input type="text" placeholder="请输入手机号" class="fs14 col999 mr10" style="text-align: right">
                    </p>
                </ion-item>
                <ion-item class="h45 sb">
                    <p>
                        <span class="fs15 col333 ml10">选择门店</span>
                        <span class="fs15 colff66"></span>
                    </p>
                    <p>
                        <span class="fa15 col333">美容院分店</span>
                        <img src="images/inventory/shou.png" class="shouPic mr10">
                    </p>
                </ion-item>
            </ion-list>
            <ul class="list">
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">店长</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">前台</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle h45">
                    <span class="fa15 col333 ml10">美容师</span>
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" checked="checked">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
        </div>
    </ion-content>
</ion-view>