<ion-view>
    <ion-item class="item-input bgfff" style=";height: 40px;">
                <span class="item-input-wrapper" style="margin-right:10px;height:30px;" >
                        <i class="icon ion-ios-search placeholder-icon" ng-click="search()"></i>
                        <input id="search" type="search" placeholder="根据手机号/姓名查询" ng-model="param.searchFile" ng-change="search()">
                        <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                           on-tap="clearSearch()" ng-if="param.searchFile.length" ng-click="clearSearch()"></i>
                 </span>
    </ion-item>
    <ion-content class="partialFiles bgf6 mb45" style="margin-top:40px;">
        <div ng-class="{'hidden':param.flag==true}" >
            <ion-list>
                <div>
                   <!-- <p class="h45 sb bgfff bbl" ng-click="selShop()">
                        <span class="fs15 colff66">
                         <img src="images/inventory/fenShop.png" class="ml10 fenShopPic">
                         美容院分店
                     </span>
                        <img src="images/more.png" class="more mr10" style="margin-top: 20px;" >
                    </p>-->
                    <ul class="bgfff">
                        <li class="h50  ml20 bbl" style="display: flex" ng-repeat="item in addFamily" ng-click="mployeesDtails(item.id)" ui-sref="mployeesDtails({id:item.id})">
                            <p style="height:40px;line-height: 40px;width:40px;border-radius: 50%; "class="mt5" >
                                <img ng-src="{{item.photo}}" style="height:40px;line-height: 40px;width:40px;border-radius: 50%; ">
                            </p>
                            <span class="fs15 col333 ml10">{{item.name}}</span>
                            <p style="height:20px;line-height: 20px;border: solid 1px #FF6666;margin-top:17px;border-radius: 3px;" class="ml10 fs15 colff66">
                                <span class="mr5 ml10 ">{{item.role}}</span>
                            </p>
                        </li>
                    </ul>
                   <!-- <div style="position: absolute;height:100%;background:rgba(0,0,0,0.2);top:40px;width:100%;z-index: 1000" ng-show="param.flag" ng-click="all()">
                        <div class="list bgfff">
                            <p class="h50 item " ng-repeat="item in shopList" ng-click="selShopTrue(item.sysShopId)">
                                <span class="ml10">{{item.sysShopName}}</span>
                            </p>
                        </div>
                    </div>-->
                </div>
            </ion-list>
        </div>
    </ion-content>
    <div class="h50  bgff66" style="position: absolute;bottom: 0;width:100%;">
        <p class="fs16 colfff ml10 center" ng-click="addEmployeesGo()">添加家人</p>
    </div>
</ion-view>