<ion-view>
    <ion-content class="partialFiles bgf6">
        <div>
            <ion-list>
                <ion-item class="item-input" style="background: border-box;height: 40px; ">
                <span class="item-input-wrapper" style="margin-right:10px;height:30px;margin-left:10px;" >
                        <i class="icon ion-ios-search placeholder-icon" ng-click="search()"></i>
                        <input id="search" type="search" placeholder="找人" ng-model="searchCont.key" >
                        <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                           on-tap="clearSearch()" ng-if="searchCont.key.length"></i>
                 </span>
                </ion-item>
                <div>
                    <p class="h45 sb bgfff bbl">
                     <span class="fs15 colff66">
                         <img src="images/inventory/fenShop.png" class="ml10 fenShopPic">
                         美容院分店
                     </span>
                        <img src="images/inventory/shou.png" class="shouPic mr10" style="margin-top: 20px;">
                    </p>
                    <ul class="bgfff">
                        <li class="h50  ml20 bbl" style="display: flex" ng-repeat="item in [0,1,2]" ng-click="selEmployees($index)

">
                            <span class="mr10">
                                 <i class="icon ion-ios-checkmark-outline" style="color:#FF6666;font-size:20px;" ng-if="param.index!=$index"></i>
                                 <i class="icon icon ion-ios-checkmark" style="color:#FF6666;font-size:20px;" ng-if="param.index==$index"></i>
                            </span>

                            <p style="height:40px;line-height: 40px;width:40px;background: gainsboro;border-radius: 50%; "class="mt5" ></p>
                            <span class="fs15 col333 ml10">花花</span>
                            <p style="height:20px;line-height: 20px;border: solid 1px #FF6666;margin-top:17px;border-radius: 3px;" class="ml10 fs15 colff66">
                                <span class="mr5 ml10 ">前台</span>
                                <span class="mr5 ml5">boss</span>
                                <span class="mr5 ml5">员工</span>
                            </p>

                        </li>
                    </ul>
                </div>
            </ion-list>
        </div>
    </ion-content>
    <div class="h50  bgff66" style="position: absolute;bottom: 0;width:100%;">
        <p class="fs16 colfff ml10 center" ng-click="addEmployeesGo()">添加家人</p>
    </div>
</ion-view>