
<ion-view>
    <ion-content class="partialFiles mb45" scroll="true">
        <div >
            <ion-list>
                <ion-item class="pd10 h50 sb">
                    <span class="fs16 col333">产品类型</span>
                    <p class="fs14 col666">
                        <span class="mr10"><img src="images/seltrue.png" class="selGray "> 客装</span>
                        <span class="mr10"><img src="images/selRed.png" class="selGray "> 院装</span>
                        <span><img src="images/selRed.png" class="selGray"> 易耗品</span>
                    </p>
                </ion-item>
            </ion-list>
            <p class="h45"></p>
            <ion-list>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">选择品牌<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 产品 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">选择系列<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 补水系列 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">产品名称<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 雪痕 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
            </ion-list>
            <div class="bgfff">
                <p class="h50  ml15 bbl fs16">
                    图片<span class="col999">（最多可上传6张）</span>
                </p>
                <div style="height:130px;line-height: 130px;display: flex">
                    <p style="height:105px;position: relative" class="ml15">
                        <input type="file" style="position: absolute;top:50%;left:50%;margin-top:-20px;margin-left: -20px;width:40px;height:40px;opacity: 0;">
                        <img src="images/inventory/upload.png" class="uploadPic ">
                    </p>
                </div>
            </div>
            <p class="h45"></p>
            <ion-list>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">市场价<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 299.00 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">优惠价格<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 20.00 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
            </ion-list>
            <p class="h45"></p>
            <ion-list>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">产品编号<span class="colff66"></span></p>
                    <p class="fs14 col999">
                        <span> 245 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">规格<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 24 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">单位<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 件 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">适用部位<span class="colff66"></span></p>
                    <p class="fs14 col999">
                        <span> 眼部 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 ">
                    <div class="h50 sb">
                        <p class="fs16 col333">功效<span class="colff66"></span></p>
                        <p class="fs14 col999">
                            <span>  <img src="images/more.png" class="more"></span>
                        </p>
                    </div>
                    <div style="display: flex;flex-flow: wrap;">
                        <span style="display: inline-block;padding: 0 7px;border-radius:4px;border:solid 1px #FF6666;height:20px;line-height: 20px;color: #FF6666;margin-bottom: 10px;margin-right:10px; "class="fs14" ng-repeat="item in [0,1,2,3,4,5,6,7,8,9]">美白</span>
                    </div>

                </ion-item>

                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">二维码/条形码<span class="colff66">    </span></p>
                    <p class="fs14 col999">
                        <span> 已设置 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">保质期(月)<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span> 24 <img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">产品有效预警器(天)<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span>30<img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
                <ion-item class="pd10 h50 sb">
                    <p class="fs16 col333">库存预警数量<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span>30<img src="images/more.png" class="more"></span>
                    </p>
                </ion-item>
            </ion-list>
            <ul>
                <li class="item item-toggle h50 pd10">
                    启用(是否在价目表展示)
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
                <li class="item item-toggle h50 pd10">
                    小程序首页展示
                    <label class="toggle toggle-assertive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </li>
            </ul>
            <div class="sb bgfff" style="height:95px;">
                <label class=" fs16 col333 ml15 mt10">简介</label>
                <textarea class="  fs14 col999 mt10 mr15 pd10" style="border: 1px solid #CCCCCC;border-radius: 4px;height:80px;width:80%" placeholder="请输入产品的备注信息，最长不超过50个字">
请输入产品的备注信息，最长不超过50个字
                </textarea>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer bgff66 colfff fs16">
        <div class="title">保存</div>
    </div>
</ion-view>
