<ion-view>
    <ion-content class="partialFiles" scroll="true">
        <div>
            <div class="bgfff">
                <p class="row">
                    <span class="col col-25 fs14 col888">单号</span>
                    <span class="col col-75 fs14 col333">R3017541243382</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库时间</span>
                    <span class="col col-75 fs14 col333">3018-04-12 09:08</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">单据号</span>
                    <span class="col col-75 fs14 col333"></span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库仓库</span>
                    <span class="col col-75 fs14 col333">汉方美业</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库类型</span>
                    <span class="col col-75 fs14 col333">采购入库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库类型</span>
                    <span class="col col-75 fs14 col333">采购入库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">申请人</span>
                    <span class="col col-75 fs14 col333">唯美度</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">状态</span>
                    <span class="col col-75 fs14 col333">已入库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">备注</span>
                    <span class="col col-75 fs14 col333"></span>
                </p>
            </div>
            <div>
                <P class="fs12 col333 h30 mt10 ml20">产品信息</P>
                <div style="border:solid 1px #e6e6e6;border-radius: 6px;width:90%;margin:0 auto 10px;box-shadow: 0 2px 4px 0 rgba(153,153,153,0.20) " class="">
                    <ion-list>
                        <ion-item style="height:90px;border-radius:6px 6px 0 0" class="sb">
                            <div style="display: flex">
                                <p style="height:70px;border:solid 1px #f6f6f6;width:75px;" class="mt10 ml10">
                                    <img src="">
                                </p>
                                <div class="ml10 mt10">
                                    <P class="fs14 col333 ">健肤小喷</P>
                                    <P class="fs12 col888 mt10">编号：</P>
                                    <P class="fs12 col888">
                                        <span>单位：件</span>
                                        <span class="ml50">规格：1000g</span>
                                    </P>
                                </div>
                            </div>
                            <p>
                               <span style="border: 1px solid #FF6666;border-radius: 100px;width:45px;height:20px;line-height: 20px;display: inline-block;" class="colff66 fs11   center mt10 mr10">修改</span>
                            </p>
                        </ion-item>
                    </ion-list>
                    <p class="h40 sb bbl" style="background: #F6F6F6;">
                        <span class="ml20 fs14 col333">出库数量</span>
                        <span class="mr20 fs14 col333">2</span>
                    </p>
                    <p class="h40 sb bbl" style="background: #F6F6F6;">
                        <span class="ml20 fs14 col333">生产日期</span>
                        <span class="mr20 fs14 col333">2018-04-13</span>
                    </p>
                    <p class="h40 sb bbl" style="background: #F6F6F6;border-radius: 0 0 6px 6px;">
                        <span class="ml20 fs14 col333">进货单价</span>
                        <span class="mr20 fs14 col333">20.00</span>
                    </p>
                </div>
                <div style="border:solid 1px #e6e6e6;border-radius: 6px;width:90%;margin:auto;box-shadow: 0 2px 4px 0 rgba(153,153,153,0.20)">
                    <ion-list>
                        <ion-item style="height:90px;border-radius:6px 6px 0 0" class="sb">
                            <div style="display: flex">
                                <p style="height:70px;border:solid 1px #f6f6f6;width:75px;" class="mt10 ml10">
                                    <img src="">
                                </p>
                                <div class="ml10 mt10">
                                    <P class="fs14 col333 ">健肤小喷</P>
                                    <P class="fs12 col888 mt10">编号：</P>
                                    <P class="fs12 col888">
                                        <span>单位：件</span>
                                        <span class="ml50">规格：1000g</span>
                                    </P>
                                </div>
                            </div>
                            <p >
                               <img src="images/inventory/modify.png" class="modifyPic mr10 mt10">
                            </p>
                        </ion-item>
                    </ion-list>
                    <p class="h40 sb bbl" style="background: #F6F6F6;">
                        <span class="ml20 fs14 col333">出库数量</span>
                        <span class="mr20 fs14 col333">2</span>
                    </p>
                    <p class="h40 sb bbl" style="background: #F6F6F6;">
                        <span class="ml20 fs14 col333">生产日期</span>
                        <span class="mr20 fs14 col333">2018-04-13</span>
                    </p>
                    <p class="h40 sb bbl" style="background: #F6F6F6;border-radius: 0 0 6px 6px;">
                        <span class="ml20 fs14 col333">进货单价</span>
                        <span class="mr20 fs14 col333">20.00</span>
                    </p>
                </div>
            </div>

        </div>
        </div>
    </ion-content>
</ion-view>