<ion-view>
    <ion-content class="partialFiles">
        <div>
            <div class="bgfff">
                <p class="row">
                    <span class="col col-25 fs14 col888">单号</span>
                    <span class="col col-75 fs14 col333">R3017541243382</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库时间</span>
                    <span class="col col-75 fs14 col333">3018-04-12 09:08</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">单据号</span>
                    <span class="col col-75 fs14 col333"></span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库仓库</span>
                    <span class="col col-75 fs14 col333">汉方美业</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库类型</span>
                    <span class="col col-75 fs14 col333">采购入库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">入库类型</span>
                    <span class="col col-75 fs14 col333">采购入库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">申请人</span>
                    <span class="col col-75 fs14 col333">唯美度</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">状态</span>
                    <span class="col col-75 fs14 col333">已出库</span>
                </p>
                <p class="row">
                    <span class="col col-30 fs14 col888">备注</span>
                    <span class="col col-75 fs14 col333"></span>
                </p>
            </div>
            <div>
                <P class="fs12 col333 h30 mt10 ml20 ">产品信息</P>
                <div style="border:solid 1px #e6e6e6;border-radius: 6px;width:90%;margin:auto;box-shadow: #e6e6e6 2px 2px ">
                    <ion-list>
                        <ion-item style="height:90px;border-radius:6px 6px 0 0" class="sb">
                            <div style="display: flex">
                                <p style="height:70px;border:solid 1px #f6f6f6;width:75px;" class="mt10 ml10">
                                    <img src="">
                                </p>
                                <div class="ml10 mt10">
                                    <P class="fs14 col333 ">健肤小喷</P>
                                    <P class="fs12 col888 mt10">编号：</P>
                                    <P class="fs12 col888">
                                        <span>单位：件</span>
                                        <span class="ml50">规格：1000g</span>
                                    </P>
                                </div>
                            </div>

                        </ion-item>
                    </ion-list>
                    <p class="h40 sb" style="background: #F6F6F6;border-radius: 0 0 6px 6px;">
                        <span class="ml20 fs14 col333">入库数量</span>
                        <span class="mr20 fs14 col333">2</span>
                    </p>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>