<ion-view>
    <ion-content class="partialFiles">
       <div>
           <p class="h30 bgfff" style="display: flex;justify-content: space-around">
               <span class="fs13 colff66">2018-04-01</span>
               <span class="fs13 col333">至</span>
               <span class="fs13 colff66">2018-04-01</span>
           </p>
           <div style="border:solid 1px #e6e6e6;border-radius: 6px;width:90%;margin:10px auto;box-shadow: 0 2px 4px 0 rgba(153,153,153,0.20)"  ng-repeat="item in [0,1,2]">
               <ion-list>
                   <ion-item style="height:90px;border-radius:6px " class="sb">
                       <div >
                           <div class="ml10 mt10">
                               <P class="fs14 col333 ">汉方美业</P>
                               <P class="fs12 col888 ">时间：2018-04-12 09:08</P>
                               <P class="fs12 col888">
                                   <span>出库类型：</span>
                                   <span class="ml10 colff66"> 赠送</span>
                               </P>
                           </div>
                       </div>
                       <p style="line-height: 90px;">
                           <img src="images/inventory/outbound.png" class="overPic mr10">
                       </p>
                   </ion-item>
               </ion-list>

           </div>
       </div>
    </ion-content>
</ion-view>