<ion-view>
    <ion-content class="partialFiles">
        <div class="bgfff">
            <p class="h45 ml10 bbl" >
                内部员工
            </p>
            <p class="h45 ml10 bbl" >
                顾客
            </p>
            <p class="h45 ml10 bbl" >
                赠送
            </p>
            <p class="h45 ml10 bbl" >
                报废
            </p>
            <p class="h45 ml10 bbl" >
                院用
            </p>
            <p class="h45 ml10 bbl" >
                退回供应商
            </p>
            <p class="h45 ml10 bbl" >
                下发到店
            </p>
        </div>
    </ion-content>
</ion-view>