<ion-view>
    <ion-content class="partialFiles bgfff" scroll="false">
        <div>
            <p style="height:160px;line-height: 160px;margin:20px auto 0;width:87px;" >
                <img src="images/inventory/successfulInventory.png" class="successfulInventoryPic" >
            </p>
            <p class="fs16 col333 center">已成功入库！</p>
            <p class="fs14 col333 center mt10">恭喜您，已成功将产品入库，</p>
            <p class="fs14 col333 center mt10">您的仓库又增加了产品，赶快去查看下吧！</p>

        </div>
    </ion-content>
</ion-view>