<ion-view>
    <ion-content class="partialFiles bgfff bgf6" scroll="false">
        <div>
            <p style="height:160px;line-height: 160px;margin:20px auto 0;width:87px;" >
                <img src="images/inventory/successfulInventory.png" class="successfulInventoryPic" >
            </p>
            <p class="fs16 col333 center">已成功入库！</p>
            <p class="fs14 col333 center mt10">恭喜您，已成功将产品入库，</p>
            <p class="fs14 col333 center mt10">您的仓库又增加了产品，赶快去查看下吧！</p>



            <div class="center mt55">
                <p style="border-radius: 10px;border: solid #FF6666 1px; width:100px;height:25px;line-height: 25px;margin:auto;color: #FF6666" class="fs15" ng-click="entryDetailsGo()">
                    查看详情
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>