<div class="login">
    <div class="login_input">
        <p>欢迎登录</p>
        <div class="information">
            <ul>
                <li>
                    <input ng-model="param.phone" type="text" placeholder="手机号">
                </li>
                <li class="pos_re">
                    <input ng-model="param.code" type="text" placeholder="验证码">
                    <span ng-click="getCode()">{{param.timeContent}}</span>
                </li>
                <li ng-click="login()" class="login_btn">
                    登录
                </li>
            </ul>
        </div>
    </div>
</div>