<ion-view class="bg">
    <ion-content ng-click="none()">
        <!--日期部分-->
        <div class="bgRgb" >
            <input  class="time orderPayStartTime laydate-icon fs15 colff" id="time"  ng-click="dataS('#time');$event.stopPropagation()" style="background-color: #fff0;border:none;text-indent:55px;background-image:url('images/work/date.png');background-size: 20px 20px;background-position:10% center;" value="{{date}}">

        </div>
        <ion-item  class=" bgfff row " ng-repeat="item in appointment"   ng-click="healthClubGo(item.bossRelationDTO.sysShopId)" >
                <div class="col col-80" >
                    <p  class="fs15 col33">{{item.bossRelationDTO.sysShopName}}</p >
                    <p  class="fs12 col88">
                        <img src="images/work/minute.png" style="display: inline-block;width: 15px;height: 15px;margin-left: 5px"><span style="margin-left: 17px">{{item.appointmentNum}}个预约</span>
                    </p >
                </div>
                <div class="col col-20">
                    <img src="images/work/holiday.png" style="float: right;width: 20px;height: 20px;margin-top:8px">
                </div>


        </ion-item>
    </ion-content>
</ion-view>