<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <img src="images/work/date.png" class="dateImg" ><span class="date">2016-03-01</span><img src="images/work/drop-down.png" class="dropImg">
        </div>
        <ion-item  class="h60 bgfff row" ng-repeat="item in [1,2,3,4]">
            <div class="col col-80" >
                <p  class="fs15 col33">美容院分店</p >
                <p  class="fs12 col88">
                    <img src="images/work/minute.png" style="display: inline-block;width: 15px;height: 15px;margin-left: 5px"><span style="margin-left: 17px">5个预约</span>
                </p >
            </div>
            <div class="col col-20">
                <img src="images/work/holiday.png" style="float: right;width: 20px;height: 20px;margin-top:8px">
            </div>
        </ion-item>
    </ion-content>
</ion-view>