<ion-view class="bg">
    <ion-content ng-click="none()">
        <!--日期部分-->
        <div class="bgRgb">
            <input  class="time orderPayStartTime laydate-icon fs15 colff" id="time"  ng-click="dataS('#time');$event.stopPropagation()" style="background-color: #fff0;border:none;text-indent:55px;background-image:url('images/work/date.png');background-size: 20px 20px;background-position:10% center;" value="{{date}}">

        </div>
        <ion-item  class=" bgfff row" ng-repeat="(key,val) in beautySalon"  ng-click="canceledGo(val.sysClerkDTO.id)">
            <div class="col col-15" style="line-height: 49px;">
                <p style="height:42px;width:42px;background: gainsboro;border-radius: 50%;">
                    <img ng-src="{{val.sysClerkDTO.photo}}">
                </p >
            </div>

            <div class="col col-60" >
                <p class="fs15"><span>{{val.sysClerkDTO.name}}</span><span style="margin-left: 20px;width:80px;height: 20px;display: inline-block;border: 1px solid rgb(255,102,102);border-radius: 8px;text-align: center;line-height: 20px;color:#ff6666;font-size: 12px">{{val.sysClerkDTO.role}}</span></p >
                <p class="fs12 col88">
                    <img src="images/work/minute.png" style="display: inline-block;width: 15px;height: 15px;margin-left: 5px"><span style="margin-left: 17px">{{val.point}}个预约</span>
                </p >
            </div>
            <div class="col col-25">
                <img src="images/work/Hugh.png" style="float: right;width: 20px;height: 20px;margin-top:8px">
            </div>
        </ion-item>
    </ion-content>
</ion-view>