<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <img src="images/work/date.png" class="dateImg" ><span class="date">2016-03-01</span><img src="images/work/drop-down.png" class="dropImg">
        </div>
        <!--业绩耗卡-->
        <div class="list">
            <a class="item">
                <div class="list " style="background:url('images/work/analysis.png');background-size:100% 100%;border-radius: 10px">
                    <div class="row">
                        <div class=" col col-33 tc">
                            业绩
                            <p class="colff">32</p>
                        </div>
                        <div class=" col col-33 tc " >
                            耗卡
                            <p class="colff">8</p>
                        </div>
                        <div class=" col col-33 tc" >
                            耗卡
                            <p class="colff">32</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--唯美度美容养生会所-->
        <div class="list" ng-repeat="item in [1,2,3]" ui-sref="beautyBranch">
            <p class="item"><span>唯美度美容养生会所</span><i style="float:right;font-size: 0.3rem" class="ion ion-ios-arrow-right"></i></p>
            <div class="row bgfff col33 tc p0" >
                <div class="col col-33 bre5e5" >
                    人头数
                    <p style="margin-top: 10px">18</p>
                </div>
                <div class="col col-33 bre5e5">
                    新客
                    <p  class="mt10">6</p>
                </div>
                <div class="col col-33" >
                    人次数
                    <p  class="mt10">18</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>