<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <ionic-datepicker input-obj="datepickerObjectEnd">
                <img src="images/work/date.png" class="dateImg" >
                <span class="date">{{param.date}}</span>
                <img src="images/work/drop-down.png" class="dropImg">
            </ionic-datepicker>
            <span  class="fs15 fr mr10 colfff" ng-click="tabShop()">切换店铺</span>
        </div>
        <!---->
        <div class="list employeeAnalysisBox">
            <div class="row tc bgfff col33 p0 fs14">
                <div class="col col-25 bre5e5"  >
                    姓名
                </div>
                <div class="col col-25 bre5e5" style="position: relative;">
                   <p style="margin-left: -20px">业绩</p>
                    <p style="position: absolute;right: 17%;top: 27%">
                        <img src="images/work/Above.png" alt="" style="width: 12px;height: 10px;margin-bottom: 3px;display: block" ng-click=" sorting('income','asc')">
                        <img src="images/work/Below.png" alt="" style="width: 12px;height: 10px;display: block"  ng-click=" sorting('income','desc')">
                    </p>
                </div>
                <div class="col col-25 bre5e5" style="position: relative;">
                     <p style="margin-left: -20px">卡耗</p>
                    <p style="position: absolute;right: 17%;top: 27%">
                        <img src="images/work/Above.png" alt="" style="width: 12px;height: 10px;margin-bottom: 3px;display: block" ng-click=" sorting('kahao','asc')">
                        <img src="images/work/Below.png" alt="" style="width: 12px;height: 10px;display: block" ng-click=" sorting('kahao','desc')">
                    </p>
                </div>
                <div class="col col-25" style="position: relative">
                    <p style="margin-left: -20px">耗卡</p>
                    <p style="position: absolute;right: 17%;top: 27%">
                        <img src="images/work/Above.png" alt="" style="width: 12px;height: 10px;margin-bottom: 3px;display: block" ng-click=" sorting('expenditure','asc')">
                        <img src="images/work/Below.png" alt="" style="width: 12px;height: 10px;display: block" ng-click=" sorting('expenditure','des')">
                    </p>
                </div>
            </div>
            <!---->
            <div class="row tc bgfff col33  p0 fs13"  style="border: 1px solid #e5e5e5" ng-repeat="item in employeeAnalysis">
                <div class="col col-25" style="border-right: 1px solid #e5e5e5">
                   {{item.sysShopClerkName}}
                </div>
                <div class="col col-25 bre5e5" >
                  {{item.income}}
                </div>
                <div class="col col-25 br">
                  {{item.kahao}}
                </div>
                <div class="col col-25">
                    {{item.expenditure}}
                </div>
            </div>
        </div>
        <div style="width:100%;height:100%;background:rgba(0,0,0,0.2);position: absolute;top:0" ng-if="param.displayShopBox" ></div>
        <!--点击切换店铺显示的店铺列表-->
        <div class="list " ng-if="param.displayShopBox" style="position: absolute;bottom:0;width:100%;">
            <p class="item" ng-click="choseShop(item.id)"ng-repeat="item in shopList">{{item.sysShopName}}</p>
        </div>


    </ion-content>
</ion-view>