<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <img src="images/work/date.png" class="dateImg" ><span class="date">2016-03-01</span><img src="images/work/drop-down.png" class="dropImg">
        </div>
        <!--业绩耗卡-->
        <div class="list">
            <a class="item p10" >
                <div class="list incomeAnalysisBox" style="position: relative;border-radius: 10px;">
                    <div style="text-align: center;margin: auto;margin-top: 5%">
                        <p  class="colff">现金收益</p>
                        <p  class="colff">4689.00</p>
                    </div>
                    <p  style="position: absolute;bottom: 15px;left: 36%;background: rgb(255,211,211);border-radius: 10px;width: 100px;height: 17px;font-size: 11px;text-align: center;color: #ff6666"><img src="images/work/map.png" style="width: 12px;height: 10px;display: inline-block;">近7日趋势图</p>
                </div>
                <div class="row col33 p0" >
                    <div class="col col-50 tc fs13" >
                        总收入
                        <p  class="colff66">+8089.00</p>
                    </div>
                    <div class="col col-50 tc fs13" >
                        总支出
                        <p class="colff66">-8920.00</p>
                    </div>
                </div>
            </a>
        </div>
        <!--总收入-->
        <div class="list" ui-sref="incomeDetails">
            <p class="item p8"><span>总收入</span><span  class="fr fs15 colff66">+124868.80<i style="margin-left: 10px;color: #999999" class="ion ion-ios-arrow-right"></i></span></p>
            <div class="row row-wrap bgfff col33 tc p0">
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/recharge.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    现金
                    <p  class="mt5">46698.60</p>
                </div>
                <div class="col col-50"  style="padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/Arrears.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    银行卡
                    <p  class="mt5">16418.80</p>
                </div>
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;position: relative">
                    <img src="images/work/WeChat.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    微信
                    <p  class="mt5">46698.60</p>
                </div>
                <div class="col col-50"  style="padding-top: 10px;position: relative">
                    <img src="images/work/Alipay.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    支付宝
                    <p  class="mt5">-16418.80</p>
                </div>
            </div>
        </div>
        <!--总支出-->
        <div class="list" ui-sref="incomeDetails">
            <p class="item p8" ><span>总支出</span><span class="fr fs15 colff66">-124868.80<i  class="ml10 col99" class="ion ion-ios-arrow-right"></i></span></p>
            <div class="row row-wrap bgfff col33 tc p0" >
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/refund.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    退款
                    <p class="mt5">46698.60</p>
                </div>
                <div class="col col-50"  style="padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/payCard.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    <p style="margin-left: 0.5rem">刷卡手续费</p>
                    <p class="mt5">16418.80</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>