<ion-view class="bg">
    <ion-content>
        <br>
        <center>
            <h1>
                业绩七日趋势图（单位：元）
            </h1>
        </center>
        <br>
        <highchart style="width:100%;height:300px"
                   series="series"
                   options="options">
        </highchart>
        <br>
        <center>
            <h1>
                卡耗七日趋势图（单位：张）
            </h1>
        </center>
        <br>test
        <highchart style="width:100%;height:300px"
                   series="cardSeries"
                   options="cardOptions">
        </highchart>
    </ion-content>
</ion-view>