<div class="demo_box">
    <div class="demo_font">
        <span>我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字我是测试文字</span>
    </div>
    <div ng-include="'itemList/demo/include.html'">
    </div>
    <button ng-click="showMessage()">打开弹窗</button>
</div>
<script type="text/ng-template" id="showMessage">
    <span>我是弹窗</span>
    <div>
        <button ng-click="close()">关闭</button>
    </div>
</script>